

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/templates/ts_dailytimes/css/home.css
================================================================================*/
.home h1{line-height:1}.home h2{font-size:21px}@media screen and (min-width:768px){.home h2{font-size:30px}}.home .jumbotron{background-color:transparent;position:relative;margin-bottom:0}.home .t3-sl-1{padding:0;background:#ffffff;color:#333333;border-bottom:1px solid #eeeeee}.home .t3-sl-1 .jumbotron{border-radius:0}.home .t3-sl-1 .jumbotron .btn{margin-top:20px}.home .t3-sl-2{text-align:center}.home .t3-sl-2 .img-responsive{display:inline-block}@media screen and (min-width:768px){.home .t3-sl-2 p{font-size:16px;line-height:22px}}.home .t3-sl-3 p > img{margin-top:20px}@media screen and (min-width:992px){.home .t3-sl-3 p > img{margin-top:0}}.home .t3-sl-3,.home .t3-sl-4{border-top:1px solid #eeeeee;text-align:center}@media screen and (min-width:768px){.home .t3-sl-3 p,.home .t3-sl-4 p{font-size:16px;line-height:22px}}.home .t3-sl-3 .jumbotron,.home .t3-sl-4 .jumbotron{padding-top:0}.home .t3-sl-3 .jumbotron h1,.home .t3-sl-4 .jumbotron h1{margin-bottom:10px;margin-top:0}.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:18px;line-height:1.25;color:#999999}@media screen and (min-width:768px){.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:21px}}.home .t3-sl-5{background:#ffffff;color:#333333;border-top:1px solid #eeeeee;padding:0}.home .t3-sl-5 .jumbotron{border-radius:0;margin-bottom:0}


/*===============================
/modules/mod_sp_social/assets/css/default/sp_social.css
================================================================================*/
div.sp_social{}div.sp_social ul{list-style:none;padding:0;margin:0}div.sp_social ul li{display:inline-block;padding:0;margin:0 2px 0 0;background:none}div.sp_social ul li a{display:block;padding:0;margin:0;background-color:none;background-repeat:no-repeat;background-position:50%;font-size:12px;border:0;text-decoration:none}div.sp_social.icon_size_32 ul li a{width:32px;height:32px}div.sp_social.icon_size_16 ul li a{width:16px;height:16px}div.sp_social ul li a:hover{background-color:none;text-decoration:none}div.sp_social ul li a span{display:none}div.sp_social ul li a strong{display:none} div.sp_social.icon_size_32 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/32/rss.png)}div.sp_social.icon_size_32 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/32/facebook.png)}div.sp_social.icon_size_32 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/32/twitter.png)}div.sp_social.icon_size_32 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/32/google_plus.png)}div.sp_social.icon_size_32 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/32/linkedin.png)}div.sp_social.icon_size_32 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/32/youtube.png)}div.sp_social.icon_size_32 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/32/pinterest.png)}div.sp_social.icon_size_32 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/32/flickr.png)}div.sp_social.icon_size_32 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/32/picasa.png)}div.sp_social.icon_size_32 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/32/myspace.png)}div.sp_social.icon_size_32 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/32/digg.png)}div.sp_social.icon_size_32 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/32/skype.png)}div.sp_social.icon_size_32 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/32/vimeo.png)}div.sp_social.icon_size_32 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/32/delicious.png)} div.sp_social.icon_size_16 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/16/rss.png)}div.sp_social.icon_size_16 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/16/facebook.png)}div.sp_social.icon_size_16 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/16/twitter.png)}div.sp_social.icon_size_16 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/16/google_plus.png)}div.sp_social.icon_size_16 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/16/linkedin.png)}div.sp_social.icon_size_16 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/16/youtube.png)}div.sp_social.icon_size_16 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/16/pinterest.png)}div.sp_social.icon_size_16 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/16/flickr.png)}div.sp_social.icon_size_16 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/16/picasa.png)}div.sp_social.icon_size_16 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/16/myspace.png)}div.sp_social.icon_size_16 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/16/digg.png)}div.sp_social.icon_size_16 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/16/skype.png)}div.sp_social.icon_size_16 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/16/vimeo.png)}div.sp_social.icon_size_16 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/16/delicious.png)} .rtl div.sp_social ul li{margin:0 0 0 2px}


/*===============================
http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/css/style.css
================================================================================*/
a:active,a:focus{outline:0}.gkHighlighterGK5{position:relative;width:100%} .gkHighlighterInterface{float:left;padding:0 7px }.gkHighlighterInterface[data-pos="right"]{float:right}.gkHighlighterInterface span.text{display:block;float:left;margin:0 6px 0 7px;font-size:11px;font-weight:bold;text-transform:uppercase;line-height:18px}.gkHighlighterInterface div{float:left;width:auto}.gkHighlighterInterface div a{display:block;float:left;height:13px;width:13px;margin:2px 0 0 2px;background:transparent url('http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/images/interface.png') no-repeat 0 0;cursor:pointer}.gkHighlighterInterface div a.prev{}.gkHighlighterInterface div a.next{background-position:right 0}.gkHighlighterInterface div a.prev:hover{background-position:0 bottom}.gkHighlighterInterface div a.next:hover{background-position:right bottom} .gkHighlighterWrapper{position:relative}.gkHighlighterWrapperSub{position:relative;min-height:30px;opacity:1}.gkHighlighterWrapper .nowrap{width:100000px;position:absolute;left:-99999em}.gkHighlighterWrapper .gkHighlighterItem{position:absolute;top:0;width:100%;left:0}.gkHighlighterWrapper .gkHighlighterItem.gk-active{z-index:100}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.gkHighlighterItem.flipInX{-webkit-backface-visibility:visible !important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible !important;-moz-animation-name:flipInX;-o-backface-visibility:visible !important;-o-animation-name:flipInX;backface-visibility:visible !important;animation-name:flipInX;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}}@-moz-keyframes flipOutX{0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}}@-o-keyframes flipOutX{0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{transform:perspective(400px) rotateX(0deg);opacity:1}100%{transform:perspective(400px) rotateX(90deg);opacity:0}}.gkHighlighterItem{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.gkHighlighterItem.flipOutX{-webkit-animation-name:flipOutX;-webkit-backface-visibility:visible !important;-moz-animation-name:flipOutX;-moz-backface-visibility:visible !important;-o-animation-name:flipOutX;-o-backface-visibility:visible !important;animation-name:flipOutX;backface-visibility:visible !important;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.gkHighlighterItem.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;opacity:1!important;filter:alpha(opacity=100)!important}.invisible{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-20px)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-20px)}}@-o-keyframes fadeOutLeft{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-20px)}}@keyframes fadeOutLeft{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-20px)}}.gkHighlighterItem.fadeOutLeft{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.gkHighlighterItem.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.gkHighlighterItem.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"} .bar{width:100%px;height:40px;position:relative;-webkit-perspective:1100px;-moz-perspective:1100px;-ms-perspective:1100px;-o-perspective:1100px;perspective:1100px}.bar .gkHighlighterWrapperSub{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d}.bar .gkHighlighterItem{display:block;position:absolute;width:100%;height:40px;left:0px;top:0px;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:antialiased }.bar .gkHighlighterItem.gkHidden{opacity:0;display:none}.bar .gkHighlighterItem.front{-webkit-transform:rotateX(0deg) translateZ(20px);-moz-transform:rotateX(0deg) translateZ(20px);-o-transform:rotateX(0deg) translateZ(20px);transform:rotateX(0deg) translateZ(20px)}.bar .gkHighlighterItem.bottom{-webkit-transform:rotateX(90deg) translateZ(20px);-moz-transform:rotateX(90deg) translateZ(20px);-o-transform:rotateX(90deg) translateZ(20px);transform:rotateX(90deg) translateZ(20px)}.bar .gkHighlighterItem.back{-webkit-transform:rotateX(180deg) translateZ(20px);-moz-transform:rotateX(180deg) translateZ(20px);-o-transform:rotateX(180deg) translateZ(20px);transform:rotateX(180deg) translateZ(20px)}.bar .gkHighlighterItem.top{-webkit-transform:rotateX(270deg) translateZ(20px);-moz-transform:rotateX(270deg) translateZ(20px);-o-transform:rotateX(270deg) translateZ(20px);transform:rotateX(270deg) translateZ(20px)}


/*===============================
/media/sourcecoast/themes/sclogin/sourcecoast.css
================================================================================*/
.sclogin{overflow:visible;text-align:left}.sclogin .powered-by{clear:both}#login-modal{top:15%;height:auto !important}div.sclogin-social-login a.show,div.sclogin-joomla-login a.show,div.sclogin-social-connect a.show{margin-bottom:9px}div.sclogin-social-connect,div.social-login.reconnect:nth-of-type(2){clear:left}.sclogin li.connect .social-login.reconnect{clear:none}input#sclogin-username.input-block-level,input#sclogin-passwd.input-block-level{height:30px}.sclogin a.forgot.btn{height:54px !important;padding:0}.sclogin a.forgot.btn i{margin-top:16px}#form-sclogin-submitcreate a,.sclogin-modal-links a.btn,.scuser-menu a.dropdown-toggle{text-decoration:none !important}#form-sclogin-submitcreate a,.scuser-menu a.dropdown-toggle{color:#000000}.sclogin [class*="span"]{margin-left:0 !important}.sclogin .clearfix{clear:both}#sclogin-username,#sclogin-passwd{margin-top:0px} .sclogin-joomla-login.vertical input#sclogin-username.input-block-level,.sclogin-joomla-login.vertical input#sclogin-passwd.input-block-level{width:87% !important;height:54px !important}.sclogin-joomla-login.vertical a.forgot.btn{width:13% !important}.sclogin-joomla-login.vertical input#sclogin-username.input-append,.sclogin-joomla-login.vertical input#sclogin-passwd.input-append{width:100%}.sclogin-joomla-login.vertical #form-sclogin-submitcreate .btn{margin-top:2px !important} .sclogin-joomla-login.horizontal .control-group{margin-right:2px} .sclogin-modal-links a{margin-right:5px}.sclogin-modal-links a.btn-primary{color:#FFFFFF} .sourcecoast.modal .modal-title{font-size:28px;font-weight:300;margin-top:0;margin-bottom:26px;line-height:40px;color:#333}.sourcecoast .modal-header{border-bottom:0px none} .sclogin .flat-list{display:block !important;border:none !important;box-shadow:none !important;-webkit-box-shadow:none !important;margin-top:1px !important}.sclogin .logout-button{margin-top:0px}.sclogin .sclogout-button{float:left;margin-right:5px}.sclogin .logout-link{background-color:transparent;text-decoration:underline;border:none;color:#000000;cursor:pointer}.sclogin .scuser-menu.dropdown-view{float:left}.sclogin .scuser-menu.list-view{clear:both}.sclogin #scprofile-pic,.sclogin .sclogin-greeting{margin-bottom:5px}.sc-connect-user{clear:both}.header .sclogin span,.header .sclogin-modal-links{padding:0 10px}.header .sclogin span a,.header .sclogin-modal-links a{padding:10px 13px;margin-right:0px}.sclogin li.connect{margin-top:5px}.sclogin li.connect .reconnect a{padding:0}.sclogin .bottom{border-top:1px solid #ddd;padding-top:15px;padding-bottom:0px}.sclogin .top{border-bottom:1px solid #ddd;margin-bottom:20px;padding-top:0px;padding-bottom:15px}.sclogin .side{padding-left:15px}.sclogin-social-login .pull-left,.social-login.reconnect.pull-left{margin:5px}.sclogin-greeting,.sclogout-button{float:left}.sclogout-button form{margin:0px}.sclogout-button .btn{padding:4px 12px;margin-top:0px;margin-left:5px}.sclogin .nav span{font-size:13px}.sclogin .nav li{line-height:43px}.sourcecoast .btn{border:0;background-image:none;background-color:#333;padding:16px 22px}.sourcecoast .btn-primary{background-color:#46b277}.sourcecoast .btn-primary:hover{background-color:rgba(70,178,119,0.6)}


/*===============================
/modules/mod_bt_login/tmpl/css/style2.0.css
================================================================================*/
#simplemodal-overlay{background-color:#000}#simplemodal-container a.modalCloseImg{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) top no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}#simplemodal-container a.modalCloseImg:hover{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) bottom no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}.simplemodal-wrap{overflow:visible!important}.btl-content-block{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px;border:1px solid #dadada;box-shadow:8px 8px 8px rgba(0,0,0,0.4);display:none;height:auto;overflow:hidden;text-align:left;font-size:12px;position:relative}.btl-content-block form{margin:0;padding:0}.btl-content-block h3{background:url("/modules/mod_bt_login/tmpl/images/header_bglogin.jpg") repeat-x scroll left top transparent;font-weight:normal;line-height:35px;margin:0px;padding:3px 0px 0px 19px!important;text-transform:uppercase;font-size:18px}.btl-input > input[type=text],.btl-input > input[type=password],#recaptcha > input{border:1px solid #dadada;border-radius:4px;margin:5px 0;text-indent:5px;width:189px;height:26px;padding:0;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s}#recaptcha > input{width:100px}.btl-input > input:focus,#recaptcha > input:focus{border-color:#E9322D;box-shadow:0 0 6px #F8B9B7}#recaptcha span#btl-captcha-reload{display:inline-block;width:16px;height:16px;background:url('/modules/mod_bt_login/tmpl/images/reload.png') no-repeat;text-indent:-9999px;cursor:pointer}#btl{position:relative}#btl .btl-panel{overflow:hidden}#btl .btl-panel > #btl-panel-profile{background:url(/modules/mod_bt_login/tmpl/images/btl-panel-bg.png) top right no-repeat;padding-right:30px}button::-moz-focus-inner{padding:0;border:none}#btl .btl-panel > span{display:inline-block;height:26px;line-height:28px;padding:0 18px;cursor:pointer;text-indent:0!important;width:auto}#btl .btl-panel > span{margin:2px 0px;box-shadow:1px 1px 1px rgba(0,0,0,0.5)}#btl .btl-panel > span,button.btl-buttonsubmit,input.btl-buttonsubmit{border-radius:3px}#btl .btl-panel > span.active,button.btl-buttonsubmit:focus,input.btl-buttonsubmit:focus{opacity:0.8}.btl-error{display:none}.btl-error-detail{display:none;float:right;color:#FF0000;margin-bottom:4px}.btl-field,#register-link,.btl-error-detail,.btl-error,.btl-note{margin-left:20px;margin-right:25px!important;overflow:hidden}.btl-label{float:left!important}.btl-input{float:right!important}.btl-label,.btl-input{line-height:38px;height:38px}#recaptcha{height:auto!important;float:right}#btl-content-login .btl-input input{width:190px}#btl-input-remember{}#btl-checkbox-remember{width:15px!important;vertical-align:middle;padding:0;margin:0}.clear{clear:both}.btl-error{color:#FF0000}input.btl-buttonsubmit,button.btl-buttonsubmit{border:none!important;box-shadow:1px 1px 3px rgba(9,4,3,0.86);cursor:pointer;text-align:center!important;text-shadow:0 1px 1px #4A4A4A;width:auto!important;padding:0 12px;height:29px!important;;line-height:29px!important;;display:inline-block}div.btl-buttonsubmit{text-align:center!important;padding:5px 0 0 0!important;border-top:1px solid #dddddd;margin:10px 25px 30px 20px } #btl-content ul li a:hover{color:#7BA428 !important;text-decoration:underline!important;background-color:transparent!important}#btl-content > .btl-content-block{position:absolute!important;z-index:9999}#btl-content #btl-content-login{width:350px}#btl-content-registration{min-width:350px}.btl-note,#register-link{padding:18px 0px}#btl-content-login .btl-input{float:right}#btl-content-login .spacer{height:14px}#btl-content div.btl-buttonsubmit{border-top:1px dotted #c4c4c4}#btl-content #btl-content-login .btl-label{line-height:38px;min-width:0px!important} #btl-content #btl-content-profile{overflow:hidden}#module-in-profile{min-width:200px}#btl-content #btl-content-profile #module-in-profile ul{position:static;text-align:left;margin:0 0 0 15px;padding:0!important}#btl-content-profile ul.menu li{background:url("/modules/mod_bt_login/tmpl/images/bullet.png") no-repeat scroll 5px 15px transparent;padding:0 0 0 20px!important;border-bottom:1px solid #E8E8E8;display:list-item!important;line-height:37px}#btl-content #btl-content-profile #module-in-profile ul li a{color:#6b6b6b;text-decoration:none !important;text-transform:none!important;font-family:arial,tahoma}#btl-content-profile ul.menu li a{color:#616161!important;text-decoration:none!important;border:none!important;background:none!important;display:inline!important;padding:0!important;margin:0!important;text-transform:none!important}#btl-content-profile div.btl-buttonsubmit{clear:both;margin-bottom:15px;border:none!important;text-align:center;margin-top:0!important} #btl-register-in-process,#btl-login-in-process{display:none;background:url("/modules/mod_bt_login/tmpl/images/loading.gif") no-repeat #000 50%;opacity:0.4;width:100%;height:100%;position:absolute;z-index:9999;top:-1px;left:-1px;padding-top:1px;padding-left:1px} #btl-success{display:none;margin:20px 0 30px 0;background:url("/modules/mod_bt_login/tmpl/images/notice-info.png") no-repeat;display:none;color:#000;border-bottom:2px solid #90B203;border-top:2px solid #90B203;font-size:14px;padding:10px 10px 10px 25px} #bt_ul{margin-top:-10px!important;margin-bottom:20px!important;margin-right:25px!important;float:right} #btl-content-login ul{position:static!important;text-align:left;list-style-type:disc !important}#btl-content-login ul li{margin-top:3px}#bt_ul li a{padding:0!important;text-decoration:none!important;color:#545454!important}#btl-wrap-module{padding-left:20px;padding-bottom:20px;padding-top:10px}