

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/templates/ts_dailytimes/css/home.css
================================================================================*/
.home h1{line-height:1}.home h2{font-size:21px}@media screen and (min-width:768px){.home h2{font-size:30px}}.home .jumbotron{background-color:transparent;position:relative;margin-bottom:0}.home .t3-sl-1{padding:0;background:#ffffff;color:#333333;border-bottom:1px solid #eeeeee}.home .t3-sl-1 .jumbotron{border-radius:0}.home .t3-sl-1 .jumbotron .btn{margin-top:20px}.home .t3-sl-2{text-align:center}.home .t3-sl-2 .img-responsive{display:inline-block}@media screen and (min-width:768px){.home .t3-sl-2 p{font-size:16px;line-height:22px}}.home .t3-sl-3 p > img{margin-top:20px}@media screen and (min-width:992px){.home .t3-sl-3 p > img{margin-top:0}}.home .t3-sl-3,.home .t3-sl-4{border-top:1px solid #eeeeee;text-align:center}@media screen and (min-width:768px){.home .t3-sl-3 p,.home .t3-sl-4 p{font-size:16px;line-height:22px}}.home .t3-sl-3 .jumbotron,.home .t3-sl-4 .jumbotron{padding-top:0}.home .t3-sl-3 .jumbotron h1,.home .t3-sl-4 .jumbotron h1{margin-bottom:10px;margin-top:0}.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:18px;line-height:1.25;color:#999999}@media screen and (min-width:768px){.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:21px}}.home .t3-sl-5{background:#ffffff;color:#333333;border-top:1px solid #eeeeee;padding:0}.home .t3-sl-5 .jumbotron{border-radius:0;margin-bottom:0}


/*===============================
/modules/mod_jq-dailypop/style/css.css
================================================================================*/
#dailycomplete{visibility:hidden}#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,255,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#0000ff',EndColorStr='#0000ff');bottom:0;color:#FFFFFF;left:0;position:fixed;right:0;top:0;width:100%;z-index:10000;display:none}#dailyposition{height:87%;margin:auto;overflow:auto;padding:10px;width:100%}.copyrightyannt{background-color:rgba(0,0,0,0.4);box-shadow:0 0 10px #000;height:20px;padding:3px}.copyrightyannt a{float:right;text-shadow:1px 1px #333,-1px -1px #444;font-style:italic;font-weight:bolder;font-size:9px;color:#888888;margin-top:1px}.posdailybut{bottom:5px;height:34px;left:0;margin:0;position:absolute;right:0;text-align:center;width:100%}.dailybutton{background-color:#ededed;border:1px solid #dcdcdc;border-radius:6px;box-shadow:0 1px 0 0 #ffffff inset;color:#777777;display:inline-block;font-family:arial;font-size:15px;font-weight:bold;height:28px;margin-top:5px;padding:3px 7px !important;text-decoration:none;text-shadow:1px 1px 0 #ffffff;z-index:10000}.dailybutton:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfdfdf),color-stop(1,#ededed) );background:-moz-linear-gradient( center top,#dfdfdf 5%,#ededed 100% );background-color:#dfdfdf}.dailybutton:active{position:relative;top:1px}#dailytimer{margin:auto;position:relative;width:190px}#actdaily{background:none repeat scroll 0px 0px transparent;cursor:pointer;height:34px;position:absolute;width:100%;z-index:10001}#dailyfullscreen.btnh #dailyposition{margin-top:49px}#dailyfullscreen.btnh .posdailybut{bottom:inherit;top:37px}#dailyfullscreen img{max-width:100%;max-height:100%}#dailyfullscreen .alertpopup{color:#f00;font-size:30px;line-height:30px;padding:15px;text-align:center;text-shadow:0 0 5px rgba(0,0,0,1)}#dailyfullscreen .alertpopup span{font-size:20px}


/*===============================
/modules/mod_jq-dailypop/style/black/css.css
================================================================================*/
#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,0,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#000000',EndColorStr='#000000')}


/*===============================
/modules/mod_sp_social/assets/css/default/sp_social.css
================================================================================*/
div.sp_social{}div.sp_social ul{list-style:none;padding:0;margin:0}div.sp_social ul li{display:inline-block;padding:0;margin:0 2px 0 0;background:none}div.sp_social ul li a{display:block;padding:0;margin:0;background-color:none;background-repeat:no-repeat;background-position:50%;font-size:12px;border:0;text-decoration:none}div.sp_social.icon_size_32 ul li a{width:32px;height:32px}div.sp_social.icon_size_16 ul li a{width:16px;height:16px}div.sp_social ul li a:hover{background-color:none;text-decoration:none}div.sp_social ul li a span{display:none}div.sp_social ul li a strong{display:none} div.sp_social.icon_size_32 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/32/rss.png)}div.sp_social.icon_size_32 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/32/facebook.png)}div.sp_social.icon_size_32 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/32/twitter.png)}div.sp_social.icon_size_32 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/32/google_plus.png)}div.sp_social.icon_size_32 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/32/linkedin.png)}div.sp_social.icon_size_32 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/32/youtube.png)}div.sp_social.icon_size_32 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/32/pinterest.png)}div.sp_social.icon_size_32 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/32/flickr.png)}div.sp_social.icon_size_32 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/32/picasa.png)}div.sp_social.icon_size_32 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/32/myspace.png)}div.sp_social.icon_size_32 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/32/digg.png)}div.sp_social.icon_size_32 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/32/skype.png)}div.sp_social.icon_size_32 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/32/vimeo.png)}div.sp_social.icon_size_32 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/32/delicious.png)} div.sp_social.icon_size_16 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/16/rss.png)}div.sp_social.icon_size_16 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/16/facebook.png)}div.sp_social.icon_size_16 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/16/twitter.png)}div.sp_social.icon_size_16 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/16/google_plus.png)}div.sp_social.icon_size_16 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/16/linkedin.png)}div.sp_social.icon_size_16 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/16/youtube.png)}div.sp_social.icon_size_16 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/16/pinterest.png)}div.sp_social.icon_size_16 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/16/flickr.png)}div.sp_social.icon_size_16 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/16/picasa.png)}div.sp_social.icon_size_16 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/16/myspace.png)}div.sp_social.icon_size_16 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/16/digg.png)}div.sp_social.icon_size_16 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/16/skype.png)}div.sp_social.icon_size_16 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/16/vimeo.png)}div.sp_social.icon_size_16 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/16/delicious.png)} .rtl div.sp_social ul li{margin:0 0 0 2px}


/*===============================
http://iasitvlife.ro/modules/mod_news_pro_gk5/interface/css/style.css
================================================================================*/
.nsp{position:relative}.nspMain{overflow:hidden} .nspBotInterface,.nspTopInterface{clear:both;float:right;margin:5px 0;overflow:hidden} .nspPagination{float:left;list-style-type:none!important;margin:5px 0 0 0!important;padding:0!important}.nspPagination li{background:#ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;float:left;height:14px;margin:1px 4px 0 0!important;width:14px}.nspPagination li > a{background:transparent;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;display:block;height:14px;overflow:hidden;padding:0;text-indent:-999em;width:14px}.nspPagination li:hover,.nspPagination li.active{background-color:#999}.nspNext,.nspPrev{background:#fff;border:2px solid #ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;float:left;height:24px;margin:0 0 0 4px;overflow:hidden;text-indent:-999px;width:24px}.nspPrev:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:none;content:"";display:block;float:left;margin:3px 0 0 4px}.nspNext:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-right:none;content:"";display:block;float:left;margin:3px 0 0 6px}.nspNext:hover,.nspPrev:hover{border-color:#999}.nspPrev:hover:before{border-right-color:#999}.nspNext:hover:before{border-left-color:#999} .nspArts{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:3px}.nspArtPage{float:left}.nspArt{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left}.nspArt div{overflow:hidden}.nspArt h4.nspHeader{font-size:24px;margin:0;padding:10px 0 15px 0}.nspArt h4.nspHeader a{text-decoration:none}.nspArt h4.nspHeader a:hover{}.nspArt img.nspImage{border:none;display:block}.nspArt .nspImageWrapper{display:block;position:relative}.nspArt p.nspText{display:block!important;margin:0;padding:0!important}.nspArt p.nspText a{}.nspArt p.nspText a:hover{}.nspArt .nspInfo{display:block!important;font-size:90%}.nspArt .nspInfo a{}.nspArt .nspInfo a:hover{}.nspArt .nspInfo > .nsp-stars{padding:0 10px 0 0!important}.nspArt .nsp-star-0:before,.nspArt .nsp-star-1:before{content:"★";color:#6c6c6c;font-family:Arial,sans-serif;font-size:14px}.nspArt .nsp-star-1:before{color:#f7a834}.nspArt .nspBadge{background:#fff;position:absolute;top:29px;left:20px;text-transform:uppercase;font-size:10px;line-height:12px;padding:2px 10px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.nspArt .tleft{text-align:left}.nspArt .tright{text-align:right}.nspArt .tcenter{text-align:center}.nspArt .tjustify{text-align:justify}.nspArt .fleft{float:left}.nspArt .fright{float:right}.nspArt .fnone{clear:both;float:none;width:100%}.readon.left,.readon.right,.readon.center{clear:both}.readon.left{float:left}.readon.right{float:right}.readon.center{display:inline;float:none}.nspAvatar{} .nspLinks{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:3px}.nspList{float:left}.nspList > li > .nspImageWrapper{float:left}.nspList > li > .nspImageWrapperRight{float:right}.nspList > li .nspImage{height:auto!important;max-width:100%}.nspLinks ul{list-style-type:none!important;padding:0!important}.nspLinks .nspLinkScroll1 ul li{background:#fff;border-top:1px solid #eee;margin:0!important;padding:10px 3px}.nspLinks .nspLinkScroll1 ul li:first-child{border-top:none}.nspLinks ul li:hover{}.nspLinks ul li h4{}.nspLinks ul li h4 a{text-decoration:none}.nspLinks ul li h4 a:hover{}.nspLinks ul li p{} .nspArts.left{float:right}.nspLinksWrap.left{float:left}.nspArts.right{float:left}.nspLinksWrap.right{float:right} .nspMain .unvisible{left:-9999px;position:absolute;top:auto} .gkResponsive img.nspImage,img.nspImage.gkResponsive{height:auto;width:100%!important}.nspArt img.nspImage{max-width:100%}.nspArtScroll1,.nspLinkScroll1{clear:both;width:100%}.nspPages1{width:100%}.nspPages2{width:200%}.nspPages3{width:300%}.nspPages4{width:400%}.nspPages5{width:500%}.nspPages6{width:600%}.nspPages7{width:700%}.nspPages8{width:800%}.nspPages9{width:900%}.nspPages10{width:1000%}.nspPages11{width:1100%}.nspPages12{width:1200%}.nspPages13{width:1300%}.nspPages14{width:1400%}.nspPages15{width:1500%}.nspPages16{width:1600%}.nspPages17{width:1700%}.nspPages18{width:1800%}.nspPages19{width:1900%}.nspPages20{width:2000%}.nspCol1{width:100%}.nspCol2{width:50%}.nspCol3{width:33.333333%}.nspCol4{width:25%}.nspCol5{width:20%}.nspCol6{width:16.666666%}.nspCol7{width:14.285714%}.nspCol8{width:12.5%}.nspCol9{width:11.111111%}.nspCol10{width:10%}.nspCol11{width:9.090909%}.nspCol12{width:8.333333%}.nspCol13{width:7.692307%}.nspCol14{width:7.142857%}.nspCol15{width:6.666666%}.nspCol16{width:6.25%}.nspCol17{width:5.882352%}.nspCol18{width:5.555555%}.nspCol19{width:5.263157%}.nspCol20{width:5%} .nspList,.nspArtPage{opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out;visibility:hidden}.nspList.active,.nspArtPage.active{opacity:1;filter:alpha(opacity=100);visibility:visible} .neutral{color:#999;font-size:13px}.neutral a{color:#333;text-decoration:none}.neutral a:active,.neutral a:focus,.neutral a:hover{color:#777}.neutral .nspHeader{font-size:18px;font-weight:400}.neutral .nspInfo a{padding-right:5px}.neutral .readon{background:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;padding:6px 10px}.neutral .readon:active,.neutral .readon:focus,.neutral .readon:hover{background:#999;color:#fff}.neutral .nspLinks ul li h4{font-size:15px;margin:0 0 10px 0} .nspK2StoreCartForm{padding:10px 0;text-align:center}.nspK2StoreCartForm .k2store-notification{background:#fff;border:1px solid #e5e5e5;font-size:12px;margin:10px 0;padding:10px;position:relative}.nspK2StoreCartForm .cart_dialogue_close{position:absolute;right:10px;top:5px}.nspK2StorePrice{color:#111;display:block;font-size:14px;padding:10px 0;text-align:center}.nspK2StorePrice strike{color:#ccc;display:block} .nspHikashopBlock{text-align:center}.nspHikashopBlock span{display:block}.nspHikashopBlock .button{display:inline-block;float:none;margin-top:30px}.nspHikashopBlock .hikashop_product_stock_count{color:#999!important;font-size:11px!important;padding:10px 0!important} @media (max-width:800px){.nspArts,.nspLinksWrap{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:0 32px;position:relative}.nspPrev,.nspNext{left:0;position:absolute;top:20%;z-index:101}.nspNext{left:auto;right:0}.nspPagination{display:none}}@media (max-width:600px){.nspArt{width:100%}.nspArt img.nspImage{max-width:100%}.nspImageWrapper{margin:0 0 20px 0!important;width:100%}.gkArtContentWrap{width:100%}}


/*===============================
http://iasitvlife.ro/modules/mod_tabs_gk5/styles/style1.css
================================================================================*/
.gkTabsWrap.vertical ol{border-bottom:3px solid #97ccee}.gkTabsWrap.vertical ol li,.gkTabsWrap.horizontal ol li{color:#666;text-shadow:0 -1px 0 #eee;background:#eee; }.gkTabsWrap.vertical ol li:hover,.gkTabsWrap.vertical ol li.active,.gkTabsWrap.horizontal ol li:hover,.gkTabsWrap.horizontal ol li.active{color:#fff!important;text-shadow:0 -1px 0 #80b0cf;background:#97ccee }.gkTabsContainer + ol{border-top:3px solid #97ccee!important}.gkTabsItem{background:#fff}.gkTabsButtonNext,.gkTabsButtonPrev{background:#ddd}.gkTabsButtonNext:hover,.gkTabsButtonPrev:hover{background:#eee}.gkTabsWrap.horizontal > ol{background:#fff}  .gkTabsGK5{position:relative;overflow:hidden}.gkTabsWrap{margin:0}.gkTabsContainer{-webkit-perspective:500;-moz-perspective:500;-ms-perspective:500;perspective:500;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.gkTabsItem{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px 2px;position:absolute;top:0;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;width:100%;z-index:1}.gkTabsItem.gk-active{left:0;position:relative;top:0;z-index:1}.gkTabsItem.gk-hide{left:0;position:absolute;top:0;z-index:0}.gkTabsItem.gk-opacity.gk-hide{opacity:0}.gkTabsItem.gk-opacity.gk-active{left:0;opacity:1}.gkTabsItem.gk-slide_vertical.gk-hide{opacity:0;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}.gkTabsItem.gk-slide_vertical.gk-active{opacity:1;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}.gkTabsItem.gk-slide_vertical.gk-hidden{opacity:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}.gkTabsItem.gk-slide_horizontal.gk-hide{opacity:0;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%)}.gkTabsItem.gk-slide_horizontal.gk-active{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}.gkTabsItem.gk-slide_horizontal.gk-hidden{opacity:0;-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%)}.gkTabsItem.gk-scale.gk-active{opacity:1!important;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.gkTabsItem.gk-scale.gk-hide,.gkTabsItem.gk-scale.gk-hidden{opacity:0!important;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}.gkTabsItem.gk-rotate_x.gk-active{opacity:1!important;-webkit-transform:rotateX(0);-moz-transform:rotateX(0);-ms-transform:rotateX(0);-o-transform:rotateX(0);transform:rotateX(0)}.gkTabsItem.gk-rotate_x.gk-hide,.gkTabsItem.gk-rotate_x.gk-hidden{opacity:0!important;-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg)}.gkTabsItem.gk-rotate_y.gk-active{opacity:1!important;-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-ms-transform:rotateY(0);-o-transform:rotateY(0);transform:rotateY(0)}.gkTabsItem.gk-rotate_y.gk-hide,.gkTabsItem.gk-rotate_y.gk-hidden{opacity:0!important;-webkit-transform:rotateY(-90deg);-moz-transform:rotateY(-90deg);-ms-transform:rotateY(-90deg);-o-transform:rotateY(-90deg);transform:rotateY(-90deg)}.gkTabsItem.gk-rotate_z.gk-active{opacity:1!important;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-ms-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}.gkTabsItem.gk-rotate_z.gk-hide,.gkTabsItem.gk-rotate_z.gk-hidden{opacity:0!important;-webkit-transform:rotateZ(-90deg);-moz-transform:rotateZ(-90deg);-ms-transform:rotateZ(-90deg);-o-transform:rotateZ(-90deg);transform:rotateZ(-90deg)} .gkTabsWrap.vertical ol{background:transparent!important;min-height:38px;margin:0!important;padding:0!important}.gkTabsWrap.vertical ol li,.gkTabsWrap.horizontal ol li{border-radius:2px 2px 0 0;cursor:pointer;float:left;line-height:38px!important;list-style-type:none;margin:0 4px 0 0!important;padding:0 12px!important;position:relative;font-size:13px;font-weight:bold} .gkTabsContainer + ol{border-bottom:none!important}.gkTabsContainer + ol li{border-radius:0 0 2px 2px!important} .gkTabsContainer,.gkTabsContainer[style]{clear:both;overflow:hidden!important;overflow-x:hidden!important;overflow-y:hidden!important;position:relative} .gkTabsButtonNext,.gkTabsButtonPrev{border-radius:50%;cursor:pointer;height:18px;position:absolute;right:0;font:0/0px a;top:43%;width:18px;z-index:3}.gkTabsButtonPrev{left:0;right:inherit}.gkTabsButtonNext:before,.gkTabsButtonPrev:before{content:"›";display:block;font-size:14px;font-weight:bold;height:18px;line-height:17px;text-align:center;width:18px}.gkTabsButtonPrev:before{content:"‹"} .gkTabsWrap.horizontal{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:table;width:100%}.gkTabsWrap.horizontal > ol,.gkTabsWrap.horizontal > .gkTabsContainer{display:table-cell;vertical-align:top}.gkTabsWrap.horizontal > ol{position:relative;z-index:5} .gkTabsWrap.horizontal ol li{cursor:pointer;float:right;border-radius:2px;margin:0 0 3px!important}.gkTabsWrap.horizontal ol li:hover,.gkTabsWrap.horizontal ol li.active{ }.gkTabsWrap.horizontal .gkTabsItem{padding:2px 20px } .gkTabsWrap.horizontal .gkTabsContainer + ol{border:none !important }.gkTabsWrap.horizontal .gkTabsContainer + ol li{border-radius:2px !important;float:left}


/*===============================
http://iasitvlife.ro/modules/mod_news_pro_gk5/tmpl/portal_modes/videolist/style.css
================================================================================*/
.gkNspPM-VideoList{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;margin:0 -19px;position:relative;width:auto}.gkNspPM-VideoList > div{overflow:hidden;position:relative}.gkNspPM-VideoList .gkItemsPage{display:block;overflow:hidden;position:absolute;opacity:0;top:0;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;width:100%;z-index:0}.gkNspPM-VideoList .gkItemsPage.to-hide,.gkNspPM-VideoList .gkItemsPage.active{display:block;opacity:1}.gkNspPM-VideoList .gkItemsPage.active{position:relative;z-index:2}.gkNspPM-VideoList .gkItemsPage.to-hide{display:block;opacity:0}.gkNspPM-VideoList .gkItemsPage figure{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;float:left;padding:0 19px}.gkNspPM-VideoList .gkItemsPage[data-cols="1"] figure{width:100%}.gkNspPM-VideoList .gkItemsPage[data-cols="2"] figure{width:50%}.gkNspPM-VideoList .gkItemsPage[data-cols="3"] figure{width:33.333333%}.gkNspPM-VideoList .gkItemsPage[data-cols="4"] figure{width:25%}.gkNspPM-VideoList .gkItemsPage[data-cols="5"] figure{width:20%}.gkNspPM-VideoList .gkItemsPage[data-cols="6"] figure{width:16.666666%}.gkNspPM-VideoList .gkItem{cursor:pointer;opacity:0;padding:16px;position:relative;top:50px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.gkNspPM-VideoList .gkItem.active{opacity:1;top:0}.gkNspPM-VideoList .gkItem .gkImageWrap{position:relative}.gkNspPM-VideoList .gkItem.video .gkImageWrap:before{background:rgba(0,0,0,0.25);content:"";height:100%;position:absolute;width:100%;z-index:1}.gkNspPM-VideoList .gkItem.video .gkImageWrap:after{color:#fff;content:"\f04b";font-family:FontAwesome;font-size:24px;left:50%;line-height:24px;margin:-12px 0 0 -12px;position:absolute;top:50%;z-index:2}.gkNspPM-VideoList .gkItem:hover figcaption{background:#f6f7f9}.gkNspPM-VideoList h3{font-size:16px;font-weight:400;margin:0;padding:16px 0;text-align:center;text-transform:none}.gkNspPM-VideoList figcaption{padding:0 16px 16px 16px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.gkNspPM-VideoList strong{color:#afafaf;display:block;font-size:12px;text-align:center;text-transform:uppercase} .gkNspPM-VideoList .gkBottomNav{border-top:1px solid #e5e5e5;margin:32px 19px -24px 19px;padding:12px 0 0 0;position:relative}.gkNspPM-VideoList .gkBottomNavNext,.gkNspPM-VideoList .gkBottomNavPrev{border:1px solid #e5e5e5;cursor:pointer;display:block;float:left;height:24px;margin:0;position:relative;text-indent:-9999px;width:26px}.gkNspPM-VideoList .gkBottomNavNext{right:0;position:absolute;top:12px}.gkNspPM-VideoList .gkBottomNavPrev{left:0;position:absolute;top:12px}.gkNspPM-VideoList .gkBottomNavNext:after,.gkNspPM-VideoList .gkBottomNavPrev:after{color:#949494;content:"\f104";display:block;font-family:FontAwesome;font-size:16px;left:10px;line-height:15px;position:absolute;text-indent:0;top:5px}.gkNspPM-VideoList .gkBottomNavNext:after{color:#949494;content:'\f105'}.gkNspPM-VideoList .gkBottomNavPrev:after{color:#949494}.gkNspPM-VideoList .gkBottomNavNext:hover:after,.gkNspPM-VideoList .gkBottomNavPrev:hover:after{color:#eb1e00}.gkNspPM-VideoList .gkBottomNavPagination{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:0 50px;text-align:center;width:100%}.gkNspPM-VideoList .gkBottomNavPagination li{background:#ccc;border:none!important;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;display:inline-block;height:8px;margin:10px 4px 0 0!important;padding:0!important;text-indent:-999em;width:8px}.gkNspPM-VideoList .gkBottomNavPagination li:hover,.gkNspPM-VideoList .gkBottomNavPagination li.active{background-color:#eb1e00} .gkNspPM-VideoList img,.gkNspPM-VideoList .gkImageWrap{display:block;height:auto;overflow:hidden;width:100%}.gkNspPM-VideoList .gkImageWrap{margin:0 35px 0 0}.gkNspPM-VideoList .gkImageWrap{overflow:hidden;position:relative;z-index:1}.gkNspPM-VideoList .gkImageWrap img{-webkit-transform:scale(1) rotate(0deg);-moz-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);-o-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.gkNspPM-VideoList .gkImageWrap:hover img{-webkit-transform:scale(1.2) rotate(-5deg);-moz-transform:scale(1.2) rotate(-5deg);-ms-transform:scale(1.2) rotate(-5deg);-o-transform:scale(1.2) rotate(-5deg);transform:scale(1.2) rotate(-5deg)} @media (max-width:1280px){.gkNspPM-VideoList .gkBottomNav{margin:32px 19px -16px 19px}.gkNspPM-VideoList .gkItemsPage figure{padding:0 6px}.gkNspPM-VideoList{margin:0 -6px}.gkNspPM-VideoList figcaption{padding:0 8px 16px 8px}}@media (max-width:1100px){.gkNspPM-VideoList h3{font-size:13px}.gkNspPM-VideoList .gkBottomNav{margin:10px 10px 5px 10px;min-height:36px}}@media (max-width:640px){.gkNspPM-VideoList .gkItemsPage figure{padding:0 2px}.gkNspPM-VideoList h3{font-size:12px}}@media (max-width:480px){.gkNspPM-VideoList .gkItemsPage[data-cols="1"] figure,.gkNspPM-VideoList .gkItemsPage[data-cols="2"] figure,.gkNspPM-VideoList .gkItemsPage[data-cols="3"] figure,.gkNspPM-VideoList .gkItemsPage[data-cols="4"] figure,.gkNspPM-VideoList .gkItemsPage[data-cols="5"] figure,.gkNspPM-VideoList .gkItemsPage[data-cols="6"] figure{width:100%}}


/*===============================
http://iasitvlife.ro/modules/mod_bm_slider_for_k2/assets/css/styles.css
================================================================================*/
.bm_over{position:relative;overflow:hidden;width:100%;height:auto}.bm_slider{position:relative;overflow:hidden;white-space:normal;border-radius:5px;width:100%}.bm_slider .bm_slider_item{overflow:hidden;white-space:normal;width:100%}.bm_slider .bm_slider_item a img{width:100%;height:auto } .bm_slider_default .bm_slider_item .bm_slider_title{position:absolute;left:-100%;top:30px;background:rgba(103,155,8,0.8);white-space:normal;padding:10px;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.bm_slider_default .bm_slider_item .bm_slider_title a{font-weight:bold;color:#fff;font-size:14pt}.bm_slider_default .bm_slider_item .bm_slider_desc{position:absolute;right:-100%;bottom:20px;color:#fff;background:rgba(103,155,8,0.8);white-space:normal;width:50%;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.bm_slider_default .bm_slider_item .bm_slider_desc .bm_desc_inside{padding:10px}.bm_slider_default .bm_slider_item .bm_slider_desc .bm_desc_inside a.bm_readmore_button{color:#fff;font-weight:bold}.bm_slider_default .bm_cycle_slider_active .bm_slider_title{left:0px;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.bm_slider_default .bm_cycle_slider_active .bm_slider_desc{right:0px;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}.bm_over_default .bm_slider_button{position:absolute;bottom:0px;z-index:100;bottom:31px;left:-84px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}.bm_over_default .bm_slider_button:hover{left:0px}.bm_over_default .bm_slider_button div{cursor:pointer;width:42px;height:42px;text-indent:99999px;overflow:hidden;float:left;opacity:0.5}div.bm_slider_default:hover ~ div.bm_slider_button{left:0px}  .bm_slider_theme1 .bm_slider_item{padding:4px}.bm_slider_theme1 .bm_slider_item:hover{-moz-border-radius:5px;border-radius:5px;background:#dedede}.bm_slider_theme1 .bm_slider_item .bm_slider_title{margin-bottom:5px;margin-top:5px;text-align:center}.bm_slider_theme1 .bm_slider_item .bm_slider_title a{font-size:13pt;font-weight:bold}.bm_slider_theme1 .bm_slider_item .bm_slider_desc{font-size:11pt;padding:0 4px;text-align:left}.bm_slider_theme1 .bm_slider_item .bm_slider_desc .bm_desc_inside a.bm_readmore_button{font-weight:bold}.bm_over_theme1 .bm_slider_button{z-index:100;width:100%;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}.bm_over_theme1 .bm_slider_button .bm_slider_prev{position:absolute;left:-42px;top:50%;z-index:100;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}.bm_over_theme1 .bm_slider_button .bm_slider_next{position:absolute;right:-42px;top:50%;z-index:100;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out}div.bm_slider_theme1:hover ~ div.bm_slider_button .bm_slider_prev{left:0px}div.bm_slider_theme1:hover ~ div.bm_slider_button .bm_slider_next{right:0px}.bm_over_theme1 .bm_slider_button .bm_slider_prev:hover{left:0px}.bm_over_theme1 .bm_slider_button .bm_slider_next:hover{right:0px}.bm_over_theme1 .bm_slider_button:hover{left:0px}.bm_over_theme1 .bm_slider_button div{cursor:pointer;width:42px;height:42px;text-indent:99999px;overflow:hidden;float:left;opacity:0.5} .bm_over .bm_slider_button .bm_slider_prev{background:url(http://iasitvlife.ro/modules/mod_bm_slider_for_k2/assets/images/sprite-default.png) no-repeat -42px -42px transparent}.bm_over .bm_slider_button .bm_slider_prev:hover{opacity:1}.bm_over .bm_slider_button .bm_slider_next{background:url(http://iasitvlife.ro/modules/mod_bm_slider_for_k2/assets/images/sprite-default.png) no-repeat 0px -42px transparent}.bm_over .bm_slider_button .bm_slider_next:hover{opacity:1} .bm_slider_cycle_pager{text-align:center;width:100%;z-index:500;top:10px;overflow:hidden;position:relative}.bm_slider_cycle_pager span{font-family:arial;font-size:50px;width:16px;height:16px;display:inline-block;color:#ddd;cursor:pointer}.bm_slider_cycle_pager span.bm_slider_cycle_pager_active{color:#679B08}.bm_slider_cycle_pager > *{cursor:pointer} .cycle-paused:after{content:'Paused';color:white;background:none repeat scroll 0 0 rgba(103,155,8,0.8);padding:10px;z-index:500;position:absolute;top:10px;right:10px;border-radius:10px;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out} @media only screen and (max-width:767px),only screen and (max-device-width:767px){.bm_slider .bm_slider_item .bm_slider_desc{display:none}}


/*===============================
http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/css/style.css
================================================================================*/
a:active,a:focus{outline:0}.gkHighlighterGK5{position:relative;width:100%} .gkHighlighterInterface{float:left;padding:0 7px }.gkHighlighterInterface[data-pos="right"]{float:right}.gkHighlighterInterface span.text{display:block;float:left;margin:0 6px 0 7px;font-size:11px;font-weight:bold;text-transform:uppercase;line-height:18px}.gkHighlighterInterface div{float:left;width:auto}.gkHighlighterInterface div a{display:block;float:left;height:13px;width:13px;margin:2px 0 0 2px;background:transparent url('http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/images/interface.png') no-repeat 0 0;cursor:pointer}.gkHighlighterInterface div a.prev{}.gkHighlighterInterface div a.next{background-position:right 0}.gkHighlighterInterface div a.prev:hover{background-position:0 bottom}.gkHighlighterInterface div a.next:hover{background-position:right bottom} .gkHighlighterWrapper{position:relative}.gkHighlighterWrapperSub{position:relative;min-height:30px;opacity:1}.gkHighlighterWrapper .nowrap{width:100000px;position:absolute;left:-99999em}.gkHighlighterWrapper .gkHighlighterItem{position:absolute;top:0;width:100%;left:0}.gkHighlighterWrapper .gkHighlighterItem.gk-active{z-index:100}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.gkHighlighterItem.flipInX{-webkit-backface-visibility:visible !important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible !important;-moz-animation-name:flipInX;-o-backface-visibility:visible !important;-o-animation-name:flipInX;backface-visibility:visible !important;animation-name:flipInX;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}}@-moz-keyframes flipOutX{0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}}@-o-keyframes flipOutX{0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{transform:perspective(400px) rotateX(0deg);opacity:1}100%{transform:perspective(400px) rotateX(90deg);opacity:0}}.gkHighlighterItem{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.gkHighlighterItem.flipOutX{-webkit-animation-name:flipOutX;-webkit-backface-visibility:visible !important;-moz-animation-name:flipOutX;-moz-backface-visibility:visible !important;-o-animation-name:flipOutX;-o-backface-visibility:visible !important;animation-name:flipOutX;backface-visibility:visible !important;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.gkHighlighterItem.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;opacity:1!important;filter:alpha(opacity=100)!important}.invisible{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-20px)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-20px)}}@-o-keyframes fadeOutLeft{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-20px)}}@keyframes fadeOutLeft{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-20px)}}.gkHighlighterItem.fadeOutLeft{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.gkHighlighterItem.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.gkHighlighterItem.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"} .bar{width:100%px;height:40px;position:relative;-webkit-perspective:1100px;-moz-perspective:1100px;-ms-perspective:1100px;-o-perspective:1100px;perspective:1100px}.bar .gkHighlighterWrapperSub{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d}.bar .gkHighlighterItem{display:block;position:absolute;width:100%;height:40px;left:0px;top:0px;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:antialiased }.bar .gkHighlighterItem.gkHidden{opacity:0;display:none}.bar .gkHighlighterItem.front{-webkit-transform:rotateX(0deg) translateZ(20px);-moz-transform:rotateX(0deg) translateZ(20px);-o-transform:rotateX(0deg) translateZ(20px);transform:rotateX(0deg) translateZ(20px)}.bar .gkHighlighterItem.bottom{-webkit-transform:rotateX(90deg) translateZ(20px);-moz-transform:rotateX(90deg) translateZ(20px);-o-transform:rotateX(90deg) translateZ(20px);transform:rotateX(90deg) translateZ(20px)}.bar .gkHighlighterItem.back{-webkit-transform:rotateX(180deg) translateZ(20px);-moz-transform:rotateX(180deg) translateZ(20px);-o-transform:rotateX(180deg) translateZ(20px);transform:rotateX(180deg) translateZ(20px)}.bar .gkHighlighterItem.top{-webkit-transform:rotateX(270deg) translateZ(20px);-moz-transform:rotateX(270deg) translateZ(20px);-o-transform:rotateX(270deg) translateZ(20px);transform:rotateX(270deg) translateZ(20px)}


/*===============================
/modules/mod_bt_login/tmpl/css/style2.0.css
================================================================================*/
#simplemodal-overlay{background-color:#000}#simplemodal-container a.modalCloseImg{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) top no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}#simplemodal-container a.modalCloseImg:hover{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) bottom no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}.simplemodal-wrap{overflow:visible!important}.btl-content-block{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px;border:1px solid #dadada;box-shadow:8px 8px 8px rgba(0,0,0,0.4);display:none;height:auto;overflow:hidden;text-align:left;font-size:12px;position:relative}.btl-content-block form{margin:0;padding:0}.btl-content-block h3{background:url("/modules/mod_bt_login/tmpl/images/header_bglogin.jpg") repeat-x scroll left top transparent;font-weight:normal;line-height:35px;margin:0px;padding:3px 0px 0px 19px!important;text-transform:uppercase;font-size:18px}.btl-input > input[type=text],.btl-input > input[type=password],#recaptcha > input{border:1px solid #dadada;border-radius:4px;margin:5px 0;text-indent:5px;width:189px;height:26px;padding:0;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s}#recaptcha > input{width:100px}.btl-input > input:focus,#recaptcha > input:focus{border-color:#E9322D;box-shadow:0 0 6px #F8B9B7}#recaptcha span#btl-captcha-reload{display:inline-block;width:16px;height:16px;background:url('/modules/mod_bt_login/tmpl/images/reload.png') no-repeat;text-indent:-9999px;cursor:pointer}#btl{position:relative}#btl .btl-panel{overflow:hidden}#btl .btl-panel > #btl-panel-profile{background:url(/modules/mod_bt_login/tmpl/images/btl-panel-bg.png) top right no-repeat;padding-right:30px}button::-moz-focus-inner{padding:0;border:none}#btl .btl-panel > span{display:inline-block;height:26px;line-height:28px;padding:0 18px;cursor:pointer;text-indent:0!important;width:auto}#btl .btl-panel > span{margin:2px 0px;box-shadow:1px 1px 1px rgba(0,0,0,0.5)}#btl .btl-panel > span,button.btl-buttonsubmit,input.btl-buttonsubmit{border-radius:3px}#btl .btl-panel > span.active,button.btl-buttonsubmit:focus,input.btl-buttonsubmit:focus{opacity:0.8}.btl-error{display:none}.btl-error-detail{display:none;float:right;color:#FF0000;margin-bottom:4px}.btl-field,#register-link,.btl-error-detail,.btl-error,.btl-note{margin-left:20px;margin-right:25px!important;overflow:hidden}.btl-label{float:left!important}.btl-input{float:right!important}.btl-label,.btl-input{line-height:38px;height:38px}#recaptcha{height:auto!important;float:right}#btl-content-login .btl-input input{width:190px}#btl-input-remember{}#btl-checkbox-remember{width:15px!important;vertical-align:middle;padding:0;margin:0}.clear{clear:both}.btl-error{color:#FF0000}input.btl-buttonsubmit,button.btl-buttonsubmit{border:none!important;box-shadow:1px 1px 3px rgba(9,4,3,0.86);cursor:pointer;text-align:center!important;text-shadow:0 1px 1px #4A4A4A;width:auto!important;padding:0 12px;height:29px!important;;line-height:29px!important;;display:inline-block}div.btl-buttonsubmit{text-align:center!important;padding:5px 0 0 0!important;border-top:1px solid #dddddd;margin:10px 25px 30px 20px } #btl-content ul li a:hover{color:#7BA428 !important;text-decoration:underline!important;background-color:transparent!important}#btl-content > .btl-content-block{position:absolute!important;z-index:9999}#btl-content #btl-content-login{width:350px}#btl-content-registration{min-width:350px}.btl-note,#register-link{padding:18px 0px}#btl-content-login .btl-input{float:right}#btl-content-login .spacer{height:14px}#btl-content div.btl-buttonsubmit{border-top:1px dotted #c4c4c4}#btl-content #btl-content-login .btl-label{line-height:38px;min-width:0px!important} #btl-content #btl-content-profile{overflow:hidden}#module-in-profile{min-width:200px}#btl-content #btl-content-profile #module-in-profile ul{position:static;text-align:left;margin:0 0 0 15px;padding:0!important}#btl-content-profile ul.menu li{background:url("/modules/mod_bt_login/tmpl/images/bullet.png") no-repeat scroll 5px 15px transparent;padding:0 0 0 20px!important;border-bottom:1px solid #E8E8E8;display:list-item!important;line-height:37px}#btl-content #btl-content-profile #module-in-profile ul li a{color:#6b6b6b;text-decoration:none !important;text-transform:none!important;font-family:arial,tahoma}#btl-content-profile ul.menu li a{color:#616161!important;text-decoration:none!important;border:none!important;background:none!important;display:inline!important;padding:0!important;margin:0!important;text-transform:none!important}#btl-content-profile div.btl-buttonsubmit{clear:both;margin-bottom:15px;border:none!important;text-align:center;margin-top:0!important} #btl-register-in-process,#btl-login-in-process{display:none;background:url("/modules/mod_bt_login/tmpl/images/loading.gif") no-repeat #000 50%;opacity:0.4;width:100%;height:100%;position:absolute;z-index:9999;top:-1px;left:-1px;padding-top:1px;padding-left:1px} #btl-success{display:none;margin:20px 0 30px 0;background:url("/modules/mod_bt_login/tmpl/images/notice-info.png") no-repeat;display:none;color:#000;border-bottom:2px solid #90B203;border-top:2px solid #90B203;font-size:14px;padding:10px 10px 10px 25px} #bt_ul{margin-top:-10px!important;margin-bottom:20px!important;margin-right:25px!important;float:right} #btl-content-login ul{position:static!important;text-align:left;list-style-type:disc !important}#btl-content-login ul li{margin-top:3px}#bt_ul li a{padding:0!important;text-decoration:none!important;color:#545454!important}#btl-wrap-module{padding-left:20px;padding-bottom:20px;padding-top:10px}