

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/modules/mod_jq-dailypop/style/css.css
================================================================================*/
#dailycomplete{visibility:hidden}#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,255,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#0000ff',EndColorStr='#0000ff');bottom:0;color:#FFFFFF;left:0;position:fixed;right:0;top:0;width:100%;z-index:10000;display:none}#dailyposition{height:87%;margin:auto;overflow:auto;padding:10px;width:100%}.copyrightyannt{background-color:rgba(0,0,0,0.4);box-shadow:0 0 10px #000;height:20px;padding:3px}.copyrightyannt a{float:right;text-shadow:1px 1px #333,-1px -1px #444;font-style:italic;font-weight:bolder;font-size:9px;color:#888888;margin-top:1px}.posdailybut{bottom:5px;height:34px;left:0;margin:0;position:absolute;right:0;text-align:center;width:100%}.dailybutton{background-color:#ededed;border:1px solid #dcdcdc;border-radius:6px;box-shadow:0 1px 0 0 #ffffff inset;color:#777777;display:inline-block;font-family:arial;font-size:15px;font-weight:bold;height:28px;margin-top:5px;padding:3px 7px !important;text-decoration:none;text-shadow:1px 1px 0 #ffffff;z-index:10000}.dailybutton:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfdfdf),color-stop(1,#ededed) );background:-moz-linear-gradient( center top,#dfdfdf 5%,#ededed 100% );background-color:#dfdfdf}.dailybutton:active{position:relative;top:1px}#dailytimer{margin:auto;position:relative;width:190px}#actdaily{background:none repeat scroll 0px 0px transparent;cursor:pointer;height:34px;position:absolute;width:100%;z-index:10001}#dailyfullscreen.btnh #dailyposition{margin-top:49px}#dailyfullscreen.btnh .posdailybut{bottom:inherit;top:37px}#dailyfullscreen img{max-width:100%;max-height:100%}#dailyfullscreen .alertpopup{color:#f00;font-size:30px;line-height:30px;padding:15px;text-align:center;text-shadow:0 0 5px rgba(0,0,0,1)}#dailyfullscreen .alertpopup span{font-size:20px}


/*===============================
/modules/mod_jq-dailypop/style/black/css.css
================================================================================*/
#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,0,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#000000',EndColorStr='#000000')}


/*===============================
http://www.iasitvlife.ro/modules/mod_news_pro_gk5/interface/css/style.css
================================================================================*/
.nsp{position:relative}.nspMain{overflow:hidden} .nspBotInterface,.nspTopInterface{clear:both;float:right;margin:5px 0;overflow:hidden} .nspPagination{float:left;list-style-type:none!important;margin:5px 0 0 0!important;padding:0!important}.nspPagination li{background:#ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;float:left;height:14px;margin:1px 4px 0 0!important;width:14px}.nspPagination li > a{background:transparent;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;display:block;height:14px;overflow:hidden;padding:0;text-indent:-999em;width:14px}.nspPagination li:hover,.nspPagination li.active{background-color:#999}.nspNext,.nspPrev{background:#fff;border:2px solid #ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;float:left;height:24px;margin:0 0 0 4px;overflow:hidden;text-indent:-999px;width:24px}.nspPrev:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:none;content:"";display:block;float:left;margin:3px 0 0 4px}.nspNext:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-right:none;content:"";display:block;float:left;margin:3px 0 0 6px}.nspNext:hover,.nspPrev:hover{border-color:#999}.nspPrev:hover:before{border-right-color:#999}.nspNext:hover:before{border-left-color:#999} .nspArts{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:3px}.nspArtPage{float:left}.nspArt{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left}.nspArt div{overflow:hidden}.nspArt h4.nspHeader{font-size:24px;margin:0;padding:10px 0 15px 0}.nspArt h4.nspHeader a{text-decoration:none}.nspArt h4.nspHeader a:hover{}.nspArt img.nspImage{border:none;display:block}.nspArt .nspImageWrapper{display:block;position:relative}.nspArt p.nspText{display:block!important;margin:0;padding:0!important}.nspArt p.nspText a{}.nspArt p.nspText a:hover{}.nspArt .nspInfo{display:block!important;font-size:90%}.nspArt .nspInfo a{}.nspArt .nspInfo a:hover{}.nspArt .nspInfo > .nsp-stars{padding:0 10px 0 0!important}.nspArt .nsp-star-0:before,.nspArt .nsp-star-1:before{content:"★";color:#6c6c6c;font-family:Arial,sans-serif;font-size:14px}.nspArt .nsp-star-1:before{color:#f7a834}.nspArt .nspBadge{background:#fff;position:absolute;top:29px;left:20px;text-transform:uppercase;font-size:10px;line-height:12px;padding:2px 10px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.nspArt .tleft{text-align:left}.nspArt .tright{text-align:right}.nspArt .tcenter{text-align:center}.nspArt .tjustify{text-align:justify}.nspArt .fleft{float:left}.nspArt .fright{float:right}.nspArt .fnone{clear:both;float:none;width:100%}.readon.left,.readon.right,.readon.center{clear:both}.readon.left{float:left}.readon.right{float:right}.readon.center{display:inline;float:none}.nspAvatar{} .nspLinks{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:3px}.nspList{float:left}.nspList > li > .nspImageWrapper{float:left}.nspList > li > .nspImageWrapperRight{float:right}.nspList > li .nspImage{height:auto!important;max-width:100%}.nspLinks ul{list-style-type:none!important;padding:0!important}.nspLinks .nspLinkScroll1 ul li{background:#fff;border-top:1px solid #eee;margin:0!important;padding:10px 3px}.nspLinks .nspLinkScroll1 ul li:first-child{border-top:none}.nspLinks ul li:hover{}.nspLinks ul li h4{}.nspLinks ul li h4 a{text-decoration:none}.nspLinks ul li h4 a:hover{}.nspLinks ul li p{} .nspArts.left{float:right}.nspLinksWrap.left{float:left}.nspArts.right{float:left}.nspLinksWrap.right{float:right} .nspMain .unvisible{left:-9999px;position:absolute;top:auto} .gkResponsive img.nspImage,img.nspImage.gkResponsive{height:auto;width:100%!important}.nspArt img.nspImage{max-width:100%}.nspArtScroll1,.nspLinkScroll1{clear:both;width:100%}.nspPages1{width:100%}.nspPages2{width:200%}.nspPages3{width:300%}.nspPages4{width:400%}.nspPages5{width:500%}.nspPages6{width:600%}.nspPages7{width:700%}.nspPages8{width:800%}.nspPages9{width:900%}.nspPages10{width:1000%}.nspPages11{width:1100%}.nspPages12{width:1200%}.nspPages13{width:1300%}.nspPages14{width:1400%}.nspPages15{width:1500%}.nspPages16{width:1600%}.nspPages17{width:1700%}.nspPages18{width:1800%}.nspPages19{width:1900%}.nspPages20{width:2000%}.nspCol1{width:100%}.nspCol2{width:50%}.nspCol3{width:33.333333%}.nspCol4{width:25%}.nspCol5{width:20%}.nspCol6{width:16.666666%}.nspCol7{width:14.285714%}.nspCol8{width:12.5%}.nspCol9{width:11.111111%}.nspCol10{width:10%}.nspCol11{width:9.090909%}.nspCol12{width:8.333333%}.nspCol13{width:7.692307%}.nspCol14{width:7.142857%}.nspCol15{width:6.666666%}.nspCol16{width:6.25%}.nspCol17{width:5.882352%}.nspCol18{width:5.555555%}.nspCol19{width:5.263157%}.nspCol20{width:5%} .nspList,.nspArtPage{opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out;visibility:hidden}.nspList.active,.nspArtPage.active{opacity:1;filter:alpha(opacity=100);visibility:visible} .neutral{color:#999;font-size:13px}.neutral a{color:#333;text-decoration:none}.neutral a:active,.neutral a:focus,.neutral a:hover{color:#777}.neutral .nspHeader{font-size:18px;font-weight:400}.neutral .nspInfo a{padding-right:5px}.neutral .readon{background:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;padding:6px 10px}.neutral .readon:active,.neutral .readon:focus,.neutral .readon:hover{background:#999;color:#fff}.neutral .nspLinks ul li h4{font-size:15px;margin:0 0 10px 0} .nspK2StoreCartForm{padding:10px 0;text-align:center}.nspK2StoreCartForm .k2store-notification{background:#fff;border:1px solid #e5e5e5;font-size:12px;margin:10px 0;padding:10px;position:relative}.nspK2StoreCartForm .cart_dialogue_close{position:absolute;right:10px;top:5px}.nspK2StorePrice{color:#111;display:block;font-size:14px;padding:10px 0;text-align:center}.nspK2StorePrice strike{color:#ccc;display:block} .nspHikashopBlock{text-align:center}.nspHikashopBlock span{display:block}.nspHikashopBlock .button{display:inline-block;float:none;margin-top:30px}.nspHikashopBlock .hikashop_product_stock_count{color:#999!important;font-size:11px!important;padding:10px 0!important} @media (max-width:800px){.nspArts,.nspLinksWrap{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:0 32px;position:relative}.nspPrev,.nspNext{left:0;position:absolute;top:20%;z-index:101}.nspNext{left:auto;right:0}.nspPagination{display:none}}@media (max-width:600px){.nspArt{width:100%}.nspArt img.nspImage{max-width:100%}.nspImageWrapper{margin:0 0 20px 0!important;width:100%}.gkArtContentWrap{width:100%}}


/*===============================
http://www.iasitvlife.ro/modules/mod_tabs_gk5/styles/style1.css
================================================================================*/
.gkTabsWrap.vertical ol{border-bottom:3px solid #97ccee}.gkTabsWrap.vertical ol li,.gkTabsWrap.horizontal ol li{color:#666;text-shadow:0 -1px 0 #eee;background:#eee; }.gkTabsWrap.vertical ol li:hover,.gkTabsWrap.vertical ol li.active,.gkTabsWrap.horizontal ol li:hover,.gkTabsWrap.horizontal ol li.active{color:#fff!important;text-shadow:0 -1px 0 #80b0cf;background:#97ccee }.gkTabsContainer + ol{border-top:3px solid #97ccee!important}.gkTabsItem{background:#fff}.gkTabsButtonNext,.gkTabsButtonPrev{background:#ddd}.gkTabsButtonNext:hover,.gkTabsButtonPrev:hover{background:#eee}.gkTabsWrap.horizontal > ol{background:#fff}  .gkTabsGK5{position:relative;overflow:hidden}.gkTabsWrap{margin:0}.gkTabsContainer{-webkit-perspective:500;-moz-perspective:500;-ms-perspective:500;perspective:500;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.gkTabsItem{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px 2px;position:absolute;top:0;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;width:100%;z-index:1}.gkTabsItem.gk-active{left:0;position:relative;top:0;z-index:1}.gkTabsItem.gk-hide{left:0;position:absolute;top:0;z-index:0}.gkTabsItem.gk-opacity.gk-hide{opacity:0}.gkTabsItem.gk-opacity.gk-active{left:0;opacity:1}.gkTabsItem.gk-slide_vertical.gk-hide{opacity:0;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);-o-transform:translateY(-100%);transform:translateY(-100%)}.gkTabsItem.gk-slide_vertical.gk-active{opacity:1;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}.gkTabsItem.gk-slide_vertical.gk-hidden{opacity:0;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%);transform:translateY(100%)}.gkTabsItem.gk-slide_horizontal.gk-hide{opacity:0;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translateX(-100%);transform:translateX(-100%)}.gkTabsItem.gk-slide_horizontal.gk-active{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}.gkTabsItem.gk-slide_horizontal.gk-hidden{opacity:0;-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);-o-transform:translateX(100%);transform:translateX(100%)}.gkTabsItem.gk-scale.gk-active{opacity:1!important;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.gkTabsItem.gk-scale.gk-hide,.gkTabsItem.gk-scale.gk-hidden{opacity:0!important;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}.gkTabsItem.gk-rotate_x.gk-active{opacity:1!important;-webkit-transform:rotateX(0);-moz-transform:rotateX(0);-ms-transform:rotateX(0);-o-transform:rotateX(0);transform:rotateX(0)}.gkTabsItem.gk-rotate_x.gk-hide,.gkTabsItem.gk-rotate_x.gk-hidden{opacity:0!important;-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);-ms-transform:rotateX(-90deg);-o-transform:rotateX(-90deg);transform:rotateX(-90deg)}.gkTabsItem.gk-rotate_y.gk-active{opacity:1!important;-webkit-transform:rotateY(0);-moz-transform:rotateY(0);-ms-transform:rotateY(0);-o-transform:rotateY(0);transform:rotateY(0)}.gkTabsItem.gk-rotate_y.gk-hide,.gkTabsItem.gk-rotate_y.gk-hidden{opacity:0!important;-webkit-transform:rotateY(-90deg);-moz-transform:rotateY(-90deg);-ms-transform:rotateY(-90deg);-o-transform:rotateY(-90deg);transform:rotateY(-90deg)}.gkTabsItem.gk-rotate_z.gk-active{opacity:1!important;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-ms-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}.gkTabsItem.gk-rotate_z.gk-hide,.gkTabsItem.gk-rotate_z.gk-hidden{opacity:0!important;-webkit-transform:rotateZ(-90deg);-moz-transform:rotateZ(-90deg);-ms-transform:rotateZ(-90deg);-o-transform:rotateZ(-90deg);transform:rotateZ(-90deg)} .gkTabsWrap.vertical ol{background:transparent!important;min-height:38px;margin:0!important;padding:0!important}.gkTabsWrap.vertical ol li,.gkTabsWrap.horizontal ol li{border-radius:2px 2px 0 0;cursor:pointer;float:left;line-height:38px!important;list-style-type:none;margin:0 4px 0 0!important;padding:0 12px!important;position:relative;font-size:13px;font-weight:bold} .gkTabsContainer + ol{border-bottom:none!important}.gkTabsContainer + ol li{border-radius:0 0 2px 2px!important} .gkTabsContainer,.gkTabsContainer[style]{clear:both;overflow:hidden!important;overflow-x:hidden!important;overflow-y:hidden!important;position:relative} .gkTabsButtonNext,.gkTabsButtonPrev{border-radius:50%;cursor:pointer;height:18px;position:absolute;right:0;font:0/0px a;top:43%;width:18px;z-index:3}.gkTabsButtonPrev{left:0;right:inherit}.gkTabsButtonNext:before,.gkTabsButtonPrev:before{content:"›";display:block;font-size:14px;font-weight:bold;height:18px;line-height:17px;text-align:center;width:18px}.gkTabsButtonPrev:before{content:"‹"} .gkTabsWrap.horizontal{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:table;width:100%}.gkTabsWrap.horizontal > ol,.gkTabsWrap.horizontal > .gkTabsContainer{display:table-cell;vertical-align:top}.gkTabsWrap.horizontal > ol{position:relative;z-index:5} .gkTabsWrap.horizontal ol li{cursor:pointer;float:right;border-radius:2px;margin:0 0 3px!important}.gkTabsWrap.horizontal ol li:hover,.gkTabsWrap.horizontal ol li.active{ }.gkTabsWrap.horizontal .gkTabsItem{padding:2px 20px } .gkTabsWrap.horizontal .gkTabsContainer + ol{border:none !important }.gkTabsWrap.horizontal .gkTabsContainer + ol li{border-radius:2px !important;float:left}