

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/templates/ts_dailytimes/css/home.css
================================================================================*/
.home h1{line-height:1}.home h2{font-size:21px}@media screen and (min-width:768px){.home h2{font-size:30px}}.home .jumbotron{background-color:transparent;position:relative;margin-bottom:0}.home .t3-sl-1{padding:0;background:#ffffff;color:#333333;border-bottom:1px solid #eeeeee}.home .t3-sl-1 .jumbotron{border-radius:0}.home .t3-sl-1 .jumbotron .btn{margin-top:20px}.home .t3-sl-2{text-align:center}.home .t3-sl-2 .img-responsive{display:inline-block}@media screen and (min-width:768px){.home .t3-sl-2 p{font-size:16px;line-height:22px}}.home .t3-sl-3 p > img{margin-top:20px}@media screen and (min-width:992px){.home .t3-sl-3 p > img{margin-top:0}}.home .t3-sl-3,.home .t3-sl-4{border-top:1px solid #eeeeee;text-align:center}@media screen and (min-width:768px){.home .t3-sl-3 p,.home .t3-sl-4 p{font-size:16px;line-height:22px}}.home .t3-sl-3 .jumbotron,.home .t3-sl-4 .jumbotron{padding-top:0}.home .t3-sl-3 .jumbotron h1,.home .t3-sl-4 .jumbotron h1{margin-bottom:10px;margin-top:0}.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:18px;line-height:1.25;color:#999999}@media screen and (min-width:768px){.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:21px}}.home .t3-sl-5{background:#ffffff;color:#333333;border-top:1px solid #eeeeee;padding:0}.home .t3-sl-5 .jumbotron{border-radius:0;margin-bottom:0}


/*===============================
/modules/mod_jq-dailypop/style/css.css
================================================================================*/
#dailycomplete{visibility:hidden}#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,255,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#0000ff',EndColorStr='#0000ff');bottom:0;color:#FFFFFF;left:0;position:fixed;right:0;top:0;width:100%;z-index:10000;display:none}#dailyposition{height:87%;margin:auto;overflow:auto;padding:10px;width:100%}.copyrightyannt{background-color:rgba(0,0,0,0.4);box-shadow:0 0 10px #000;height:20px;padding:3px}.copyrightyannt a{float:right;text-shadow:1px 1px #333,-1px -1px #444;font-style:italic;font-weight:bolder;font-size:9px;color:#888888;margin-top:1px}.posdailybut{bottom:5px;height:34px;left:0;margin:0;position:absolute;right:0;text-align:center;width:100%}.dailybutton{background-color:#ededed;border:1px solid #dcdcdc;border-radius:6px;box-shadow:0 1px 0 0 #ffffff inset;color:#777777;display:inline-block;font-family:arial;font-size:15px;font-weight:bold;height:28px;margin-top:5px;padding:3px 7px !important;text-decoration:none;text-shadow:1px 1px 0 #ffffff;z-index:10000}.dailybutton:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfdfdf),color-stop(1,#ededed) );background:-moz-linear-gradient( center top,#dfdfdf 5%,#ededed 100% );background-color:#dfdfdf}.dailybutton:active{position:relative;top:1px}#dailytimer{margin:auto;position:relative;width:190px}#actdaily{background:none repeat scroll 0px 0px transparent;cursor:pointer;height:34px;position:absolute;width:100%;z-index:10001}#dailyfullscreen.btnh #dailyposition{margin-top:49px}#dailyfullscreen.btnh .posdailybut{bottom:inherit;top:37px}#dailyfullscreen img{max-width:100%;max-height:100%}#dailyfullscreen .alertpopup{color:#f00;font-size:30px;line-height:30px;padding:15px;text-align:center;text-shadow:0 0 5px rgba(0,0,0,1)}#dailyfullscreen .alertpopup span{font-size:20px}


/*===============================
/modules/mod_jq-dailypop/style/black/css.css
================================================================================*/
#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,0,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#000000',EndColorStr='#000000')}


/*===============================
/modules/mod_sp_social/assets/css/default/sp_social.css
================================================================================*/
div.sp_social{}div.sp_social ul{list-style:none;padding:0;margin:0}div.sp_social ul li{display:inline-block;padding:0;margin:0 2px 0 0;background:none}div.sp_social ul li a{display:block;padding:0;margin:0;background-color:none;background-repeat:no-repeat;background-position:50%;font-size:12px;border:0;text-decoration:none}div.sp_social.icon_size_32 ul li a{width:32px;height:32px}div.sp_social.icon_size_16 ul li a{width:16px;height:16px}div.sp_social ul li a:hover{background-color:none;text-decoration:none}div.sp_social ul li a span{display:none}div.sp_social ul li a strong{display:none} div.sp_social.icon_size_32 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/32/rss.png)}div.sp_social.icon_size_32 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/32/facebook.png)}div.sp_social.icon_size_32 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/32/twitter.png)}div.sp_social.icon_size_32 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/32/google_plus.png)}div.sp_social.icon_size_32 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/32/linkedin.png)}div.sp_social.icon_size_32 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/32/youtube.png)}div.sp_social.icon_size_32 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/32/pinterest.png)}div.sp_social.icon_size_32 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/32/flickr.png)}div.sp_social.icon_size_32 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/32/picasa.png)}div.sp_social.icon_size_32 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/32/myspace.png)}div.sp_social.icon_size_32 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/32/digg.png)}div.sp_social.icon_size_32 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/32/skype.png)}div.sp_social.icon_size_32 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/32/vimeo.png)}div.sp_social.icon_size_32 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/32/delicious.png)} div.sp_social.icon_size_16 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/16/rss.png)}div.sp_social.icon_size_16 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/16/facebook.png)}div.sp_social.icon_size_16 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/16/twitter.png)}div.sp_social.icon_size_16 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/16/google_plus.png)}div.sp_social.icon_size_16 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/16/linkedin.png)}div.sp_social.icon_size_16 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/16/youtube.png)}div.sp_social.icon_size_16 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/16/pinterest.png)}div.sp_social.icon_size_16 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/16/flickr.png)}div.sp_social.icon_size_16 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/16/picasa.png)}div.sp_social.icon_size_16 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/16/myspace.png)}div.sp_social.icon_size_16 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/16/digg.png)}div.sp_social.icon_size_16 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/16/skype.png)}div.sp_social.icon_size_16 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/16/vimeo.png)}div.sp_social.icon_size_16 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/16/delicious.png)} .rtl div.sp_social ul li{margin:0 0 0 2px}


/*===============================
http://www.iasitvlife.ro:80/modules/mod_news_pro_gk5/interface/css/style.css
================================================================================*/
.nsp{position:relative}.nspMain{overflow:hidden} .nspBotInterface,.nspTopInterface{clear:both;float:right;margin:5px 0;overflow:hidden} .nspPagination{float:left;list-style-type:none!important;margin:5px 0 0 0!important;padding:0!important}.nspPagination li{background:#ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;cursor:pointer;float:left;height:14px;margin:1px 4px 0 0!important;width:14px}.nspPagination li > a{background:transparent;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;display:block;height:14px;overflow:hidden;padding:0;text-indent:-999em;width:14px}.nspPagination li:hover,.nspPagination li.active{background-color:#999}.nspNext,.nspPrev{background:#fff;border:2px solid #ccc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:pointer;float:left;height:24px;margin:0 0 0 4px;overflow:hidden;text-indent:-999px;width:24px}.nspPrev:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:none;content:"";display:block;float:left;margin:3px 0 0 4px}.nspNext:before{border:10px solid #ccc;border-top:7px solid transparent;border-bottom:7px solid transparent;border-right:none;content:"";display:block;float:left;margin:3px 0 0 6px}.nspNext:hover,.nspPrev:hover{border-color:#999}.nspPrev:hover:before{border-right-color:#999}.nspNext:hover:before{border-left-color:#999} .nspArts{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:3px}.nspArtPage{float:left}.nspArt{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left}.nspArt div{overflow:hidden}.nspArt h4.nspHeader{font-size:24px;margin:0;padding:10px 0 15px 0}.nspArt h4.nspHeader a{text-decoration:none}.nspArt h4.nspHeader a:hover{}.nspArt img.nspImage{border:none;display:block}.nspArt .nspImageWrapper{display:block;position:relative}.nspArt p.nspText{display:block!important;margin:0;padding:0!important}.nspArt p.nspText a{}.nspArt p.nspText a:hover{}.nspArt .nspInfo{display:block!important;font-size:90%}.nspArt .nspInfo a{}.nspArt .nspInfo a:hover{}.nspArt .nspInfo > .nsp-stars{padding:0 10px 0 0!important}.nspArt .nsp-star-0:before,.nspArt .nsp-star-1:before{content:"★";color:#6c6c6c;font-family:Arial,sans-serif;font-size:14px}.nspArt .nsp-star-1:before{color:#f7a834}.nspArt .nspBadge{background:#fff;position:absolute;top:29px;left:20px;text-transform:uppercase;font-size:10px;line-height:12px;padding:2px 10px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.nspArt .tleft{text-align:left}.nspArt .tright{text-align:right}.nspArt .tcenter{text-align:center}.nspArt .tjustify{text-align:justify}.nspArt .fleft{float:left}.nspArt .fright{float:right}.nspArt .fnone{clear:both;float:none;width:100%}.readon.left,.readon.right,.readon.center{clear:both}.readon.left{float:left}.readon.right{float:right}.readon.center{display:inline;float:none}.nspAvatar{} .nspLinks{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:3px}.nspList{float:left}.nspList > li > .nspImageWrapper{float:left}.nspList > li > .nspImageWrapperRight{float:right}.nspList > li .nspImage{height:auto!important;max-width:100%}.nspLinks ul{list-style-type:none!important;padding:0!important}.nspLinks .nspLinkScroll1 ul li{background:#fff;border-top:1px solid #eee;margin:0!important;padding:10px 3px}.nspLinks .nspLinkScroll1 ul li:first-child{border-top:none}.nspLinks ul li:hover{}.nspLinks ul li h4{}.nspLinks ul li h4 a{text-decoration:none}.nspLinks ul li h4 a:hover{}.nspLinks ul li p{} .nspArts.left{float:right}.nspLinksWrap.left{float:left}.nspArts.right{float:left}.nspLinksWrap.right{float:right} .nspMain .unvisible{left:-9999px;position:absolute;top:auto} .gkResponsive img.nspImage,img.nspImage.gkResponsive{height:auto;width:100%!important}.nspArt img.nspImage{max-width:100%}.nspArtScroll1,.nspLinkScroll1{clear:both;width:100%}.nspPages1{width:100%}.nspPages2{width:200%}.nspPages3{width:300%}.nspPages4{width:400%}.nspPages5{width:500%}.nspPages6{width:600%}.nspPages7{width:700%}.nspPages8{width:800%}.nspPages9{width:900%}.nspPages10{width:1000%}.nspPages11{width:1100%}.nspPages12{width:1200%}.nspPages13{width:1300%}.nspPages14{width:1400%}.nspPages15{width:1500%}.nspPages16{width:1600%}.nspPages17{width:1700%}.nspPages18{width:1800%}.nspPages19{width:1900%}.nspPages20{width:2000%}.nspCol1{width:100%}.nspCol2{width:50%}.nspCol3{width:33.333333%}.nspCol4{width:25%}.nspCol5{width:20%}.nspCol6{width:16.666666%}.nspCol7{width:14.285714%}.nspCol8{width:12.5%}.nspCol9{width:11.111111%}.nspCol10{width:10%}.nspCol11{width:9.090909%}.nspCol12{width:8.333333%}.nspCol13{width:7.692307%}.nspCol14{width:7.142857%}.nspCol15{width:6.666666%}.nspCol16{width:6.25%}.nspCol17{width:5.882352%}.nspCol18{width:5.555555%}.nspCol19{width:5.263157%}.nspCol20{width:5%} .nspList,.nspArtPage{opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;transition:opacity 0.5s ease-out;visibility:hidden}.nspList.active,.nspArtPage.active{opacity:1;filter:alpha(opacity=100);visibility:visible} .neutral{color:#999;font-size:13px}.neutral a{color:#333;text-decoration:none}.neutral a:active,.neutral a:focus,.neutral a:hover{color:#777}.neutral .nspHeader{font-size:18px;font-weight:400}.neutral .nspInfo a{padding-right:5px}.neutral .readon{background:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;padding:6px 10px}.neutral .readon:active,.neutral .readon:focus,.neutral .readon:hover{background:#999;color:#fff}.neutral .nspLinks ul li h4{font-size:15px;margin:0 0 10px 0} .nspK2StoreCartForm{padding:10px 0;text-align:center}.nspK2StoreCartForm .k2store-notification{background:#fff;border:1px solid #e5e5e5;font-size:12px;margin:10px 0;padding:10px;position:relative}.nspK2StoreCartForm .cart_dialogue_close{position:absolute;right:10px;top:5px}.nspK2StorePrice{color:#111;display:block;font-size:14px;padding:10px 0;text-align:center}.nspK2StorePrice strike{color:#ccc;display:block} .nspHikashopBlock{text-align:center}.nspHikashopBlock span{display:block}.nspHikashopBlock .button{display:inline-block;float:none;margin-top:30px}.nspHikashopBlock .hikashop_product_stock_count{color:#999!important;font-size:11px!important;padding:10px 0!important} @media (max-width:800px){.nspArts,.nspLinksWrap{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;padding:0 32px;position:relative}.nspPrev,.nspNext{left:0;position:absolute;top:20%;z-index:101}.nspNext{left:auto;right:0}.nspPagination{display:none}}@media (max-width:600px){.nspArt{width:100%}.nspArt img.nspImage{max-width:100%}.nspImageWrapper{margin:0 0 20px 0!important;width:100%}.gkArtContentWrap{width:100%}}


/*===============================
http://www.iasitvlife.ro:80/modules/mod_highlighter_gk5/interface/css/style.css
================================================================================*/
a:active,a:focus{outline:0}.gkHighlighterGK5{position:relative;width:100%} .gkHighlighterInterface{float:left;padding:0 7px }.gkHighlighterInterface[data-pos="right"]{float:right}.gkHighlighterInterface span.text{display:block;float:left;margin:0 6px 0 7px;font-size:11px;font-weight:bold;text-transform:uppercase;line-height:18px}.gkHighlighterInterface div{float:left;width:auto}.gkHighlighterInterface div a{display:block;float:left;height:13px;width:13px;margin:2px 0 0 2px;background:transparent url('http://www.iasitvlife.ro:80/modules/mod_highlighter_gk5/interface/images/interface.png') no-repeat 0 0;cursor:pointer}.gkHighlighterInterface div a.prev{}.gkHighlighterInterface div a.next{background-position:right 0}.gkHighlighterInterface div a.prev:hover{background-position:0 bottom}.gkHighlighterInterface div a.next:hover{background-position:right bottom} .gkHighlighterWrapper{position:relative}.gkHighlighterWrapperSub{position:relative;min-height:30px;opacity:1}.gkHighlighterWrapper .nowrap{width:100000px;position:absolute;left:-99999em}.gkHighlighterWrapper .gkHighlighterItem{position:absolute;top:0;width:100%;left:0}.gkHighlighterWrapper .gkHighlighterItem.gk-active{z-index:100}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.gkHighlighterItem.flipInX{-webkit-backface-visibility:visible !important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible !important;-moz-animation-name:flipInX;-o-backface-visibility:visible !important;-o-animation-name:flipInX;backface-visibility:visible !important;animation-name:flipInX;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}}@-moz-keyframes flipOutX{0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}}@-o-keyframes flipOutX{0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{transform:perspective(400px) rotateX(0deg);opacity:1}100%{transform:perspective(400px) rotateX(90deg);opacity:0}}.gkHighlighterItem{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.gkHighlighterItem.flipOutX{-webkit-animation-name:flipOutX;-webkit-backface-visibility:visible !important;-moz-animation-name:flipOutX;-moz-backface-visibility:visible !important;-o-animation-name:flipOutX;-o-backface-visibility:visible !important;animation-name:flipOutX;backface-visibility:visible !important;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.gkHighlighterItem.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;opacity:1!important;filter:alpha(opacity=100)!important}.invisible{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-20px)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-20px)}}@-o-keyframes fadeOutLeft{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-20px)}}@keyframes fadeOutLeft{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-20px)}}.gkHighlighterItem.fadeOutLeft{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.gkHighlighterItem.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.gkHighlighterItem.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"} .bar{width:100%px;height:40px;position:relative;-webkit-perspective:1100px;-moz-perspective:1100px;-ms-perspective:1100px;-o-perspective:1100px;perspective:1100px}.bar .gkHighlighterWrapperSub{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d}.bar .gkHighlighterItem{display:block;position:absolute;width:100%;height:40px;left:0px;top:0px;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:antialiased }.bar .gkHighlighterItem.gkHidden{opacity:0;display:none}.bar .gkHighlighterItem.front{-webkit-transform:rotateX(0deg) translateZ(20px);-moz-transform:rotateX(0deg) translateZ(20px);-o-transform:rotateX(0deg) translateZ(20px);transform:rotateX(0deg) translateZ(20px)}.bar .gkHighlighterItem.bottom{-webkit-transform:rotateX(90deg) translateZ(20px);-moz-transform:rotateX(90deg) translateZ(20px);-o-transform:rotateX(90deg) translateZ(20px);transform:rotateX(90deg) translateZ(20px)}.bar .gkHighlighterItem.back{-webkit-transform:rotateX(180deg) translateZ(20px);-moz-transform:rotateX(180deg) translateZ(20px);-o-transform:rotateX(180deg) translateZ(20px);transform:rotateX(180deg) translateZ(20px)}.bar .gkHighlighterItem.top{-webkit-transform:rotateX(270deg) translateZ(20px);-moz-transform:rotateX(270deg) translateZ(20px);-o-transform:rotateX(270deg) translateZ(20px);transform:rotateX(270deg) translateZ(20px)}