

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/templates/ts_dailytimes/css/home.css
================================================================================*/
.home h1{line-height:1}.home h2{font-size:21px}@media screen and (min-width:768px){.home h2{font-size:30px}}.home .jumbotron{background-color:transparent;position:relative;margin-bottom:0}.home .t3-sl-1{padding:0;background:#ffffff;color:#333333;border-bottom:1px solid #eeeeee}.home .t3-sl-1 .jumbotron{border-radius:0}.home .t3-sl-1 .jumbotron .btn{margin-top:20px}.home .t3-sl-2{text-align:center}.home .t3-sl-2 .img-responsive{display:inline-block}@media screen and (min-width:768px){.home .t3-sl-2 p{font-size:16px;line-height:22px}}.home .t3-sl-3 p > img{margin-top:20px}@media screen and (min-width:992px){.home .t3-sl-3 p > img{margin-top:0}}.home .t3-sl-3,.home .t3-sl-4{border-top:1px solid #eeeeee;text-align:center}@media screen and (min-width:768px){.home .t3-sl-3 p,.home .t3-sl-4 p{font-size:16px;line-height:22px}}.home .t3-sl-3 .jumbotron,.home .t3-sl-4 .jumbotron{padding-top:0}.home .t3-sl-3 .jumbotron h1,.home .t3-sl-4 .jumbotron h1{margin-bottom:10px;margin-top:0}.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:18px;line-height:1.25;color:#999999}@media screen and (min-width:768px){.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:21px}}.home .t3-sl-5{background:#ffffff;color:#333333;border-top:1px solid #eeeeee;padding:0}.home .t3-sl-5 .jumbotron{border-radius:0;margin-bottom:0}


/*===============================
/media/system/css/frontediting.css
================================================================================*/
.jmoddiv.jmodinside{position:relative;top:0;left:0}.btn.jmodedit{z-index:1001;display:block;position:absolute;top:0;right:0}html[dir=rtl] .btn.jmodedit{right:auto;left:0} .btn.jfedit-menu{z-index:1002;display:block}


/*===============================
/modules/mod_sp_social/assets/css/default/sp_social.css
================================================================================*/
div.sp_social{}div.sp_social ul{list-style:none;padding:0;margin:0}div.sp_social ul li{display:inline-block;padding:0;margin:0 2px 0 0;background:none}div.sp_social ul li a{display:block;padding:0;margin:0;background-color:none;background-repeat:no-repeat;background-position:50%;font-size:12px;border:0;text-decoration:none}div.sp_social.icon_size_32 ul li a{width:32px;height:32px}div.sp_social.icon_size_16 ul li a{width:16px;height:16px}div.sp_social ul li a:hover{background-color:none;text-decoration:none}div.sp_social ul li a span{display:none}div.sp_social ul li a strong{display:none} div.sp_social.icon_size_32 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/32/rss.png)}div.sp_social.icon_size_32 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/32/facebook.png)}div.sp_social.icon_size_32 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/32/twitter.png)}div.sp_social.icon_size_32 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/32/google_plus.png)}div.sp_social.icon_size_32 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/32/linkedin.png)}div.sp_social.icon_size_32 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/32/youtube.png)}div.sp_social.icon_size_32 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/32/pinterest.png)}div.sp_social.icon_size_32 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/32/flickr.png)}div.sp_social.icon_size_32 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/32/picasa.png)}div.sp_social.icon_size_32 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/32/myspace.png)}div.sp_social.icon_size_32 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/32/digg.png)}div.sp_social.icon_size_32 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/32/skype.png)}div.sp_social.icon_size_32 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/32/vimeo.png)}div.sp_social.icon_size_32 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/32/delicious.png)} div.sp_social.icon_size_16 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/16/rss.png)}div.sp_social.icon_size_16 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/16/facebook.png)}div.sp_social.icon_size_16 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/16/twitter.png)}div.sp_social.icon_size_16 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/16/google_plus.png)}div.sp_social.icon_size_16 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/16/linkedin.png)}div.sp_social.icon_size_16 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/16/youtube.png)}div.sp_social.icon_size_16 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/16/pinterest.png)}div.sp_social.icon_size_16 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/16/flickr.png)}div.sp_social.icon_size_16 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/16/picasa.png)}div.sp_social.icon_size_16 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/16/myspace.png)}div.sp_social.icon_size_16 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/16/digg.png)}div.sp_social.icon_size_16 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/16/skype.png)}div.sp_social.icon_size_16 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/16/vimeo.png)}div.sp_social.icon_size_16 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/16/delicious.png)} .rtl div.sp_social ul li{margin:0 0 0 2px}


/*===============================
/modules/mod_bt_login/tmpl/css/style2.0.css
================================================================================*/
#simplemodal-overlay{background-color:#000}#simplemodal-container a.modalCloseImg{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) top no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}#simplemodal-container a.modalCloseImg:hover{background:url(/modules/mod_bt_login/tmpl/images/close_bt.png) bottom no-repeat;width:26px;height:26px;display:inline;z-index:3200;position:absolute;top:6px;right:10px;cursor:pointer}.simplemodal-wrap{overflow:visible!important}.btl-content-block{background:none repeat scroll 0 0 #FFFFFF;border-radius:4px;border:1px solid #dadada;box-shadow:8px 8px 8px rgba(0,0,0,0.4);display:none;height:auto;overflow:hidden;text-align:left;font-size:12px;position:relative}.btl-content-block form{margin:0;padding:0}.btl-content-block h3{background:url("/modules/mod_bt_login/tmpl/images/header_bglogin.jpg") repeat-x scroll left top transparent;font-weight:normal;line-height:35px;margin:0px;padding:3px 0px 0px 19px!important;text-transform:uppercase;font-size:18px}.btl-input > input[type=text],.btl-input > input[type=password],#recaptcha > input{border:1px solid #dadada;border-radius:4px;margin:5px 0;text-indent:5px;width:189px;height:26px;padding:0;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s}#recaptcha > input{width:100px}.btl-input > input:focus,#recaptcha > input:focus{border-color:#E9322D;box-shadow:0 0 6px #F8B9B7}#recaptcha span#btl-captcha-reload{display:inline-block;width:16px;height:16px;background:url('/modules/mod_bt_login/tmpl/images/reload.png') no-repeat;text-indent:-9999px;cursor:pointer}#btl{position:relative}#btl .btl-panel{overflow:hidden}#btl .btl-panel > #btl-panel-profile{background:url(/modules/mod_bt_login/tmpl/images/btl-panel-bg.png) top right no-repeat;padding-right:30px}button::-moz-focus-inner{padding:0;border:none}#btl .btl-panel > span{display:inline-block;height:26px;line-height:28px;padding:0 18px;cursor:pointer;text-indent:0!important;width:auto}#btl .btl-panel > span{margin:2px 0px;box-shadow:1px 1px 1px rgba(0,0,0,0.5)}#btl .btl-panel > span,button.btl-buttonsubmit,input.btl-buttonsubmit{border-radius:3px}#btl .btl-panel > span.active,button.btl-buttonsubmit:focus,input.btl-buttonsubmit:focus{opacity:0.8}.btl-error{display:none}.btl-error-detail{display:none;float:right;color:#FF0000;margin-bottom:4px}.btl-field,#register-link,.btl-error-detail,.btl-error,.btl-note{margin-left:20px;margin-right:25px!important;overflow:hidden}.btl-label{float:left!important}.btl-input{float:right!important}.btl-label,.btl-input{line-height:38px;height:38px}#recaptcha{height:auto!important;float:right}#btl-content-login .btl-input input{width:190px}#btl-input-remember{}#btl-checkbox-remember{width:15px!important;vertical-align:middle;padding:0;margin:0}.clear{clear:both}.btl-error{color:#FF0000}input.btl-buttonsubmit,button.btl-buttonsubmit{border:none!important;box-shadow:1px 1px 3px rgba(9,4,3,0.86);cursor:pointer;text-align:center!important;text-shadow:0 1px 1px #4A4A4A;width:auto!important;padding:0 12px;height:29px!important;;line-height:29px!important;;display:inline-block}div.btl-buttonsubmit{text-align:center!important;padding:5px 0 0 0!important;border-top:1px solid #dddddd;margin:10px 25px 30px 20px } #btl-content ul li a:hover{color:#7BA428 !important;text-decoration:underline!important;background-color:transparent!important}#btl-content > .btl-content-block{position:absolute!important;z-index:9999}#btl-content #btl-content-login{width:350px}#btl-content-registration{min-width:350px}.btl-note,#register-link{padding:18px 0px}#btl-content-login .btl-input{float:right}#btl-content-login .spacer{height:14px}#btl-content div.btl-buttonsubmit{border-top:1px dotted #c4c4c4}#btl-content #btl-content-login .btl-label{line-height:38px;min-width:0px!important} #btl-content #btl-content-profile{overflow:hidden}#module-in-profile{min-width:200px}#btl-content #btl-content-profile #module-in-profile ul{position:static;text-align:left;margin:0 0 0 15px;padding:0!important}#btl-content-profile ul.menu li{background:url("/modules/mod_bt_login/tmpl/images/bullet.png") no-repeat scroll 5px 15px transparent;padding:0 0 0 20px!important;border-bottom:1px solid #E8E8E8;display:list-item!important;line-height:37px}#btl-content #btl-content-profile #module-in-profile ul li a{color:#6b6b6b;text-decoration:none !important;text-transform:none!important;font-family:arial,tahoma}#btl-content-profile ul.menu li a{color:#616161!important;text-decoration:none!important;border:none!important;background:none!important;display:inline!important;padding:0!important;margin:0!important;text-transform:none!important}#btl-content-profile div.btl-buttonsubmit{clear:both;margin-bottom:15px;border:none!important;text-align:center;margin-top:0!important} #btl-register-in-process,#btl-login-in-process{display:none;background:url("/modules/mod_bt_login/tmpl/images/loading.gif") no-repeat #000 50%;opacity:0.4;width:100%;height:100%;position:absolute;z-index:9999;top:-1px;left:-1px;padding-top:1px;padding-left:1px} #btl-success{display:none;margin:20px 0 30px 0;background:url("/modules/mod_bt_login/tmpl/images/notice-info.png") no-repeat;display:none;color:#000;border-bottom:2px solid #90B203;border-top:2px solid #90B203;font-size:14px;padding:10px 10px 10px 25px} #bt_ul{margin-top:-10px!important;margin-bottom:20px!important;margin-right:25px!important;float:right} #btl-content-login ul{position:static!important;text-align:left;list-style-type:disc !important}#btl-content-login ul li{margin-top:3px}#bt_ul li a{padding:0!important;text-decoration:none!important;color:#545454!important}#btl-wrap-module{padding-left:20px;padding-bottom:20px;padding-top:10px}