

/*===============================
/templates/ts_dailytimes/css/custom.css
================================================================================*/
@media (max-width :767px){}


/*===============================
/templates/ts_dailytimes/css/home.css
================================================================================*/
.home h1{line-height:1}.home h2{font-size:21px}@media screen and (min-width:768px){.home h2{font-size:30px}}.home .jumbotron{background-color:transparent;position:relative;margin-bottom:0}.home .t3-sl-1{padding:0;background:#ffffff;color:#333333;border-bottom:1px solid #eeeeee}.home .t3-sl-1 .jumbotron{border-radius:0}.home .t3-sl-1 .jumbotron .btn{margin-top:20px}.home .t3-sl-2{text-align:center}.home .t3-sl-2 .img-responsive{display:inline-block}@media screen and (min-width:768px){.home .t3-sl-2 p{font-size:16px;line-height:22px}}.home .t3-sl-3 p > img{margin-top:20px}@media screen and (min-width:992px){.home .t3-sl-3 p > img{margin-top:0}}.home .t3-sl-3,.home .t3-sl-4{border-top:1px solid #eeeeee;text-align:center}@media screen and (min-width:768px){.home .t3-sl-3 p,.home .t3-sl-4 p{font-size:16px;line-height:22px}}.home .t3-sl-3 .jumbotron,.home .t3-sl-4 .jumbotron{padding-top:0}.home .t3-sl-3 .jumbotron h1,.home .t3-sl-4 .jumbotron h1{margin-bottom:10px;margin-top:0}.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:18px;line-height:1.25;color:#999999}@media screen and (min-width:768px){.home .t3-sl-3 .jumbotron p,.home .t3-sl-4 .jumbotron p{font-size:21px}}.home .t3-sl-5{background:#ffffff;color:#333333;border-top:1px solid #eeeeee;padding:0}.home .t3-sl-5 .jumbotron{border-radius:0;margin-bottom:0}


/*===============================
/modules/mod_jq-dailypop/style/css.css
================================================================================*/
#dailycomplete{visibility:hidden}#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,255,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#0000ff',EndColorStr='#0000ff');bottom:0;color:#FFFFFF;left:0;position:fixed;right:0;top:0;width:100%;z-index:10000;display:none}#dailyposition{height:87%;margin:auto;overflow:auto;padding:10px;width:100%}.copyrightyannt{background-color:rgba(0,0,0,0.4);box-shadow:0 0 10px #000;height:20px;padding:3px}.copyrightyannt a{float:right;text-shadow:1px 1px #333,-1px -1px #444;font-style:italic;font-weight:bolder;font-size:9px;color:#888888;margin-top:1px}.posdailybut{bottom:5px;height:34px;left:0;margin:0;position:absolute;right:0;text-align:center;width:100%}.dailybutton{background-color:#ededed;border:1px solid #dcdcdc;border-radius:6px;box-shadow:0 1px 0 0 #ffffff inset;color:#777777;display:inline-block;font-family:arial;font-size:15px;font-weight:bold;height:28px;margin-top:5px;padding:3px 7px !important;text-decoration:none;text-shadow:1px 1px 0 #ffffff;z-index:10000}.dailybutton:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfdfdf),color-stop(1,#ededed) );background:-moz-linear-gradient( center top,#dfdfdf 5%,#ededed 100% );background-color:#dfdfdf}.dailybutton:active{position:relative;top:1px}#dailytimer{margin:auto;position:relative;width:190px}#actdaily{background:none repeat scroll 0px 0px transparent;cursor:pointer;height:34px;position:absolute;width:100%;z-index:10001}#dailyfullscreen.btnh #dailyposition{margin-top:49px}#dailyfullscreen.btnh .posdailybut{bottom:inherit;top:37px}#dailyfullscreen img{max-width:100%;max-height:100%}#dailyfullscreen .alertpopup{color:#f00;font-size:30px;line-height:30px;padding:15px;text-align:center;text-shadow:0 0 5px rgba(0,0,0,1)}#dailyfullscreen .alertpopup span{font-size:20px}


/*===============================
/modules/mod_jq-dailypop/style/black/css.css
================================================================================*/
#dailyfullscreen{background:none repeat scroll 0 0 rgba(0,0,0,0.85);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#000000',EndColorStr='#000000')}


/*===============================
/media/system/css/frontediting.css
================================================================================*/
.jmoddiv.jmodinside{position:relative;top:0;left:0}.btn.jmodedit{z-index:1001;display:block;position:absolute;top:0;right:0}html[dir=rtl] .btn.jmodedit{right:auto;left:0} .btn.jfedit-menu{z-index:1002;display:block}


/*===============================
/modules/mod_sp_social/assets/css/default/sp_social.css
================================================================================*/
div.sp_social{}div.sp_social ul{list-style:none;padding:0;margin:0}div.sp_social ul li{display:inline-block;padding:0;margin:0 2px 0 0;background:none}div.sp_social ul li a{display:block;padding:0;margin:0;background-color:none;background-repeat:no-repeat;background-position:50%;font-size:12px;border:0;text-decoration:none}div.sp_social.icon_size_32 ul li a{width:32px;height:32px}div.sp_social.icon_size_16 ul li a{width:16px;height:16px}div.sp_social ul li a:hover{background-color:none;text-decoration:none}div.sp_social ul li a span{display:none}div.sp_social ul li a strong{display:none} div.sp_social.icon_size_32 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/32/rss.png)}div.sp_social.icon_size_32 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/32/facebook.png)}div.sp_social.icon_size_32 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/32/twitter.png)}div.sp_social.icon_size_32 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/32/google_plus.png)}div.sp_social.icon_size_32 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/32/linkedin.png)}div.sp_social.icon_size_32 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/32/youtube.png)}div.sp_social.icon_size_32 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/32/pinterest.png)}div.sp_social.icon_size_32 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/32/flickr.png)}div.sp_social.icon_size_32 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/32/picasa.png)}div.sp_social.icon_size_32 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/32/myspace.png)}div.sp_social.icon_size_32 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/32/digg.png)}div.sp_social.icon_size_32 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/32/skype.png)}div.sp_social.icon_size_32 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/32/vimeo.png)}div.sp_social.icon_size_32 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/32/delicious.png)} div.sp_social.icon_size_16 ul li a.sp_social_rss{background-image:url(/modules/mod_sp_social/assets/images/default/16/rss.png)}div.sp_social.icon_size_16 ul li a.sp_social_facebook{background-image:url(/modules/mod_sp_social/assets/images/default/16/facebook.png)}div.sp_social.icon_size_16 ul li a.sp_social_twitter{background-image:url(/modules/mod_sp_social/assets/images/default/16/twitter.png)}div.sp_social.icon_size_16 ul li a.sp_social_googleplus{background-image:url(/modules/mod_sp_social/assets/images/default/16/google_plus.png)}div.sp_social.icon_size_16 ul li a.sp_social_linkedin{background-image:url(/modules/mod_sp_social/assets/images/default/16/linkedin.png)}div.sp_social.icon_size_16 ul li a.sp_social_youtube{background-image:url(/modules/mod_sp_social/assets/images/default/16/youtube.png)}div.sp_social.icon_size_16 ul li a.sp_social_pinterest{background-image:url(/modules/mod_sp_social/assets/images/default/16/pinterest.png)}div.sp_social.icon_size_16 ul li a.sp_social_flickr{background-image:url(/modules/mod_sp_social/assets/images/default/16/flickr.png)}div.sp_social.icon_size_16 ul li a.sp_social_picasa{background-image:url(/modules/mod_sp_social/assets/images/default/16/picasa.png)}div.sp_social.icon_size_16 ul li a.sp_social_myspace{background-image:url(/modules/mod_sp_social/assets/images/default/16/myspace.png)}div.sp_social.icon_size_16 ul li a.sp_social_digg{background-image:url(/modules/mod_sp_social/assets/images/default/16/digg.png)}div.sp_social.icon_size_16 ul li a.sp_social_skype{background-image:url(/modules/mod_sp_social/assets/images/default/16/skype.png)}div.sp_social.icon_size_16 ul li a.sp_social_vimeo{background-image:url(/modules/mod_sp_social/assets/images/default/16/vimeo.png)}div.sp_social.icon_size_16 ul li a.sp_social_delicious{background-image:url(/modules/mod_sp_social/assets/images/default/16/delicious.png)} .rtl div.sp_social ul li{margin:0 0 0 2px}


/*===============================
http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/css/style.css
================================================================================*/
a:active,a:focus{outline:0}.gkHighlighterGK5{position:relative;width:100%} .gkHighlighterInterface{float:left;padding:0 7px }.gkHighlighterInterface[data-pos="right"]{float:right}.gkHighlighterInterface span.text{display:block;float:left;margin:0 6px 0 7px;font-size:11px;font-weight:bold;text-transform:uppercase;line-height:18px}.gkHighlighterInterface div{float:left;width:auto}.gkHighlighterInterface div a{display:block;float:left;height:13px;width:13px;margin:2px 0 0 2px;background:transparent url('http://iasitvlife.ro/modules/mod_highlighter_gk5/interface/images/interface.png') no-repeat 0 0;cursor:pointer}.gkHighlighterInterface div a.prev{}.gkHighlighterInterface div a.next{background-position:right 0}.gkHighlighterInterface div a.prev:hover{background-position:0 bottom}.gkHighlighterInterface div a.next:hover{background-position:right bottom} .gkHighlighterWrapper{position:relative}.gkHighlighterWrapperSub{position:relative;min-height:30px;opacity:1}.gkHighlighterWrapper .nowrap{width:100000px;position:absolute;left:-99999em}.gkHighlighterWrapper .gkHighlighterItem{position:absolute;top:0;width:100%;left:0}.gkHighlighterWrapper .gkHighlighterItem.gk-active{z-index:100}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.gkHighlighterItem.flipInX{-webkit-backface-visibility:visible !important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible !important;-moz-animation-name:flipInX;-o-backface-visibility:visible !important;-o-animation-name:flipInX;backface-visibility:visible !important;animation-name:flipInX;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes flipOutX{0%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}}@-moz-keyframes flipOutX{0%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}}@-o-keyframes flipOutX{0%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}100%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}}@keyframes flipOutX{0%{transform:perspective(400px) rotateX(0deg);opacity:1}100%{transform:perspective(400px) rotateX(90deg);opacity:0}}.gkHighlighterItem{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.gkHighlighterItem.flipOutX{-webkit-animation-name:flipOutX;-webkit-backface-visibility:visible !important;-moz-animation-name:flipOutX;-moz-backface-visibility:visible !important;-o-animation-name:flipOutX;-o-backface-visibility:visible !important;animation-name:flipOutX;backface-visibility:visible !important;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px)}100%{opacity:1;-moz-transform:translateX(0)}}@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px)}100%{opacity:1;-o-transform:translateX(0)}}@keyframes fadeInLeft{0%{opacity:0;transform:translateX(-20px)}100%{opacity:1;transform:translateX(0)}}.gkHighlighterItem.fadeInLeft{-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;opacity:1!important;filter:alpha(opacity=100)!important}.invisible{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeOutLeft{0%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(-20px)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;-moz-transform:translateX(0)}100%{opacity:0;-moz-transform:translateX(-20px)}}@-o-keyframes fadeOutLeft{0%{opacity:1;-o-transform:translateX(0)}100%{opacity:0;-o-transform:translateX(-20px)}}@keyframes fadeOutLeft{0%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(-20px)}}.gkHighlighterItem.fadeOutLeft{-webkit-animation-name:fadeOutLeft;-moz-animation-name:fadeOutLeft;-o-animation-name:fadeOutLeft;animation-name:fadeOutLeft;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.gkHighlighterItem.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;opacity:1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.gkHighlighterItem.fadeOut{-webkit-animation-name:fadeOut;-moz-animation-name:fadeOut;-o-animation-name:fadeOut;animation-name:fadeOut;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"} .bar{width:100%px;height:40px;position:relative;-webkit-perspective:1100px;-moz-perspective:1100px;-ms-perspective:1100px;-o-perspective:1100px;perspective:1100px}.bar .gkHighlighterWrapperSub{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d}.bar .gkHighlighterItem{display:block;position:absolute;width:100%;height:40px;left:0px;top:0px;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-font-smoothing:antialiased }.bar .gkHighlighterItem.gkHidden{opacity:0;display:none}.bar .gkHighlighterItem.front{-webkit-transform:rotateX(0deg) translateZ(20px);-moz-transform:rotateX(0deg) translateZ(20px);-o-transform:rotateX(0deg) translateZ(20px);transform:rotateX(0deg) translateZ(20px)}.bar .gkHighlighterItem.bottom{-webkit-transform:rotateX(90deg) translateZ(20px);-moz-transform:rotateX(90deg) translateZ(20px);-o-transform:rotateX(90deg) translateZ(20px);transform:rotateX(90deg) translateZ(20px)}.bar .gkHighlighterItem.back{-webkit-transform:rotateX(180deg) translateZ(20px);-moz-transform:rotateX(180deg) translateZ(20px);-o-transform:rotateX(180deg) translateZ(20px);transform:rotateX(180deg) translateZ(20px)}.bar .gkHighlighterItem.top{-webkit-transform:rotateX(270deg) translateZ(20px);-moz-transform:rotateX(270deg) translateZ(20px);-o-transform:rotateX(270deg) translateZ(20px);transform:rotateX(270deg) translateZ(20px)}