<!-- Ournet.ro Weather Widget -->
<ins class="ournetweather" style="display:block;max-width:350px;height:243px" data-type="widget" data-cn="ro" data-params="id=675810;days=5;w=350;ul=ro" data-h="243"></ins>
<noscript><p><a href="http://meteo.ournet.ro">Ournet.ro</a></p></noscript>
<script>(ournetweather=window.ournetweather||[]).push({})</script>
<script async src="http://assets.ournetcdn.net/ournet/js/weather/widget-ins.js"></script>