/**
 * @package Helix Ultimate Framework
 * @author JoomShaper https://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2018 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or Later
 */
body.rtl {
  direction: rtl;
}
body.rtl .dropdown-menu {
  float: right;
  text-align: right;
}
body.rtl .close {
  float: left;
}
body.rtl .float-left {
  float: right !important;
}
body.rtl .float-right {
  float: left !important;
}
@media (min-width: 576px) {
  body.rtl .float-sm-left {
    float: right !important;
  }
  body.rtl .float-sm-right {
    float: left !important;
  }
}
@media (min-width: 768px) {
  body.rtl .float-md-left {
    float: right !important;
  }
  body.rtl .float-md-right {
    float: left !important;
  }
}
@media (min-width: 992px) {
  body.rtl .float-lg-left {
    float: right !important;
  }
  body.rtl .float-lg-right {
    float: left !important;
  }
}
@media (min-width: 1200px) {
  body.rtl .float-xl-left {
    float: right !important;
  }
  body.rtl .float-xl-right {
    float: left !important;
  }
}
body.rtl .text-left {
  text-align: right !important;
}
body.rtl .text-right {
  text-align: left !important;
}
@media (min-width: 576px) {
  body.rtl .text-sm-left {
    text-align: right !important;
  }
  body.rtl .text-sm-right {
    text-align: left !important;
  }
}
@media (min-width: 768px) {
  body.rtl .text-md-left {
    text-align: right !important;
  }
  body.rtl .text-md-right {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  body.rtl .text-lg-left {
    text-align: right !important;
  }
  body.rtl .text-lg-right {
    text-align: left !important;
  }
}
@media (min-width: 1200px) {
  body.rtl .text-xl-left {
    text-align: right !important;
  }
  body.rtl .text-xl-right {
    text-align: left !important;
  }
}
body.rtl code, body.rtl kbd, body.rtl pre, body.rtl samp {
  direction: ltr;
  unicode-bidi: bidi-override;
}
body.rtl .mr-auto, body.rtl .mx-auto {
  margin-right: initial !important;
  margin-left: auto !important;
}
body.rtl {
  text-align: right;
  /**********************************************************************************************/
  /**************************************  Shaper Gazette  ***************************************/
  /********************************************************************************************/
}
body.rtl .sp-scroll-up {
  right: auto;
  left: 30px;
}
body.rtl .article-details .link-edit-article {
  right: auto;
  left: 0;
}
body.rtl .sp-module-content .mod-languages form .chzn-container .chzn-single span {
  direction: ltr;
}
body.rtl .sp-megamenu-parent {
  float: right;
}
body.rtl .sp-megamenu-parent > li .sp-menu-badge.sp-menu-badge-right {
  margin-right: 7px;
}
body.rtl .sp-megamenu-parent > li .sp-menu-badge.sp-menu-badge-left {
  margin-left: 7px;
}
body.rtl .sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child > a:after {
  font-family: "FontAwesome";
  content: "\f104";
  float: left;
  margin-right: 7px;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-menu-center {
  margin-right: 45px;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-right {
  right: 0;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full {
  right: 0;
  left: auto;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-left {
  left: 0;
}
body.rtl .sp-megamenu-parent .sp-dropdown.sp-dropdown-sub {
  right: 100%;
}
body.rtl #offcanvas-toggler.offcanvas-toggler-right {
  float: left;
  margin-right: 20px;
}
body.rtl #offcanvas-toggler.offcanvas-toggler-left {
  float: right;
  margin-left: 20px;
}
body.rtl.offcanvs-position-left .body-wrapper {
  right: 0;
}
body.rtl.offcanvs-position-left .offcanvas-menu {
  right: -300px;
}
body.rtl.offcanvs-position-left.offcanvas-active .offcanvas-menu {
  right: 0;
}
body.rtl.offcanvs-position-left.offcanvas-active .body-wrapper {
  right: 300px;
}
body.rtl.offcanvs-position-right .body-wrapper {
  left: 0;
}
body.rtl.offcanvs-position-right .offcanvas-menu {
  left: -300px;
}
body.rtl.offcanvs-position-right.offcanvas-active .offcanvas-menu {
  left: 0;
}
body.rtl.offcanvs-position-right.offcanvas-active .body-wrapper {
  left: 300px;
}
body.rtl .close-offcanvas {
  left: 15px;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler, body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler {
  left: 0;
}
body.rtl .offcanvas-menu .offcanvas-inner .sp-module ul > li ul {
  margin-right: 10px;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .sppb-text-left {
  text-align: right;
}
body.rtl .sppb-text-right {
  text-align: left;
}
body.rtl .sppb-media > .pull-left {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .form-links a {
  margin-right: 0;
  margin-left: 10px;
}
body.rtl .sppb-slider-wrapper {
  direction: ltr;
}
body.rtl .fa-chevron-right:before {
  content: "\f053";
}
body.rtl .sppb-dropcap {
  float: right;
}
body.rtl .fa-angle-left:before {
  content: "\f105";
}
body.rtl .fa-angle-right:before {
  content: "\f104";
}
body.rtl .form-check {
  padding-left: 0;
  padding-right: 1.25rem;
}
body.rtl .form-check-input {
  margin-left: 0;
  margin-right: -1.25rem;
}
body.rtl .sppb-slider-fullwidth-wrapper, body.rtl .articles-slider, body.rtl .sppb-addon-stock-scroller {
  direction: ltr;
}
body.rtl .main-megamenu .menu-toggler {
  right: inherit;
  left: 20px;
}
body.rtl .main-megamenu .menu-toggler:after {
  content: "\f104";
}
body.rtl .main-megamenu .menu-child {
  left: auto;
  right: 100%;
}
body.rtl .sp-megamenu-parent > li > a, body.rtl .sp-megamenu-parent > li > span {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .sp-megamenu-parent > li.sp-has-child > a:after, body.rtl .sp-megamenu-parent > li.sp-has-child > span:after {
  font-family: "FontAwesome";
  content: "\f107";
  float: left;
  margin-right: 2px;
}
body.rtl .sp-vertical-tabs .sp-tab-btns-wrap {
  padding-right: 15px;
  padding-left: 0;
}
body.rtl #sp-menu-right {
  border-left: 0;
  border-right: 1px solid #ebebeb;
}
body.rtl .sp-weather .sp-weather-current .sp-weather-current-temp {
  text-align: right;
}
body.rtl .sp-weather .sp-weather-current .sp-weather-icon-wrap .sp-weather-icon {
  text-align: left;
}
body.rtl .sppb-articles-ticker-controller {
  left: 15px;
  right: auto;
}
body.rtl .sppb-articles-ticker-controller span.sppb-articles-ticker-left-control {
  margin-right: 0;
  margin-left: 5px;
}
body.rtl .sppb-addon-articles-slider.bg_image .sppb-article-details {
  position: absolute;
  right: 0;
}
body.rtl .sppb-addon-articles-slider.bg_image .owl-controls {
  right: inherit;
  left: 30px;
}
body.rtl .sppb-addon-articles.horizontal .sppb-addon-article .sppb-addon-article-info-wrapper {
  margin-left: 0;
  margin-right: 20px;
}
body.rtl .sppb-addon-articles.horizontal .sppb-addon-article .sppb-addon-article-info-wrapper .sppb-article-meta > span.sppb-meta-category:after {
  padding-left: 0;
  padding-right: 22px;
}
body.rtl .sppb-nav-lines > li {
  float: right;
}
body.rtl .gazette-articles-tab .sppb-addon-content.sppb-tab ul.sppb-nav > li > a {
  margin-left: 0;
  margin-right: 20px;
}
body.rtl .sppb-addon-articles-slider .owl-carousel .owl-item img {
  width: 100%;
}
body.rtl .sppb-addon-articles.article-border .intro-items .sppb-addon-article .sppb-addon-article-info-left {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .gazette-poll .mod-sppoll .form-sppoll .sppoll-info-wrap .radio label input {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .sp-tweet .sp-tweet-item .avater-wrap {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl #sp-bottom4 {
  border-left: 0 !important;
}
body.rtl #sp-bottom2 {
  border-right: solid 1px #ebebeb;
}
body.rtl #sp-bottom .acymailing_module .acysubbuttons {
  text-align: right;
}
body.rtl #sp-footer #sp-footer2 {
  text-align: left;
}
body.rtl #sp-logo-right > div > .sp-module:not(:last-child) {
  margin-right: 0;
  margin-left: 25px;
}
body.rtl .sp-custom-login .info-text .sppb-btn i.fa {
  float: right;
  margin-left: 5px;
}
body.rtl .sppb-addon-articles-slider:hover .customNavigation > a {
  right: inherit;
  opacity: 1;
}
body.rtl .sppb-addon-articles-slider .fa-angle-right:before {
  content: "\f105";
}
body.rtl .sppb-addon-articles-slider .fa-angle-left:before {
  content: "\f104";
}
body.rtl .blog .articles-more ul.list-group li.list-group-item .item-image {
  margin-right: 0;
  margin-left: 20px;
}
body.rtl .spauthorarchive-department-img-wrap, body.rtl .spauthorarchive-author-img-wrap {
  margin-right: 0 !important;
  margin-left: 20px;
}
body.rtl .spauthorarchive-department-content, body.rtl .spauthorarchive-author-content {
  text-align: right !important;
}
body.rtl .spauthorarchive-content .spauthorarchive-addon-article .spauthorarchive-article-meta span {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl #sp-bottom-top .sp-scroll-up {
  float: left;
}
body.rtl .sp-weather-icon-wrap {
  padding-right: 0;
  padding-left: 10px;
}
body.rtl .sp-weather-icon-wrap .collapse-icon {
  left: -15px;
  right: auto;
}
body.rtl .sp-weather .sp-weather-forcasts {
  right: 0;
}
body.rtl .sp-custom-login .info-text .sppb-btn {
  display: flex;
}
body.rtl .top-search-wrapper .icon-close-wrap {
  left: 15px;
  right: auto;
}
body.rtl .top-search-input-wrap {
  left: -15px;
}
body.rtl .gazette-socail-icons ul.sppb-icons-group-list li a .sppb-icons-label-text {
  margin-right: 15px;
}
