@media (min-width: 992px) and (max-width: 1199px) {
  .banner-top img {
    width: 90%;
    float: right;
  }
  #btl .btl-panel > span {
    padding: 0 2px !important;
  }
  .header2 .logo a {
    margin-top: 5px;
  }
  .headNews.moduletable {
    padding: 0;
  }
  .headNews.nspText .nspArts .nspArt h4.nspHeader {
    line-height: 12px;
    padding: 3px 0 0;
  }
  .headNews.nspText .nspArts .nspArt h4.nspHeader a {
    font-size: 12px;
  }
  .headNews.nspText .nspArts .nspArt .nspInfo {
    font-size: 11px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-img-list {
    height: 305px;
    max-height: 100%;
  }
  div.sj-social-media-counts .sc-wrap .sc-item {
    width: 90px;
    height: 108px;
    margin-left: 5px;
    margin-bottom: 0;
  }
  div.sj-social-media-counts .sc-wrap .like-text {
    font-size: 12px;
  }
  div.sj-social-media-counts .sc-wrap .like-count {
    padding: 12px 0 0;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 40px;
  }
  .nspLinks ul li p {
    font-size: 13px;
    line-height: 18px;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt h4.nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt img.nspImage {
    height: 258px !important;
  }
  .tabSidebar .gkTabsWrap.vertical ol li,
  .tabSidebar .gkTabsWrap.horizontal ol li {
    padding: 0 8px !important;
  }
  .rightNewsBlock .nspArt img.nspImage {
    height: 175px !important;
  }
  .rightNewsBlock .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .nsp4Block .nspArt img.nspImage {
    height: 152px !important;
  }
  .nsp4Block .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .nspFullslide .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 14px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: 0;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: 0;
  }
  .partner-icon a i {
    margin-right: 10px;
  }
  .t3-footercontent div.sp_social.icon_size_32 ul li a {
    width: 26px;
  }
  #back-to-top.affix {
    bottom: 10px;
    right: 28px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo a {
    margin: 30px 0 35px;
  }
  .head-search .form-control {
    height: 50px;
    line-height: 50px;
  }
  .head-search .search .fa-search {
    top: 18px;
  }
  .banner-top {
    padding-top: 20px;
  }
  .headNews.nspText .nspArts .nspArt h4.nspHeader a {
    line-height: 0;
  }
  .t3-mainnav .t3-megamenu .navbar-nav.level0 > li > a {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .t3-mainnav .t3-module.title-arrow .nspArts .nspArt h4.nspHeader a {
    font-size: 12px;
    line-height: 12px;
  }
  .ts-slideshow .title-arrow .nspTopInterface {
    left: -2px !important;
    right: auto;
  }
  .rightNewsBlock.module {
    margin-top: 20px;
  }
  .rightNewsBlock.module.nspBg .nspArts .nspTopInterface {
    top: 25px !important;
  }
  .rightNewsBlock .nspCol1 {
    width: 50%;
  }
  .ts-showcase .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
    padding-right: 15px;
  }
  .ts-showcase .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
    padding-left: 15px;
  }
  .nsp4Block .nspArt img.nspImage {
    width: 100% !important;
  }
  .ts-hotnews .gkHighlighterWrapper .gkHighlighterItem a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 25px;
  }
  .nspLinks ul li p {
    font-size: 13px;
    line-height: 18px;
  }
  .nspPrev,
  .nspNext {
    position: relative !important;
  }
  .nspArts,
  .nspLinksWrap {
    position: inherit !important;
  }
  .nspText .nspLinksWrap {
    padding: 0 5px!important;
  }
  .nspPagination {
    display: block;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt h4.nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt img.nspImage {
    height: 258px !important;
  }
  .tab-news .nspLinks {
    margin: 0 0 0 15px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li {
    padding: 0 0 24px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li h4 {
    margin-top: 8px;
  }
  .ts-content-mid .col-md-6 {
    width: 50%;
    float: left;
  }
  .ts-content-mid .nspText .nspLinksWrap .nspLinks ul.nspList li h4 a {
    font-size: 15px;
  }
  .ts-content-mid .nspLinksWrap {
    padding: 0 !important;
  }
  .t3-sidebar .nspLinksWrap {
    padding: 0 !important;
  }
  .t3-sidebar .nspDark .nspCol1 {
    width: 50%;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev,
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    position: absolute !important;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: -9px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: -8px;
  }
  .nspBg.nspFullslide .nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    margin-top: -90px;
  }
  .newsMore.nspBg .nspArts .nspArt .nspHeader {
    line-height: 12px;
    padding-bottom: 35px;
  }
  .newsMore.nspBg .nspArts .nspArt .nspHeader a {
    font-size: 12px;
  }
  .newsMore.nspBg .nspArts .nspArt .nspInfo {
    padding-bottom: 0;
  }
  .newsMore.nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
  #back-to-top.affix {
    bottom: 15px;
    right: 25px;
  }
}

@media (max-width: 767px) {
  .ts-topbar {
    text-align: center;
    padding: 5px 0;
  }
  .ts-topbar ul li a {
    padding: 0 5px !important;
  }
  #btl {
    padding: 0;
  }
  .header-left {
    display: none;
  }
  .t3-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo a {
    margin: 0 0 25px;
  }
  .head-search {
    right: 0;
  }
  .head-search .form-control {
    height: 50px;
    line-height: 50px;
  }
  .head-search .search .fa-search {
    top: 18px;
  }
  .ts-hotnews .gkHighlighterWrapper .gkHighlighterItem a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 25px;
    font-size: 12px;
  }
  .ts-slideshow .t3-module,
  .ts-showcase .t3-module {
    margin-bottom: 20px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination {
    top: 10px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows {
    top: 25px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-category {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-content {
    bottom: -15px;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title {
    line-height: 20px;
    margin: 4px 0;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
    font-size: 16px;
  }
  .rightNewsBlock .nspArt img.nspImage {
    width: 100% !important;
  }
  .rightNewsBlock .nspBg .nspArts .nspTopInterface {
    right: 20px;
  }
  .ts-showcase .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
    padding-right: 15px;
  }
  .ts-showcase .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
    padding-left: 15px;
  }
  .nsp4Block .nspArt img.nspImage {
    width: 100% !important;
  }
  .vina-camera-slider-k2 .camera_caption > div h3 {
    font-size: 16px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev,
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    position: absolute !important;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: 8px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: 8px;
  }
  .nspBg.nspFullslide .nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    margin-top: -65px;
  }
  .nspBg.nspFullslide .nspArts .nspArt h4.nspHeader a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 25px;
  }
  .nspMain.trending.nspText .nspArts .nspArt .nspInfo {
    margin-bottom: 10px;
  }
  .nspArts,
  .nspLinksWrap {
    position: inherit !important;
  }
  .nspPrev,
  .nspNext {
    position: relative !important;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspText .nspLinksWrap {
    padding: 0 !important;
  }
  .ts-content-top .tabSidebar {
    display: none;
  }
  .ts-content-top .tabSidebar .gkTabsWrap.vertical ol li {
    margin: 0 1px 0 0!important;
    padding: 0 3px!important;
  }
  .ts-content-top .tabSidebar .nspText .nspArts .nspArt h4.nspHeader {
    clear: both;
  }
  .tab-news .gkTabsWrap.vertical ol.gkTabsNav li {
    font-size: 9px;
  }
  .tab-news .nspArts {
    width: 100% !important;
  }
  .tab-news .nspArts img.nspImage {
    width: 100% !important;
  }
  .tab-news .nspLinksWrap {
    width: 100% !important;
    padding: 0 !important;
    margin-top: 15px;
  }
  .tab-news .nspLinksWrap .nspLinks {
    margin: 0 !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li {
    clear: both;
    padding: 5px 0 10px !important;
    margin: 5px 0 10px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li h4 {
    margin-top: 0;
  }
  .tab-news .nspText .nspLinkScroll2.nspPages4 a.nspImageWrapper {
    float: none;
    display: block;
    margin-bottom: 15px !important;
  }
  .title-arrow .nspTopInterface {
    top: -10px !important;
  }
  .title-arrow .nspTopInterface .nspNext,
  .title-arrow .nspTopInterface .nspPrev {
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .ts-footer-top .banneritem img {
    max-width: 90%;
  }
  .t3-copyright .pull-right {
    float: left !important;
  }
  .t3-copyright ul li a {
    padding-left: 0;
    font-size: 10px;
  }
  #back-to-top {
    right: 5px;
  }
  .dontMiss .nspArt {
    width: 50%;
  }
  .dontMiss.nspText .nspArts .nspArt h4.nspHeader a {
    font-size: 14px;
  }
  div.itemContainer {
    width: 100% !important;
    padding: 0 !important;
  }
  .entertainment #itemListSecondary .catItemTitle {
    padding-top: 20px;
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 478px) {
  .ts-topbar ul li a {
    padding: 0 1px !important;
    font-size: 9px !important;
  }
  .logo-image img {
    width: 250px !important;
    background-size: contain !important;
  }
  .header2 .logo a {
    margin: 10px 0 0;
  }
  .header2 .ts-hotnews {
    margin: 0 0 25px;
  }
  .headNews.nspText .nspArts .nspArt h4.nspHeader {
    line-height: 12px;
    padding: 3px 0 0;
  }
  .headNews.nspText .nspArts .nspArt h4.nspHeader a {
    font-size: 12px;
  }
  .headNews.nspText .nspArts .nspArt .nspInfo {
    font-size: 11px;
  }
  .tab-news .nspArts .nspArt h4.nspHeader a,
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 12px;
  }
  .nspText .nspLinks ul li p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 35px;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title {
    line-height: 16px;
    margin: 0;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
    font-size: 13px;
  }
  div.sj-social-media-counts {
    text-align: center;
  }
  div.sj-social-media-counts .sc-wrap {
    display: inline-block;
  }
  div.sj-social-media-counts .sc-wrap .sc-item {
    width: 80px;
    height: 108px;
    margin-left: 12px;
    margin-bottom: 10px;
  }
  div.sj-social-media-counts .sc-wrap .like-text {
    font-size: 10px;
  }
  div.sj-social-media-counts .sc-wrap .like-count {
    padding: 12px 0 0;
  }
  .tab-news .gkTabsWrap.vertical ol.gkTabsNav li {
    padding: 0 0 0 3px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 35px;
  }
  .tab-news .nspLinksWrap.right .nspLinks ul.nspList li {
    padding: 5px 0 !important;
    margin: 5px 0 !important;
  }
  .gkTabsWrap.vertical ol li,
  .gkTabsWrap.horizontal ol li {
    font-size: 10px !important;
  }
  #back-to-top.affix {
    bottom: 65px;
  }
}