/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */



  /* Main navigation
================================================== */

.t3-mainnav{
  border: 0;
   background: @brand-primary;
   box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
   //border-bottom: 1px solid darken(@brand-primary, 10%);
   .container{
      position: relative;
   }

   //Dropdown
   .navbar-nav > li > .dropdown-menu,
   .navbar-nav .mega-nav li .dropdown-menu{
      background: #fff;
      border: 0;
      .border-radius(0);
   }

   //Megamenu
   .t3-megamenu{
      .navbar-nav.level0 > li{
        border-right: 1px solid rgba(0, 0, 0, 0.16);
         >a{
            color: #fff;
            text-rendering: optimizeLegibility;
            font-weight: 400;
            font-size: 16px;
            margin: -1px 0;
            line-height: 25px;
            padding-left: 17px;
            padding-right: 17px;
            padding-top: 17px;
            .transition (350ms);
         }

         .caret{
            border-top-color: rgba(0, 0, 0, 0.3);
            border-bottom-color: rgba(0, 0, 0, 0.3);
         }

         &.active, &:focus{
            > a{
               background: rgba(0, 0, 0, 0.1);
               color: #fff;
            }
         }
         &:hover{
            >a{
               background: rgba(0, 0, 0, 0.1) !important;
            }
         }

         ul.mega-nav.level1{
          >li.active>a{
            color: @brand-primary;
          }
        }
        ul.mega-nav.level2{
          >li.active>a{
            color: @brand-primary;
          }
        }


      } // level-0 > li end

      //Dropdown
      .mega-nav > li a, .dropdown-menu .mega-nav > li a{
         padding: 10px 0;
         border-bottom: 1px solid #e5e5e5;
         color: @title-color;
         font-size: 13px;
         text-transform: uppercase;
         background: none !important;
         &:hover{
            background: none;
            color: @brand-primary;
         }
      }

      .mega-nav > li:last-child > a, 
      .dropdown-menu .mega-nav > li:last-child > a {
         border-bottom: 0;
      }

      .dropdown-menu{
         -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);
         padding-bottom: 0;
      }

      //Megagroup title
      .mega-nav .mega-group > .mega-group-title{
         text-transform: uppercase;
         font-weight: 500;
         font-size: 14px !important;
         margin: 15px 0 5px 0 !important;
      }

      //Banner
      .banneritem{
         padding-top: 15px;
      }


   } // Mega menu end

   //Nsp

   .t3-module.title-arrow{
      .nspArts .nspArt{
            h4.nspHeader{
            line-height: 18px;
            padding: 0;
            a{
               font-size: 14px;
            }
         }
         .nspInfo a.nspCategory{
            left: 10px;
         }
      }

      .nspTopInterface{
         top: 5px !important;
         right: 8px !important;
      }
   }
}


// -------------------------------------------------------
//  DEFAULT BOOTSTRAP NAVBAR (navbars.less)
// -------------------------------------------------------

// Base Navbars
// --------------------------------------------------
.navbar {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar heading
// --------------
.navbar-header {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar collapse (body)
// ----------------------
.navbar-collapse {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Brand/project name
// ------------------
.navbar-brand {
  // Link states
  &:hover,
  &:focus {
  }
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar toggle
// -------------
.navbar-toggle {

  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: @navbar-padding-horizontal;

  // Bars
  .fa-bars {
  }

  // Hide on breakpoint
  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}


// Navbar nav links
// ----------------
.navbar-nav {
  margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

  > li > a {
  }

  // T3 Note: Dropdown Menu styles when collapsed
  // Dropdowns get custom display when collapsed
  @media (max-width: @screen-xs-max) {
    .open .dropdown-menu {
      > li > a,
      .dropdown-header {
      }
      > li > a {
        // Link states
        &:hover,
        &:focus {
        }
      }
    }
  }

  // T3 Note: Main Styles for breakpoint
  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    margin: 0;
    > li {
      > a {
      }
    }
  }

  // End
}


// Navbar form
// ------------
.navbar-form {
}


// Dropdown in navbars
// -------------------
// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
}


// Buttons in navbars
// ------------------
.navbar-btn {
}


// Text in navbars
// ---------------
.navbar-text {
}



// Default Navbars (Visual Style only)
// --------------------------------------------------
.navbar-default {

  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      //color: @navbar-default-brand-hover-color;
      //background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover,
      &:focus {
       // color: @navbar-default-link-hover-color;
        //background-color: @navbar-default-link-hover-bg;
      }
    }

    > li > .nav-header {
      color: @navbar-default-link-color;
      display: inline-block;
      padding-top: @t3-global-padding * 0.75;
      padding-bottom: @t3-global-padding * 0.75;
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items and carets
  .navbar-nav {
    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: #fff;
      border-bottom-color: #fff;
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
        .caret {
          border-top-color: #fff;
          border-bottom-color: #fff;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-default-link-color;
      border-bottom-color: @navbar-default-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

}



// -------------------------------------------------------
//  T3 MAIN MENU
// -------------------------------------------------------
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;


  // Navbar
  // -------
  .t3-navbar {
    padding-left: 0;
    padding-right: 0;
  }


  // Collapse Navbar
  // ---------------
  .t3-navbar-collapse {

    // Hide the generated navbar on breakpoint
    @media (min-width: @grid-float-breakpoint) {
      display: none !important;
    }

    // Navbar nav links
    // ----------------
    .navbar-nav {
      margin: 0 -@navbar-padding-horizontal;

      //font awesome
      li > a .fa {
        margin-right: 5px;
      }

      > li > a {
        border-top: 1px solid @navbar-default-border;
      }

      > li:first-child  > a {
        border-top: 0;
      }

      // Dropdown Menu
      .open .dropdown-menu {

        > li > a,
        .dropdown-header {
        }

        > li > a {
          // Link states
          &:hover,
          &:focus {
          }
        }

      }

      // Re-Align the caret on right
      .dropdown > a {
        .caret {
          position: absolute;
          top: 40%;
          right: @padding-base-horizontal;
        }
      }
    }

  // End Collapse Navbar
  }

// End
}
