/**
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org
 * @credits       Mary Lou - http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
 *------------------------------------------------------------------------------
 */


// VARIABLES & MIXINS
// ------------------
@import "vars.less"; // Include Variables and Mixins


// EXTEND STYLE IN BASE
// --------------------
@import "../../../plugins/system/t3/base-bs3/less/off-canvas.less";



//
// OFF-CANVAS
// -------------------------------------


 //Heading
 .off-canvas-toggle{
    float: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 0;
    &:hover, &:focus{
       background: darken(@brand-primary, 15%) !important;
    }
 }

// Toggle Button
// -------------------
.off-canvas-toggle {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: @navbar-height;
  height: @navbar-height;
  line-height: @navbar-height;
  &:focus {
    outline: none;
  }
}


//
// OFF-CANVAS CONTENT STYLES
// -------------------------------------
.t3-off-canvas {

  // Generic
  // -----------------------------------
  background: @t3-off-canvas-background;
  color: @t3-off-canvas-text-color;

  ul.nav.nav-stacked {
     > li {
        > a{
            font-weight: 700;
         }
      }
  }


  // Header
  // -----------------------------------
  .t3-off-canvas-header {
    background: @t3-off-canvas-header-background;
    color: @t3-off-canvas-header-text-color;
    padding: 0 0 0 @padding-base-horizontal;
    height: 35px;

    // Title
    h2 {
      margin: 0;
      line-height: 35px;
      font-size: @font-size-base;
      font-weight: bold;
      text-transform: uppercase;
    }

  }

  // Close Button
  .close {
    margin: 0;
    height: 35px;
    line-height: 35px;
    width: 35px;
    background: darken(@t3-off-canvas-header-background, 20%);
    position: absolute;
    top: 0;
    right: 0;
  }


  // Body
  // -----------------------------------
  .t3-off-canvas-body {

    padding: (@padding-base-vertical * 4)  @padding-base-horizontal;

    // Links
    // ------------
    a {
      color: @text-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: @t3-off-canvas-link-hover-color;
        text-decoration: none;
      }

      &:focus {
        .tab-focus();
      }
    }

    .dropdown-menu .active a {
      background: transparent;
      color: @brand-primary;
    }


    // Navigations
    // ------------
    .nav {
    }

    // Dropdown Menu
    .dropdown-menu {
    }

   .dropdown-menu > li > a{
      padding: 5px;
   }


    // Modules
    // ------------
    .t3-module {
      margin-bottom: @line-height-computed;
    }

    .module-title  {
      margin-bottom: @line-height-computed / 2;
    }

  // End Off-Canvas Body
  }

// End Off-Canvas Content Styles
}
