/**
 * @author Tripples http://www.themewinter.com
 * @copyright Copyright (c) 2013 - 2015 Tripples
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

   //Boxed
   .box{
      .box-wrapper {
         width: 1170px;
      }
   }
}

/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1199px) {

   //Boxed
   .box{
      .box-wrapper {
         width: 970px;
      }
   }

   //Header

   .banner-top img{
      width: 90%;
      float: right;
   }
   #btl .btl-panel > span{
      padding: 0 2px !important;
   }

   .header2 .logo a{
      margin-top: 5px;
   }

   //headnews
   .headNews {
      &.moduletable{
         padding: 0;
      }
      &.nspText .nspArts .nspArt{
         h4.nspHeader{
            line-height: 12px;
            padding: 3px 0 0;
            a{
               font-size: 12px;
            }
         }
         .nspInfo{
            font-size: 11px;
         }
      }
   }

   //Slideshow
   .slideMain .sprocket-features.layout-slideshow .sprocket-features-img-list {
      height: 305px;
      max-height: 100%;
   }

   //Social counter
   div.sj-social-media-counts .sc-wrap{
      .sc-item{
         width: 90px;
         height: 108px;
         margin-left: 5px;
         margin-bottom: 0;
      }
      .like-text{
         font-size: 12px;
      }
      .like-count{
         padding: 12px 0 0;
      }
   }

   //Nsp Common 

   .tab-news .nspLinksWrap .nspLinks ul.nspList li p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      max-height: 40px;
   }

   .nspLinks ul li p{
      font-size: 13px;
      line-height: 18px;
   }

   .nspArt img.nspImage{
      height: 100% !important;
   }

   .nspBg .nspArts .nspArt .nspHeader a{
      font-size: 13px;
   }

   .tab-news .nspArts .nspArt {
      h4.nspHeader a{
         font-size: 13px;
      }

      img.nspImage{
         height: 258px !important;
      }
   }

   //Nsp Tab
   .tabSidebar{
      .gkTabsWrap.vertical ol li, .gkTabsWrap.horizontal ol li{
         padding: 0 8px !important;
      }
   }


   //Slideshow
   .rightNewsBlock{
      .nspArt img.nspImage{
         height: 175px !important;
      }
      .nspBg .nspArts .nspArt .nspHeader a{
         font-size: 13px;
      }
   }

   //Showcase
   .nsp4Block {
      .nspArt img.nspImage{
         height: 152px !important;
      }
      .nspBg .nspArts .nspArt .nspHeader a{
         font-size: 13px;
      }
   }
   .nspFullslide{
      .nspBg .nspArts .nspArt .nspHeader a{
         font-size: 14px;
      }
   }
   .nspBg.nspFullslide .nspArts .nspTopInterface{
      .nspNext{
         right: 0;
      }
      .nspPrev{
         left: 0;
      }
   }

   //Bottom
   .partner-icon a i{
      margin-right: 10px;
   }

   .t3-footercontent{
      div.sp_social.icon_size_32 ul li a{
         width: 26px;
      }
   }

   #back-to-top.affix{
      bottom: 10px;
      right: 28px;
   }


} /* Medium Devices, Desktops end */


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

   //Boxed
   .box{
      .box-wrapper {
          width: 750px;
      }
   }


   //Header

   .logo a{
      margin: 30px 0 35px;
   }

   .head-search .form-control{
      height: 50px;
      line-height: 50px;
   }
   .head-search .search .fa-search{
      top: 18px;
   }

   .banner-top{
      padding-top: 20px;
   }


   //Head news
   .headNews{
      &.nspText .nspArts .nspArt h4.nspHeader a {
         line-height: 0;
      }
   }


   //Navigation
   .t3-mainnav .t3-megamenu .navbar-nav.level0 > li > a{
      font-size: 12px;
      padding-left: 8px;
      padding-right: 8px;
   }

   .t3-mainnav .t3-module.title-arrow .nspArts .nspArt h4.nspHeader a {
      font-size: 12px;
      line-height: 12px;
   }


   //Slideshow
   .ts-slideshow{
      .title-arrow .nspTopInterface{
         left: -2px !important;
         right: auto;
      }
   }
   .rightNewsBlock{
      &.module{
         margin-top: 20px;

         &.nspBg .nspArts .nspTopInterface{
            top: 25px !important;
         }
      }
      .nspCol1{
         width: 50%;
      }
   }

   //Showcase
   .ts-showcase{
      .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
         padding-right: 15px;
      }
      .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
         padding-left: 15px;
      }
   }

   .nsp4Block {
      .nspArt img.nspImage{
         width: 100% !important;
      }
   }

   //Breaking
   .ts-hotnews .gkHighlighterWrapper .gkHighlighterItem a{
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      max-height: 25px;
   }

   //Nsp Common 
   .nspLinks ul li p{
      font-size: 13px;
      line-height: 18px;
   }

   .nspPrev, .nspNext{
      position: relative !important;
   }

   .nspArts, .nspLinksWrap{
      position: inherit !important;
   }

   .nspText .nspLinksWrap{
      padding: 0 5px!important;
   }

   .nspPagination{
      display: block;
   }

   .nspArt img.nspImage{
      height: 100% !important;
   }

   .nspBg .nspArts .nspArt .nspHeader a{
      font-size: 13px;
   }

   //Tab news

   .tab-news{
      .nspArts .nspArt {
         h4.nspHeader a{
            font-size: 13px;
         }
         img.nspImage{
            height: 258px !important;
         }

      }
      .nspLinks{
         margin: 0 0 0 15px !important;
      }
      .nspLinksWrap .nspLinks ul.nspList li{
         padding: 0 0 24px !important;
         h4{
            margin-top: 8px;
         }
      }

   } //Tab news end


   //Content
   .ts-content-mid{
      .col-md-6{
         width: 50%;
         float: left;
      }
      .nspText .nspLinksWrap .nspLinks ul.nspList li h4 a{
         font-size: 15px;
      }
      .nspLinksWrap{
         padding: 0 !important;
      }
   }


   //Sidebar
   .t3-sidebar{
      .nspLinksWrap{
         padding: 0 !important;
      }

      .nspDark{
         .nspCol1{
            width: 50%;
         }
      }
   }

   //Fullslide
   .nspBg.nspFullslide{
      .nspArts{
         .nspTopInterface{
            .nspPrev, .nspNext{
               position: absolute !important;
            }
            .nspPrev{
               left: -9px;
            }
            .nspNext{
               right: -8px;
            }
         }
      }

      .nspBg .nspArts .nspArt .nspInfo a.nspCategory{
         margin-top: -90px;
      }
   }

   //Trending
   .newsMore{
      &.nspBg .nspArts .nspArt{
         .nspHeader{
            line-height: 12px;
            padding-bottom: 35px;
            a{
               font-size: 12px;
            }
         }
         .nspInfo{
            padding-bottom: 0;
            a.nspCategory{
               font-size: 10px;
               height: 20px;
               line-height: 20px;
            }
         }
      }
   }



   //Footer

   #back-to-top.affix{
      bottom: 15px;
      right: 25px;
   }


} /* Small Devices, Tablets end */


/* Small Devices Potrait */
@media (max-width : 767px){

   //Boxed
   .box{
      .box-wrapper {
          width: auto;
          margin: 20px;
      }
      .t3-mainnav .container {
         padding-left: 15px !important;
      }
      .navbar-fixed{
         position: relative;
      }

      #back-to-top.affix{
         bottom: 45px;
         right: 35px;
      }
   }


   //Top Bar
   .ts-topbar{
      text-align: center;
      padding: 5px 0;
      ul li a{
         padding: 0 5px !important;
      }
   }

   #btl{
      padding: 0;
   }


   //Header

   .header-left{
      display: none;
   }

   .t3-header{
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .logo a{
      margin: 0 0 25px;
   }


   .head-search{
   	right: 0;
   	.form-control{
	      height: 50px;
	      line-height: 50px;
   	}
   	.search .fa-search{
      	top: 18px;
   	}
   }


   //Breaking
   .ts-hotnews .gkHighlighterWrapper .gkHighlighterItem a{
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      max-height: 25px;
      font-size: 12px;
   }

   //Slideshow

   .ts-slideshow, .ts-showcase{
       .t3-module{
         margin-bottom: 20px;
       }
   }

   .slideMain .sprocket-features.layout-slideshow{

      .sprocket-features-pagination{
         top: 10px;
      }
      .sprocket-features-arrows{
         top: 25px;
      }

      .sprocket-features-category{
         font-size: 10px;
         height: 20px;
         line-height: 20px;
      }

      .sprocket-features-content{
         bottom: -15px;
      }
      h2.sprocket-features-title{
         line-height: 20px;
         margin: 4px 0;
         a{
            font-size: 16px;
         }
      }
   }



   //News block

   .rightNewsBlock{
      .nspArt img.nspImage{
         width: 100% !important;
      }  
      .nspBg .nspArts .nspTopInterface{
         right: 20px;
      }

   }

   //Showcase
   .ts-showcase{
      .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
         padding-right: 15px;
      }
      .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
         padding-left: 15px;
      }
   }

   .nsp4Block {
      .nspArt img.nspImage{
         width: 100% !important;
      }
   }

   .vina-camera-slider-k2 .camera_caption > div h3{
   	font-size: 16px;
   }

    //Fullslide
   .nspBg.nspFullslide{
      .nspArts{
         .nspTopInterface{
            .nspPrev, .nspNext{
               position: absolute !important;
            }
            .nspPrev{
               left: 8px;
            }
            .nspNext{
               right: 8px;
            }
         }
      }

      .nspBg .nspArts .nspArt .nspInfo a.nspCategory{
         margin-top: -65px;
      }

      .nspArts .nspArt h4.nspHeader a{
      	overflow: hidden;
	      text-overflow: ellipsis;
	      display: block;
	      max-height: 25px;
      }
   }

   //Trending
   .nspMain.trending.nspText .nspArts .nspArt .nspInfo{
      margin-bottom: 10px;
   }

   //Nsp Common 

    .nspArts, .nspLinksWrap{
      position: inherit !important;
   }
   .nspPrev, .nspNext{
      position: relative !important;
   }

   .nspArt img.nspImage{
      height: 100% !important;
   }

   .nspText{
      .nspLinksWrap{
         padding: 0 !important;
      }
   }


   //Tab news
   .ts-content-top {
      .tabSidebar{
         display: none;
         .gkTabsWrap.vertical ol li{
           margin: 0 1px 0 0!important;
            padding: 0 3px!important;
         }
         .nspText .nspArts .nspArt h4.nspHeader{
            clear: both;
         }
      }
   }

   .tab-news{

      //arrow
     .gkTabsWrap.vertical ol.gkTabsNav li{
      font-size: 9px;
     }

      .nspArts{
         width: 100% !important;
         img.nspImage{
            width: 100% !important;
         }
      }
      .nspLinksWrap{
         width: 100% !important;
         padding: 0 !important;
         margin-top: 15px;
         .nspLinks{
            margin: 0 !important;
            ul.nspList li{
               clear: both;
               padding: 5px 0 10px !important;
               margin: 5px 0 10px !important;
               h4{
                  margin-top: 0;
               }
            }
            
         }
      }

      .nspText{
         .nspLinkScroll2.nspPages4{
            a.nspImageWrapper{
               float: none;
               display: block;
               margin-bottom: 15px !important;
            }
         }
      }
   }

   //Title

   .title-arrow .nspTopInterface{
      top: -10px !important;
      .nspNext, .nspPrev{
         font-size: 12px;
         width: 24px;
         height: 24px;
         line-height: 22px;
      }
   }

   //Footer ad
   .ts-footer-top .banneritem img {
      max-width: 90%;
   }

   //Copyright
   .t3-copyright{
      .pull-right{
         float: left !important;
      }
      ul li a{
         padding-left: 0;
         font-size: 10px;
      }
   }

   #back-to-top{
      right: 5px;
   }

   //Dont miss
   .dontMiss{
   	.nspArt{
   		width: 50%;
   	}

   	&.nspText .nspArts .nspArt h4.nspHeader a{
   		font-size: 14px;
   	}
   }


   //K2
   div.itemContainer{
   	width: 100% !important;
   	padding: 0 !important;
   }

   .entertainment #itemListSecondary .catItemTitle{
   	padding-top: 20px;
   	display: inline-block;
   }

   .itemBody{
      position: relative;
   }

   .ItemInfoBlock{
      position: absolute;
      float: none;
      bottom: 0;
      width: 100%;
      padding: 0;
   }

   .itemHits{
      margin-bottom: 50px;
   }

   .itemFullText{
      padding-bottom: 240px;
   }

   div.itemRelated ul li{
      width: 50%;
      min-height: 200px;
   }

   div.itemRelated ul li.clr{
      min-height: auto;
   }



} /* Small Devices Potrait end */


/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {


   //Top bar
   .ts-topbar ul li a {
      padding: 0 1px !important;
      font-size: 9px !important;
   }

   //Header
   .logo-image{
      img{
         width: 250px !important;
         background-size: contain !important;
      }
   }

   //Header2

   .header2{
      .logo a{
         margin: 10px 0 0;
      }

      .ts-hotnews{
         margin: 0 0 25px;
      }
   }

    //headnews
   .headNews {
      &.nspText .nspArts .nspArt{
         h4.nspHeader{
            line-height: 12px;
            padding: 3px 0 0;
            a{
               font-size: 12px;
            }
         }
         .nspInfo{
            font-size: 11px;
         }
      }
   }

   //Nsp common
   .tab-news .nspArts .nspArt h4.nspHeader a, 
   .nspBg .nspArts .nspArt .nspHeader a{
      font-size: 12px;
   }

   .nspText{
      .nspLinks ul li p{
         font-size: 13px;
         line-height: 18px;
         overflow: hidden;
         text-overflow: ellipsis;
         display: block;
         max-height: 35px;
      }
   }


   //Slideshow
   .slideMain .sprocket-features.layout-slideshow{
      h2.sprocket-features-title{
         line-height: 16px;
         margin: 0;
         a{
            font-size: 13px;
         }
      }
   }

   //Social counter
   div.sj-social-media-counts{
      text-align: center;
      .sc-wrap{
         display: inline-block;
         .sc-item{
            width: 80px;
            height: 108px;
            margin-left: 12px;
            margin-bottom: 10px;
         }
         .like-text{
            font-size: 10px;
         }
         .like-count{
            padding: 12px 0 0;
         }
      }
   }



   //Tab news
   .tab-news{
      .gkTabsWrap.vertical ol.gkTabsNav li{
         padding: 0 0 0 3px !important;
      }

      .nspLinksWrap .nspLinks ul.nspList li p{
         font-size: 13px;
         line-height: 18px;
         overflow: hidden;
         text-overflow: ellipsis;
         display: block;
         max-height: 35px;
      }

      .nspLinksWrap.right .nspLinks ul.nspList li {
         padding: 5px 0 !important;
         margin: 5px 0 !important;
      }
   }

   //Sidebar
   .gkTabsWrap.vertical ol li, .gkTabsWrap.horizontal ol li{
      font-size: 10px !important;
   }

   //Copyright
   #back-to-top.affix {
      bottom: 65px;
   }





}/* Custom, iPhone Retina */ 