/**
 * @author Tripples http://www.themewinter.com
 * @copyright Copyright (c) 2013 - 2015 Tripples
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/

/* Table of Content
==================================================

#     Global Styles
#     Typography
#     Topbar
#     Header
#     Breaking News
#     Slideshow
#     Showcase
#     Full width slide
#     News block right side
#     News Tab style
#     NsP News variation
#     Content
#     Sidebar
#     Footer
#     Home variation
#     Category Listing
#     Single page
#     Module title variation

*/




/* Global styles
================================================== */

.sj-videobox .player .title header h1{
	display: none !important;
}

a{
	&:hover{
		text-decoration: none;
	}
}

/*-- Buttons --*/

a.btn.cancel, .btn.btn-primary{
		font-size: 14px;
		font-weight: 500;
		background: @brand-primary !important;
		box-shadow: none;
		margin-top: 10px;
		border: 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
		padding: 8px 20px;
		text-transform: uppercase;
		height: auto !important;
		line-height: normal !important;
		text-shadow: none !important;
		.border-radius(2px);
		.transition(all 0.3s ease 0s);
		&:hover{
			background: #000 !important;
			color: #fff;
			border: 0;
		}
	}

iframe{
	border: 0;
}

/*-- Content --*/

.t3-mainbody {
  padding-top: 20px ;
  padding-bottom: 20px;
}

.t3-sidebar{
	&.t3-sidebar-right{
		padding-top: 7px;
	}
}


//Nsp

.t3-content .tabSidebar.module{
    margin-bottom: 25px;
}

.t3-content .tabSidebar .nspText .nspArts .nspArt .nspInfo{
    margin-bottom: 5px;
}

.ts-content-top .banneritem {
    margin: 12px 0 5px;
}

.nspGap.nspMain{
	margin: 0 -10px;
	.nspArts .nspArt .nspInfo a.nspCategory{
		left: 10px;
	}
}

.nspNext, .nspPrev{
	.border-radius(0) !important;
}


.gkTabsItem{
	padding-bottom: 0 !important;
	top: 8px !important;
}

.t3-module{
	margin-bottom: 20px;
}

.t3-sl{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

a.nspCategory{
	font-weight: 700;
}

//Video

.video-embed iframe,
.sj-video-current iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0 !important;
}

.video-embed, .sj-video-current {
	position: relative;
	padding-top: 57.25%; /* 16:9 */
	height: 0;
	background-color: #000000;
}


/* Typography
================================================== */

body, p{
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased !important;
	color: @text-color;
	line-height: 24px;
	font-weight: 400;
}

h1, h2, h3, h4, .ItemInfoBlock, .ItemInfo,
.gkHighlighterItem a, a.itemRelTitle,
.itemNavigation a, .commentAuthorName a,
#comment-form label, div.k2LatestCommentsBlock 
ul li span.lcComment{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 500 !important;
	color: @title-color;
}

h1{
	font-size: 36px;
}

h2{
	 font-size: 28px;
}

h3{
	 font-size: 24px;
}

h4{
	 font-size: 16px;
}

h5{
	 font-size: 14px;
}


/* Boxed
================================================== */

.box {
  	&.t3-wrapper{
  		 background: #000 url(../images/box-bg.png);
  		background-attachment: scroll;
  		overflow: hidden;
  	}
  	
  	.container{
  		padding-left: 20px;
  		padding-right: 20px;
  	}

  	.box-wrapper {
	  	width: 1170px;
	  	background: #fff;
	  	margin-right: auto;
	  	margin-left: auto;
	  	margin-top: 30px;
	  	margin-bottom: 30px;
	  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	  	//Nav
	  	.navbar-fixed{
	  		width: auto;
	  	}

	  	.t3-mainnav{
	  		.container{
	  			padding-left: 0;
	  		}
	  	}

	  	//Search
	  	.head-search{
	  		right: 0;
	  	}

	  	//to top
	  	#back-to-top.affix{
	  		bottom: 35px;
	  	}
	}
}




/* Topbar
================================================== */

//Navigation

.ts-topbar{
	background: #f8f8f8;
  	border-bottom: 1px solid #e5e5e5;
	.t3-module{
		margin: 0;
	}
	//Nav
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				display: inline-block;
				padding: 0;
				margin: 0 2px 0 0;
				background: none;
				&.active{
					> a{
						color: @brand-primary;
					}
				}
				
				a{
					font-size: 13px;
					padding: 10px 5px 8px;
					background: none !important;
					color: @title-color;
					&:hover{
						background: none;
						color: @brand-primary;
					}
				}
			}
		}
}

//Account

#btl{
	padding: 9px 0;

	.btl-panel{
		> span{
			color: #fff !important;
		  	background: @brand-primary !important;
		  	position: relative;
		  	border: 0 !important;
		  	box-shadow: none !important;
		  	padding: 0 !important;
		  	border-radius: 2px !important;
		  	line-height: 22px !important;
		  	height: 22px !important;
		  	width: 22px !important;

		  	.transition(350ms);
		  	text-align: center;
		  	display: inline-block !important;
			&:hover{
				background: @gray-dark !important;
				color: #fff !important;
			}
			&#btl-panel-registration{
				background: #0191da !important;
				&:hover{
					background: @gray-dark !important;
				}
			}
		}
	}
}

#btl .btl-panel > #btl-panel-profile{
    width: auto !important;
    padding: 0 5px !important;
}


//Account Modal
.btl-content-block{
	padding: 30px;
	border-radius: 0 !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);


	h3{
		background: transparent !important;
		padding: 0px !important;
		text-transform: capitalize;
		font-weight: 700 !important;
	}

	#btl-wrap-module{
		padding: 0;
	}
	#register-link, 
	.btl-field, 
	.btl-error-detail, 
	.btl-error, 
	.btl-note{
		margin: 0 !important;
	}

	.btl-field{
		 .btl-input > input{
			border-radius: 0;
			.box-shadow(none);
			margin: 0;
			height: 34px;
		 }
	}

	input.btl-buttonsubmit, button.btl-buttonsubmit{
		font-size: 14px;
		background: @brand-primary !important;
		box-shadow: none;
		margin-top: 20px;
		border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
		padding: 8px 20px;
		text-transform: uppercase;
		height: auto !important;
		line-height: normal !important;
		text-shadow: none !important;
		.border-radius(2px);
		.transition(all 0.3s ease 0s);
		&:hover{
			background: #000 !important;
			color: #fff;
		}
	}
}

#btl .btl-panel > #btl-panel-profile{
	border: 0 !important;
	box-shadow: none;
}

#btl-content-profile{
	padding: 0;
}


/* Header
================================================== */

//Fixed navbar
.navbar-fixed {
	z-index: 99999;
  	position: fixed;
  	opacity: .98;
  	width: 100%;
  	top: 0;
  	-webkit-animation: fadeInDown 800ms;
  	-moz-animation: fadeInDown 800ms;
  	-ms-animation: fadeInDown 800ms;
  	-o-animation: fadeInDown 800ms;
  	animation: fadeInDown 800ms;
  	-webkit-backface-visibility: hidden;
}

//Date
.ts-date{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	color: @gray-light;
}

//Signup form

	.acymailing_fulldiv {
	> form {
 		margin : 0;
  	}
}

.acymailing_form {
	margin : 0;
	input {
  		.border-radius(0);
  	}
	> p {
	  display : block;
	}
	input[type="text"] {
		background: #f2f2f2;
  		height: 45px;
		border : 1px solid #e7e7e7;
		color: #696969;
		box-shadow : none;
		.border-radius(0);
	}
	.acysubbuttons {
		position: absolute;
		right: 20px;
  		top: 29px;
		.button {
			background : darken(@brand-primary, 5%) !important;
			color: #fff;
			box-shadow : none;
			padding: 8px 16px;
			text-transform: capitalize;
			font-size: 13px;
			border     : 0 !important;
			height     : 35px !important;
			display    : inline-block;
			margin     : 0;
			.border-radius(3px);
			.transition(400ms);
			&:hover {
			  background : #333 !important;
			}
		}
	}
}


.t3-header {
  padding-top: 40px;
  padding-bottom: 40px;
}


/*-- Logo --*/

.logo {

  text-align: center;

  // Left align the logo on  Tablets / Desktop
  @media screen and (max-width: @screen-sm) {
	 text-align: center;
  }

  a {
	 display: inline-block;
	 line-height: 1;
	 margin: 10px 0 0;
  }
}

/* Logo Image */

.logo-image {
  // Hide sitename and slogan
  span, small {
	 display: none;
  }
}

/* Logo Text */
.logo-text {

	a {
		text-decoration: none;
		font-size: ceil(@font-size-base * 2);
		font-weight: bold;
	}
	&:hover a,
	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	// Taglines
	.site-slogan {
		display: block;
		font-size: @font-size-base;
		margin-top: 5px;
	}
}

/*-- Head News --*/
.headNews{
	background: #f7f7f7;
	&.moduletable{
		position: relative;
		box-shadow: inset 0 0 0 1px #e5e5e5;
	}

	&.nspText .nspArts .nspArt{
		-webkit-backface-visibility: hidden;
	   -ms-backface-visibility: hidden;
		h4.nspHeader{
			line-height: 16px;
			padding: 10px 0 8px;
			a{
				font-size: 14px;
			}
		}
		.nspInfo{
			margin: 0;
			.nspCategory{
				top: 0;
				left: 0;
				font-size: 10px;
			}
		}
	}
	.title-arrow .nspTopInterface{
		bottom: 0 !important;
		top: auto !important;
		margin: 0;
		.nspNext, .nspPrev{
			border-radius: 0;
			margin: 0 1px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			&:before{
				width: 20px;
			}
		}
	}
}


/*-- Banner --*/
.banneritem img{
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

.banner-top{
	float: right;
	padding-top: 5px;
}



/*-- Top social --*/
.topSocial{
	float: right;
	&.module{
		margin-top: 8px !important;
		margin-right: 15px !important;
	}
   ul{
      li{
         margin: 0 0 0 3px !important;
         a{
            width: auto !important;
            height: auto !important;
			font-size: 13px !important;
            .transition(400ms);
            i{
               width: 24px;
               height: 24px;
               border: 0;
               text-align: center;
               line-height: 24px;
               color: @gray-light;
               .transition(400ms);
               &:hover{
               		color: #fff;
               }
               &.fa-rss{
                  &:hover{
                     background: #faaa5e;
                  }
               }
               &.fa-facebook{
                  &:hover{
                     background: #677fb5;
                  }
               }
               &.fa-twitter{
                  &:hover{
                     background: #70c2e9;
                  }
               }
               &.fa-google-plus{
                  &:hover{
                     background: #c53942;
                  }
               }
               &.fa-pinterest{
                  &:hover{
                     background: #d8545d;
                  }
               }
               &.fa-linkedin{
                  &:hover{
                     background: #3daccf;
                  }
               }
               &.fa-dribbble{
                  &:hover{
                     background: #e299c2;
                  }
               }
            }//icon end
         }
      }
   }
}


/*-- Head Search --*/

.head-search {
	height: 55px;
	position: absolute;
	top: 0;
	right: 15px;
	margin: 0;
	z-index: 1000;

  form {
	 margin: 0;
  }
  
  label {
	 display: none;
  }
  
  .search {
	background: darken(@brand-primary, 10%);
	position: relative;
	 // Place a search icon
	 .fa-search {
		color: @white;
		content: "\f002";
		display: block;
		font-family: "FontAwesome";
		position: absolute;
		left: 20px;
		top: 21px;
	 }
  }
  
  .form-control {
		border: 0;
		background: transparent;
		color: #fff;
		height: 55px;
		line-height: 55px;
		position: relative;
		margin: 0;
		padding: 0 15px 0 40px;
		width: 40px;
		.transition(width 0.25s);
		
		// States
		&:hover, &:active, &:focus {
			color: @white;
			box-shadow: none !important;
			border: 0 !important;
		}
		&:active, &:focus {
			width: 215px;
		}

	}
}


/* Breaking News
================================================== */

.ts-hotnews{
	background: @gray-darker;
	margin: 35px 0;
	position: relative;
	&::after{
		content: "";
		position: absolute;
	  	bottom: 0;
	  	right: 0;
	  	border-width: 12px 12px 0 0px;
	  	border-style: solid;
	  	border-color: rgba(0,0,0,0.9) #fff;
	}
	.t3-module{
		margin: 0;
	}

	.gkHighlighterInterface{
		background: darken(@brand-primary, 5%) !important;
		padding: 12px 10px;
		position: relative;
		&:after{
			content: '';
			display: block;
			height: 42px;
			position: absolute;
			width: 20px;
			top: 0;
			right: -20px;
			border-left: 15px solid darken(@brand-primary, 5%);
			border-top: 22px solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 19px solid transparent;
		}
		span.text{
			font-size: 12px;
		}
		>div{
			display: none;
		}
	}

	.gkHighlighterWrapper{
		padding-top: 9px;
		.gkHighlighterItem{
			a{
				font-weight: 400;
				color: #fff !important;
				&:hover{
					color: @brand-primary !important;
				}
			}
		}
	}
}


/*  Slideshow
================================================== */


.slideMain{
	.sprocket-features.layout-slideshow{
		.sprocket-features-img-list{
			max-height: 420px;
		}
		//Content
		.sprocket-features-content{
			padding: 10px 0;
			top: auto;
			left: 0;
			width: 100%;
			bottom: 0;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.79) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.79))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.79) 100%); /* W3C */
		}

		//Feature info
		.sprocket-features-info{
			color: #fff;
			padding: 0 30px;
			.sprocket-features-date{
				margin-right: 5px;
			}
			.sprocket-features-date, .sprocket-features-hits{
				font-size: 12px;
			}
		}

		.sprocket-features-category{
			text-transform: uppercase;
			background: @brand-primary;
			color: #fff;
			display: inline-block;
			margin: 5px 0 5px 30px;
			padding: 0 5px;
			height: 22px;
			line-height: 24px;
			font-size: 12px;
			font-weight: 700;
		}

		//Title
		h2.sprocket-features-title{
			display: block;
			line-height: 1em;
			margin: 8px 0;
			text-transform: capitalize;
			font-style: normal;
			a{
				font-size: 20px;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
				&:hover{
					text-decoration: none;
					color: @brand-primary;
				}
			}
		}


		//Desc
		.sprocket-features-title, .sprocket-features-desc{
			background: none;
			padding: 0;
		}

		//Arrow
		.sprocket-features-arrows{
			position: absolute;
			right: 18px;
			top: 28px;
			.arrow {
				background:  rgba(0, 0, 0, 0.7);
				opacity: 1;
				color: #fff;
				width: 28px;
				height: 28px;
				line-height: 26px;
				font-size: 18px;
				box-shadow: none;
				border-radius: 2px !important;
				.transition(350ms);
				&:hover{
					background: @brand-primary;
				}
				&.next {
					right: 0;
				}
				&.prev{
					left: -62px;
				} 
			}
		}

		//Pagination
		.sprocket-features-pagination{
			top: 20px;
			bottom: auto;
			left: 30px;
			li{
				background: transparent;
				background:  rgba(0, 0, 0, 0.7);
				box-shadow: none;
				padding: 6px;
				opacity: 1;
				border-radius: 50% !important;
				.transition(350ms);
				&.active, &:hover{
					background: @brand-primary;
				}
			}
		}

		.sprocket-features-desc{
			a.readon{
				display: none;
			}
		}
	} //Main slideshow end
}



/*-- Social Counter --*/

div.sj-social-media-counts{
	.sc-wrap{
		.like-count{
			background: #fff;
			color: @title-color;
			border-top: none;
			padding: 25px 0 0;
			font-size: 13px;
		}
		.like-text{
			background: #fff;
			color: @title-color;
			font-weight: 700;
			line-height: 25px;
		}
	}
	.sc-wrap .sc-item{
		height: auto;
		width: 100px;
		margin-left: 15px;
		position: relative;
		margin-bottom: 15px;

		.sc-item-inner{
			margin: 0px;
			text-align: center;
			.sc-icon{
				border: none;
				float: none;
				display: block;
				width: 100%;
				position: relative;
				margin: 10px 0 0;
			}
		}//item inner
	}
}

div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon:after {
	 position: absolute;
	 content: " ";
	 width: auto;
	 height: auto;
	 bottom: -28px;
	 margin-left: -10px;
	 left: 50%;
	 border-width: 10px;
	 border-style: solid;
}


div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-facebook:after {
	 border-color: #4968A9 transparent transparent transparent
}

.sj-social-media-counts .sc-wrap .fb-like-button .sc-item-inner:hover .sc-icon.sc-icon-facebook:after{
  border-color: #5675B6 transparent transparent transparent
}

div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-rss:after {
	 border-color: #FD9F13 transparent transparent transparent
}

div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner:hover .sc-icon.sc-icon-rss:after {
	 border-color: #FDA92C transparent transparent transparent
}


div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-twitter:after {
	 border-color: #11C2EA transparent transparent transparent
}

div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner:hover .sc-icon.sc-icon-twitter:after {
	 border-color: #25CAEF transparent transparent transparent
}


div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-linkedin:after {
	 border-color: #549FD8 transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-dribbble:after {
	 border-color: #EB4C89 transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-youtube:after {
	 border-color: #CE322E transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-soundcloud:after {
	 border-color: #FAA91E transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-vimeo:after {
	 border-color: #1AB7EA transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-gplus:after {
	 border-color: #CE3633 transparent transparent transparent
}
div.sj-social-media-counts .sc-wrap .sc-item .sc-item-inner .sc-icon.sc-icon-instagram:after {
	 border-color: #2F689B transparent transparent transparent
}


/* Showcase
================================================== */

.ts-showcase{
	.t3-module{
		margin-bottom: 0;
	}
}

.vina-camera-slider-k2{
	padding-right: 1px;
	.camera_caption > div{
		background: none !important;
		padding: 10px 30px 30px !important;
		.camera_cat{
			text-transform: uppercase;
			background: @brand-primary;
			display: inline-block;
			padding: 0 5px;
			height: 22px;
			line-height: 24px;
			font-size: 12px;
			a{
				color: #fff;
			}
		}
		h3{
			line-height: normal;
			margin-top: 10px;
			a{
				color: #fff !important;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
			}
		}
		.info{
			font-size: 12px;
		}
		.camera_hits{
			margin-left: 5px;
		}
	}
}

#vina-copyright161{
	display: none;
}

.camera_target_content{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 60%, rgba(0,0,0,0.79) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.79))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* W3C */
}


/* Full width slide
================================================== */

.nspBg.nspFullslide{
	.nspArts{
		position: inherit;
		.nspTopInterface{
			position: inherit;
			top: auto;
			right: auto;
			overflow: visible;
			.nspPrev, 
			.nspNext{
				position: absolute;
				z-index: 10;
				top: 50%;
				margin-top: -20px;
				background: none;
				font-size: 52px;
				font-weight: 100;
				color: #999;
				&:hover{
					background: none;
					color: @brand-primary

				}
				&:before{
					color: inherit;
				}
			}
			.nspPrev{
				left: -17px;
			}
			.nspNext{
				right: -15px;
			}
		}
	}

}

/* News block right side
================================================== */

.rightNewsBlock{
	.nspArts .nspArt{
		.nspHeader{
			padding-bottom: 57px !important;
		}
		.nspInfo{
			padding: 10px 20px 25px !important;
			a.nspCategory{
				margin-top: -70px !important;
			}
		}
	}
}

.nsp4Block{
	&.module{
		margin-bottom: 25px;
	}
	.nspArtPage{
		.nspArt:nth-child(2){
			padding-right: 0 !important;
		}
		.nspArt:nth-child(4){
			padding-right: 0 !important;
		}
	}

	&.nspBg .nspArts .nspArt .nspInfo a.nspCategory{
		font-size: 10px;
		height: 20px;
		line-height: 20px;
		top: 0;
		margin-top: -40px;
		left: 20px;
	}
}

	


/* News Tab style
================================================== */

.tab-news{
	position: relative;
	//padding-top: 10px;
	h3.module-title {
		position: absolute;
		top: 12px;
		z-index: 1;
	}
	//Tab nav
	.gkTabsWrap.vertical{
		ol.gkTabsNav{
			border-bottom: 0;
			float: right;
			li{
				position: relative;
				background: none;
				color: @gray-light;
				text-shadow: none;
				font-size: 11px;
				text-transform: uppercase;
				margin: 0 !important;
				padding: 0 0 0 12px !important;
				&.active, 
				&:hover{
					color: @title-color !important;
				}
				&.active:after{
					position: absolute;
					content: " ";
					width: auto;
					height: auto;
					bottom: 0;
					margin-left: -4px;
					left: 50%;
					border-width: 7px;
					border-style: solid;
					border-color: rgba(0,0,0,0) rgba(0,0,0,0) @brand-primary rgba(0,0,0,0);

				}
			}
		}

		//Tab wrap
		.gkTabsContainer{
			border-top: 2px solid @brand-primary;
		}

	} // End Tab nav

	.nspArts{
		position: relative;
		.nspArt{
			h4.nspHeader{
				line-height: 20px;
				a{
					font-size: 16px;
				}
			}
			.nspInfo{
				font-size: 11px;
				a.nspCategory{
					margin-top: -85px !important;
				}
			}
		}
		.nspTopInterface{
			right: 10px !important;
			top: 0 !important;
		}//End Pagination
	}

	//NspText
	.nspText{
		.nspArts .nspArt .nspInfo{
			margin: 0;
		}
		.nspLinksWrap .nspLinks ul.nspList{
			li{
				padding: 3px 3px 6px;
				&:first-child{
					margin-top: 8px !important;
				}
			}
		}
	}

	//nspLink
	.nspLinksWrap{
		.nspLinks{
			padding: 0;
			ul.nspList{
				padding: 0;
				margin: -10px 0 0 0;
				li{
					padding: 0 0 11px !important;
					border-top: 0;
					h4 a{
						font-size: 14px;
						color: @gray-dark;
						&:hover{
							color: @brand-primary;
						}
					}
					p{
						margin: 0;
					}
				}
			}
		}
	}//Link end 

	//Tab aqua
	&.aqua{
		.gkTabsWrap.vertical{
			.gkTabsContainer {
				border-top: 2px solid #00c8bd;
			}
			ol.gkTabsNav li.active:after{
				border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00c8bd rgba(0, 0, 0, 0);
			}
		}
	}//Tab aua end

	//Tab pink
	&.pink{
		//border-top: 1px solid #c10551;
		.gkTabsWrap.vertical{
			.gkTabsContainer {
				border-top: 2px solid #c10551;
			}
			ol.gkTabsNav li.active:after{
				border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #c10551 rgba(0, 0, 0, 0);
			}
		}
	}//Tab pink end

	//Tab blue
	&.blue{
		.gkTabsWrap.vertical{
			.gkTabsContainer {
				border-top: 2px solid #0175c8;
			}
			ol.gkTabsNav li.active:after{
				border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0175c8 rgba(0, 0, 0, 0);
			}
		}
	}//Tab blue end

}

/*  Features
================================================== */
.ts-feature{
	background: #f5f5f5;
	padding: 40px 0 20px;
  	margin: 20px 0;
}

.nspMain.trending{
	margin: 0 -10px;
	&.nspText .nspArts .nspArt{
		h4.nspHeader a{
			font-size: 16px;
		}
		.nspInfo{
			margin: 0;
			a.nspCategory{
				left: 20px;
			}
		}
	}

}



/* NsP News variation
================================================== */

/*-- Common --*/

.nspArt{
	position: relative;
}

.nspArts{
	padding: 0 !important;
}

.nspArts .nspArt{
	h4.nspHeader a{
		text-transform: capitalize;
		&:hover{
			color: darken(@brand-primary, 5%);
		}
	}
	.nspInfo{
		.nspHits{
			margin-left: 5px;
			i{
				margin-right: 2px;
			}
		}
		.nspCategory{
			text-transform: uppercase;
		}
		i {
			margin-right: 5px;
		}
	}
}

.nspLinks ul li h4{
	margin-bottom: 5px;
}

/*-- NsP Bg --*/

.nspBg{
	.nspArts{
		padding: 0;
		.nspArtPage{
			position: relative;
		}
		.nspArt{
			&:hover{
			}
			a.nspImageWrapper{
				position: relative;
				&::before{
					content: " ";
					position: absolute;
					width: 100%;
					z-index: 1;
					top: 0;
					bottom: 0;
					left: 0;
					.transition(500ms);
					background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.79))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 60%,rgba(0,0,0,0.79) 100%); /* W3C */
				}
			}
			.nspHeader{
				width: 100%;
				position: absolute;
				bottom: 0;
				z-index: 10;
				padding: 0 20px 45px;
				a{
					font-size: 16px;
					color: #fff;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
				}
			}
			.nspInfo{
				position: absolute;
				bottom: 0;
				color: #fff;
				font-size: 12px;
				z-index: 1;
				padding: 10px 20px;

				a.nspCategory{
					position: absolute;
					top: 50%;
					margin-top: -65px;
					bottom: auto;
					left: 20px;
					padding: 0 6px;
					height: 20px;
					line-height: 21px;
					font-size: 11px;
					background: @brand-primary;
					color: #fff;
				}
				a.nspAuthor{
					color: #fff;
				}
			}
		}//nspArt end

		//Arrow
		.nspTopInterface{
			position: absolute;
			top: 10px !important;
			right: 25px;
			z-index: 2;
			.nspNext,
			.nspPrev{
				border: none;
				width: 26px;
				height: 26px;
				line-height: 26px;
				font-size: 14px;
				margin: 0 2px;
				text-indent: -9999em;
				background: @gray-darker;
				.transition(350ms);
				&:hover{
					background: @brand-primary;
				}
			}
			.nspNext:before,
			.nspPrev:before{
				font-family: FontAwesome;
				text-indent: 0;
				border: none;
				margin: 0;
				font-family: FontAwesome;
				background: none;
				display: inline-block;
				width: 26px;
				text-align: center;
				color: #fff;
				opacity: 1;
			}
			.nspNext:before{
				content: "\f105";
			}
			.nspPrev:before{
				content: "\f104";
			}

			//Pagination
			.nspPagination li{
				background: rgba(0, 0, 0, 0.7);
				box-shadow: none;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				opacity: 1;
				&.active{
					background: @brand-primary;
				}
			}//Pagination end
		}
	}
}

/*-- Nsp text --*/

.tab-news .nspText .nspLinksWrap 
.nspLinks ul.nspList li{
	padding-bottom: 15px !important;
}

.nspText{
	.nspArts{
		.nspArt{
			position: relative;
			h4.nspHeader{
				margin: 0;
				line-height: 100%;
				padding: 0 0 5px;
				a{
					color: @title-color;
					font-size: 18px;
					&:hover{
						color: @brand-primary;
					}
				}
			}
			.nspInfo{
				font-size: 13px;
				color: @gray-light;
				a{
					color: @gray-light;
				}
				a.nspCategory{
					position: absolute;
					left: 10px;
					top: 10px;
					background: @brand-primary;
					color: #fff;
					padding: 0 6px;
					height: 20px;
					line-height: 21px;
					font-size: 11px;
					margin-top: auto !important;
				}
			}
		}//Nspart end
	}//Nsparts end

	//NspRight
	&.nspRight{
		.nspArts .nspArt .nspInfo a.nspCategory{
			right: 0 !important;
			left: auto !important;
		}
	}

	//Nsp links
	.nspLinksWrap .nspLinks{
		ul.nspList:first-child li{
			margin-right: 5px !important;
		}
		ul.nspList li{
			border-top: 0;
			padding: 3px 3px 6px;
			display: inline-block;
			h4{
				margin-top: 0;
				a{
					font-size: 14px;
					color: @title-color;
					&:hover{
						color: @brand-primary;
					}
				}
			}
		}
	}

	//Nsp image
	a.nspImageWrapper{
		position: relative;
		overflow: hidden;
		max-width: 100%;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility:     hidden;
	}

	&.dontMiss{
		&.module{
			padding: 20px 0;
		}
		.nspMain{
			margin: 0 -10px;
		}
		.nspArtPage .nspArt:first-child{
			//padding-right: 10px !important;
		}
		.nspArtPage .nspArt:nth-child(2){
			//padding-left: 10px !important;
		}
		.nspList{
			opacity: 1;
			li{
				padding-bottom: 12px !important;
			}
		}
		.nspArts .nspArt .nspInfo a.nspCategory{
			left: 20px;
		}
		.nspBotInterface{
			margin-top: -30px;
		}
	}

}//Nsp text end

/*-- Nsp Dark bg --*/

.module.nspDark{
	background: #222;
	padding: 30px 20px 15px;
	margin-top: 35px;
	color: #fff;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		border-width: 12px 12px 0 0px;
		border-style: solid;
		border-color: rgba(0,0,0,0.8) #fff;
	}
	&.title-arrow{
		.nspTopInterface{
			top: 10px !important;
			right: 20px !important;
		}
	}

	//Nsp art
	.nspArt{
		.nspInfo{
			margin: 10px 0 0;
			color: #999;
			a{
				color: #999;
				&:hover{
					color: @brand-primary;
				}
			}
			.nspHits{
				position: absolute;
				top: 0;
				left: 0;
				background: @brand-primary;
				color: #fff;
				padding: 3px 8px 3px 7px;
				font-size: 14px;
				margin-left: 0;
				i{
					font-weight: 700;
				}
			}

			.nspCategory{
				text-transform: capitalize;
				border-left: 1px solid #999;
				border-right: 1px solid #999;
				line-height: 12px;
				height: 12px;
				display: inline-block;
				padding: 0 5px;
				margin-left: 2px;
			}
		}//End nsp Info
		h4.nspHeader{
			margin: 0;
			line-height: 100%;
			padding: 0;
			a{
				font-size: 16px;
				color: #fff;
			}
		}
	}

	.nspArtPage .nspArt:nth-child(2){
			padding-bottom: 0 !important;
	}

	//Video Bigblock
	.gkNspPM-VideoList{
		padding-bottom: 10px;
		position: inherit;
		.gkItem.video .gkImageWrap:before{
			background: none !important;
		}
		.gkItem{
			cursor: auto;
			&:hover{
				figcaption{
					background: rgba(0, 0, 0, 0.15);
				}
			}
		}
		figcaption:hover{
			background: rgba(0, 0, 0, 0.15);
			h3 a{
				color: @brand-primary;
			}
		}
		h3{
			padding-bottom: 3px;
			font-size: 14px;
			line-height: 20px;
			a{
				color: #fff;
			}
		}

		//Nav
		.gkBottomNav{
			border-top: 0;
			margin: 0 19px;
			position: absolute;
			top: 12px;
			right: 0;
		}
		.gkBottomNavPagination{
			padding: 0 40px;
		}

		.gkBottomNavNext, .gkBottomNavPrev{
			height: auto;
			border: 1px solid #999;
			&:hover{
				background: @brand-primary;
				color: #fff;
				border: 1px solid transparent;
				&:after{
					color: #fff;
				}
			}
		}
	}
	.gkBigBlock{
		figcaption{
			padding:0 10px 10px 10px !important;
			h3{
				a{
					font-size: 18px !important;
				}
			}
		}
	}//Bigblock end
	.gkNspPM-VideoList .gkBottomNavPagination li:hover, 
	.gkNspPM-VideoList .gkBottomNavPagination li.active{
		background: @brand-primary; 
	}

}

/* Content
================================================== */

.ts-content-top{
	.banneritem{
		margin: 12px 0 0;
	}
}

.ts-content-mid{
	padding: 15px 0 0;

	.nspText .nspArts .nspArt h4.nspHeader{
		line-height: 16px;
		a{
			font-size: 14px;
		}
	}
}


/* Sidebar
================================================== */

.t3-sidebar,
.t3-footer{

	//Nsp
	.nspText{
		.nspArts .nspArt{
			h4.nspHeader{
				line-height: 18px !important;
				a{
					font-size: 14px !important;
				}
			}
			.nspInfo{
				margin: 0;
				a.nspCategory{
					font-size: 10px !important;
					height: 18px;
					line-height: 18px;
					left: 0;
					top: 0;
				}
			}
		}

		//Links
		.nspLinksWrap .nspLinks ul.nspList li{

			h4 {
				margin-bottom: 10px;
			}
		}

	}//nspText end

	//nspDart
	.module.nspDark{
		margin-bottom: 30px;
		&.title-arrow .nspTopInterface {
			top: 20px !important;
			right: 20px !important;
		}
	}
}

/*-- Tab Sidebar --*/

.t3-content{
	.tabSidebar{
		.nspMain{
			margin: 0 -10px;
			.nspArt p.nspText{
				margin-bottom: 5px;
			}
			&.nspText .nspArts .nspArt .nspInfo a.nspCategory{
				left: 20px;
			}
		}
	}
}

.tabSidebar{

	.gkTabsWrap{
		&.vertical ol{
			border-bottom: 0 !important;
			li{
				height: 38px !important;
				line-height: 43px!important;
			}
		}
		//Container
		.gkTabsContainer{
			border-top: 3px solid @brand-primary;
		}

	}

	.gkTabsWrap.vertical, .gkTabsWrap.horizontal{
		> ol li{
			background: @gray-darker;
			text-shadow: none;
			color: #fff;
			text-shadow: none !important;
			font-weight: 700;
			border-radius: 0 !important;
			text-transform: uppercase;
			font-family: Roboto Slab, sans-serif;
		}
	}

	.gkTabsWrap.vertical ol li:hover, 
	.gkTabsWrap.vertical ol li.active, 
	.gkTabsWrap.horizontal ol li:hover, 
	.gkTabsWrap.horizontal ol li.active{
		background: @brand-primary;
		position: relative;
		&:after{
			position: absolute;
		  	content: " ";
		  	width: auto;
		  	height: auto;
		  	bottom: -20px;
  			margin-left: -12px;
		  	left: 50%;
		  	border-width: 10px;
		  	border-style: solid;
		  	border-color: @brand-primary rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		}
	}

	//Nsp
	.nspText .nspArts .nspArt{
		h4.nspHeader{
			line-height: 18px;
			a{
				font-size: 16px;
			}
		}
	}
}


/*-- Sj videobox --*/

.sj-videobox{
	margin: 0 0 -15px !important;
	.sj-video-list .sj-video-list-item{
		padding-bottom: 0 !important;
	}
}

.sj-videobox .sj-video-list .sj-video-list-item:hover 
.sj-video-image .bg-hover, .sj-videobox .sj-video-list 
.sj-video-list-item.selected .sj-video-image .bg-hover{
	height: 40px !important;
	width: 55px !important;
	margin: -20px 0 0 -25px !important;
}

.sj-videobox .sj-video-list .sj-video-list-item:hover 
.sj-video-image .bg-hover:after, .sj-videobox 
.sj-video-list .sj-video-list-item.selected 
.sj-video-image .bg-hover:after{
	border-width: 12px !important;
	margin-top: -12px !important;
}

/*-- Calender --*/
div.k2CalendarBlock{
	margin-bottom: 20px;
}

table.calendar tr td.calendarDateLinked a:hover, 
table.calendar tr td.calendarToday {
background: @brand-primary;
}

/*-- Tags --*/

div.k2TagCloudBlock a {
	color: @text-color;
	.transition(400ms);
	&:hover{
		color: #fff;
		background: @gray-dark;
	}
}

/*-- Ads --*/

.adSidebar{
	text-align: center;
	&.module{
		margin: 25px 0 35px;
		padding: 28px 10px 30px;
		background: #fcfcfc;
		box-shadow: inset 0 0 0 1px #f6f6f6;
	}
	h3{
		font-size: 10px;
		color: #999 !important;
		margin: 0 0 10px;
	}
	img{
		display: inline-block;
		text-align: center;
	}
}


/*-- Categoires --*/

div.k2CategoriesListBlock ul.level0 > li > a{
	color: @title-color;
}

div.k2CategoriesListBlock ul li a{
	color: @text-color;
	&:hover{
		color: @brand-primary;
	}
}

/* Main bottom
================================================== */

.ts-main-bottom{
	background: @gray-lightest;
	padding: 40px 0 30px;
	margin: -20px 0 0;
}

.newsMore.nspMain{
	margin: 0 -10px;
}

/* Footer Top
================================================== */
.ts-footer-top{
	text-align: center;
	padding: 40px 0;
	.banneritem img{
		display: inline-block;
	}
}


/* Footer
================================================== */

.t3-footer {
	padding: 60px 0 0;
	background: @gray-darker url(../images/footer-bg.jpg) repeat;
	.module-title{
		font-size: 20px;
		margin-bottom: 25px;
		color: #fff !important;
	}

	.clearfix();

	// small
	small {
		display: block;
		font-size: 100%; //Use global footer font size.
	}

	/*-- Nsp --*/
	.nspText .nspArts .nspArt{
		h4.nspHeader a{
			color: @gray-lighter;
			&:hover{
				color: @brand-primary;
			}
		}
	}
}

/*-- Footer content --*/

.t3-footercontent {
	margin-bottom: 30px;

	.module-inner{
		padding: 20px 30px;
		border: 1px solid @gray;
	}
}

//Partner
.partner-icon{
	a i{
		font-size: 54px;
		color: @gray-light;
		margin-right: 20px;
		.transition(300ms);
		&:hover{
			color: #fff;
		}
	}
}

/*-- Twitter Feed --*/
  .sp-tweet{
	 position: relative;
	 z-index: 2;
	 margin-top: -10px;
	 .box-sizing(border-box);

		.sp-tweet-list{
			position: relative;
			margin: 5px -5px;
			&:before{
				font-family: FontAwesome;
				text-align: center;
				content: "\f099";
				position: absolute;
				left: 0;
				font-size: 16px;
				width: 34px;
				height: 34px;
				line-height: 34px;
				text-align: center;
				margin-top: 0;
				color: #999;
			}
			.date a{
				font-size: 12px !important;
				.transition(300ms);
				&:hover{
					color: lighten(@brand-primary, 20%);
				}
			}
		.tweet-user-info{
			img.tweet-avatar{
				display: none;
			}
		}
		.bubble-tl, .bubble-tr, .bubble-tm,
		.bubble-l, .bubble-r, .bubble-m, .bubble-bm,
		.bubble-bl, .bubble-br{
			background: none;
		}
		.tweet-text{
			font-size: 12px;
			color: @gray-lighter;
			margin-left: 35px !important;
		}
		.bubble-m{
			padding: 0;
			line-height: 18px;
		}
		.source{
			display: none;
		}
	 }

	 .sp-tweet-item{
		padding: 0;
		margin-top: -25px;
		.source{
		  display: none;
		}
		.date{
		  position: absolute;
		  left: 53px;
		  bottom: -35px;
		  font-size: 13px;
		}
		border-bottom: 0;
		a{
		  //color: #fff;
		}
		img.tweet-avatar {
		  display: none !important;
		}
		&:before{
			 font-family: FontAwesome;
			 text-align: center;
			 content: "\f099";
			 position: absolute;
			 bottom: -45px;
			 left: 0;
			 font-size: 16px;
			 width: 34px;
			 height: 34px;
			 line-height: 34px;
			 text-align: center;
			 background: @brand-primary;
			 border-radius: 100%;
			 margin-right: 5px;
			 -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
			 -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
			 box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
		}
	 }
  }
  a.followme{
	 display: none !important;
  }


/*-- Footer contact --*/

.about img{
	margin-top: 10px;
}

.footer-contact-info{
	margin-top: 20px;
	margin-bottom: -10px;

	p{
		color: @gray-lighter;
		margin-bottom: 5px;
	}
}


/*-- Social icon --*/

.sp_social{
	a{
		color: #999;
		font-size: 16px !important;
		&:hover{
			color: @brand-primary;
		}
	}
}




/*-- Copyright --*/

.t3-copyright {
	background: @brand-primary;
	padding: 25px 0 20px;
	margin-top: 10px;
	color: #fff;
  .clearfix();
	small {
		margin-bottom: 5px;
	}

	//Nav
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			padding: 0;
			margin: 0 2px 0 0;
			background: none;
			a{
				font-size: 12px;
				padding: 0 5px;
				background: none;
				color: #fff;
				&:hover{
					background: none;
					color: @gray-light;
				}
			}
		}
	}
}

.poweredby {
  .clearfix();
}

/*-- Back to top --*/

#back-to-top {
  right: 40px;
  top: auto;
  z-index: 10;
  -webkit-backface-visibility: hidden;

  .btn-primary{
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 6px 10px;
  }
}
#back-to-top.affix {
  bottom: 20px;
}


/* Home variation
================================================== */

/*-- Common --*/

.catItemTitle, .userItemTitle, .tagItemTitle{
	a{
		color: @title-color;
		&:hover{
			color: @brand-primary;
		}
	}
}

/*-- Home variation 2 --*/

.header2{
	.t3-header{
		padding-bottom: 20px;
	}
	.logo a{
		margin-top: 20px;
	}
}


/* Category Listing
================================================== */

/*-- Default --*/

div.catItemCategory, .userItemCategory, .tagItemCategory{
	background: @brand-primary;
	a{
		color: #fff;
	}
}

.catItemInfo a:hover, div.k2LatestCommentsBlock ul li span.lcComment:hover, 
div.itemToolbar a:hover, div.itemHeader span.itemAuthor a:hover{
	color: @brand-primary !important;
}

div.k2LatestCommentsBlock ul li a{
	color: @title-color;
	&:hover{
		color: @brand-primary;
	}
}


/* Single page
================================================== */

/*-- Default Item page --*/

.bt-social-share{
	background: none;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-left: 0;
	border-right: 0;
	padding: 15px 0;
}


/* Item related */

.itemRelCat{
	background: @brand-primary;
	a{
		color: #fff;
	}
}

a.itemRelTitle, .itemNavigation a, a#comment3, 
.commentAuthorName a{
	&:hover{
		color: @brand-primary !important;
	}
}

/* Module title variation
================================================== */

/*-- Title arrow --*/

.title-arrow{
	&.module{
		position: relative;
	}
	h3.module-title {
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 30px;
		font-weight: 700 !important;
		//border-bottom: 1px solid @gray-lighter;
		> span{
			padding: 6px 10px;
			background: @brand-primary;
			position: relative;
			color: #fff;
			display: inline-block;
			margin-top: 0;
			&:after{
				border-color: @brand-primary rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				position: absolute;
				content: " ";
				width: auto;
				height: auto;
				bottom: -18px;
				margin-left: -10px;
				left: 50%;
				border-width: 10px;
				border-style: solid;
			}
		}
	}

	//Title aqua 
	&.aqua{
		h3.module-title{
			//border-bottom: 3px solid #46a28d;
			> span{
				background: #00c8bd;
				&:after{
				  border-color: #00c8bd rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts{
			.nspArt .nspInfo a.nspCategory{
				background: #00c8bd;
			}
			.nspTopInterface .nspPagination li.active {
				background: #00c8bd;
			}
		}
	}//End title aqua

	//Title pink 
	&.pink{
		h3.module-title{
			//border-bottom: 3px solid #c10551;
			> span{
				background: #c10551;
				&:after{
				  border-color: #c10551 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts{
			.nspArt .nspInfo a.nspCategory{
				background: #c10551;
			}
			.nspTopInterface .nspPagination li.active {
				background: #c10551;
			}
		}
	}//End title pink

	//Title blue 
	&.blue{
		h3.module-title{
			//border-bottom: 3px solid #0175c8;
			> span{
				background: #0175c8;
				&:after{
				  border-color: #0175c8 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts{
			.nspArt .nspInfo a.nspCategory{
				background: #0175c8;
			}
			.nspTopInterface .nspPagination li.active {
				background: #0175c8;
			}
		}
	}//End title blue

	//Title orange 
	&.orange{
		h3.module-title{
			//border-bottom: 3px solid #f7a834;
			> span{
				background: #f7a834;
				&:after{
				  border-color: #f7a834 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts .nspArt .nspInfo a.nspCategory{
			background: #f7a834;
		}
	}//End title orange

	//Title green 
	&.green{
		h3.module-title{
			//border-bottom: 3px solid #73ba5d;
			> span{
				background: #73ba5d;
				&:after{
				  border-color: #73ba5d rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts .nspArt .nspInfo a.nspCategory{
			background: #73ba5d;
		}
	}//End title green

	//Title gray 
	&.gray{
		h3.module-title{
			//border-bottom: 3px solid #999;
			> span{
				background: #999;
				&:after{
				  border-color: #999 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts .nspArt .nspInfo a.nspCategory{
			background: @brand-primary;
		}
	}//End title green


	//Title gray 
	&.dark{
		h3.module-title{
			//border-bottom: 3px solid #999;
			> span{
				background: @gray-darker;
				&:after{
				  border-color: @gray-darker rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
				}
			}
		}
		.nspArts .nspArt .nspInfo a.nspCategory{
			background: @brand-primary;
		}
	}//End title green

	//Nsp article arrow
	&.nspBg{
		.nspTopInterface{
			top: -5px !important;
		}
	}
	.nspTopInterface{
		position: absolute;
		top: -4px !important;
		right: -2px !important;
		z-index: 2;
		.nspNext,
		.nspPrev{
			border: none;
			border-radius: 0;
			width: 26px;
			height: 26px;
			line-height: 26px;
			font-size: 14px;
			margin: 0 2px;
			text-indent: -9999em;
			background: @gray-darker;
			.transition(350ms);
			&:hover{
				background: @brand-primary;
			}
		}
		.nspNext:before,
		.nspPrev:before{
			font-family: FontAwesome;
			text-indent: 0;
			border: none;
			margin: 0;
			font-family: FontAwesome;
			background: none;
			display: inline-block;
			width: 26px;
			text-align: center;
			color: #fff;
			opacity: 1;
		}
		.nspNext:before{
			content: "\f105";
		}
		.nspPrev:before{
			content: "\f104";
		}
	}

	//Nsp link arrow
	.nspBotInterface{
		float: left;
		margin: -10px 0 0 0;
		.nspNext,
		.nspPrev{
			border: none;
			border-radius: 0;
			width: 26px;
			height: 26px;
			line-height: 26px;
			font-size: 16px;
			margin: 0 2px;
			text-indent: -9999em;
			background: none;
			border: 1px solid #e5e5e5;
			color: @text-color;
			.transition(350ms);
			&:hover{
				border: 1px solid transparent;
				background: @brand-primary;
				color: #fff;
			}
		}
		.nspNext:before,
		.nspPrev:before{
			font-family: FontAwesome;
			text-indent: 0;
			border: none;
			margin: 0;
			font-family: FontAwesome;
			background: none;
			display: inline-block;
			width: 26px;
			text-align: center;
			opacity: 1;
		}
		.nspNext:before{
			content: "\f105";
		}
		.nspPrev:before{
			content: "\f104";
		}
	}


}//Title arrow end








