@media (min-width: 992px) and (max-width: 1199px) {
  .nspLinks ul li p {
    font-size: 13px;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt h4.nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt img.nspImage {
    height: 258px !important;
  }
  .banner-top img {
    width: 95%;
    float: right;
  }
  #btl .btl-panel > span {
    padding: 0 2px !important;
  }
  #btl .btl-panel > span#btl-panel-login {
    padding-right: 6px !important;
  }
  .rightNewsBlock .nspArt img.nspImage {
    height: 175px !important;
  }
  .rightNewsBlock .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .nsp4Block .nspArt img.nspImage {
    height: 152px !important;
  }
  .nsp4Block .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .nspFullslide .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 14px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: 0;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nspLinks ul li p {
    font-size: 13px;
    line-height: 18px;
  }
  .nspPrev,
  .nspNext {
    position: relative !important;
  }
  .nspArts,
  .nspLinksWrap {
    position: inherit !important;
  }
  .nspText .nspLinksWrap {
    padding: 0 5px!important;
  }
  .nspPagination {
    display: block;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt h4.nspHeader a {
    font-size: 13px;
  }
  .tab-news .nspArts .nspArt img.nspImage {
    height: 258px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li h4 {
    margin-top: 8px;
  }
  .nspLinks {
    margin: 0 !important;
  }
  .t3-mainnav .t3-megamenu .navbar-nav.level0 > li > a {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .t3-mainnav .t3-module.title-arrow .nspArts .nspArt h4.nspHeader a {
    font-size: 12px;
    line-height: 12px;
  }
  .ts-date {
    font-size: 10px;
  }
  .head-search .form-control {
    height: 50px;
    line-height: 50px;
  }
  .head-search .search .fa-search {
    top: 18px;
  }
  #btl .btl-panel {
    float: left !important;
  }
  .banner-top {
    padding-top: 24px;
  }
  .rightNewsBlock.module {
    margin-top: 20px;
  }
  .rightNewsBlock .nspCol1 {
    width: 50%;
  }
  .ts-showcase .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
    padding-right: 15px;
  }
  .ts-showcase .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
    padding-left: 15px;
  }
  .nsp4Block .nspArt img.nspImage {
    width: 100% !important;
  }
  .ts-content-mid .col-md-6 {
    width: 50%;
    float: left;
  }
  .ts-content-mid .nspText .nspLinksWrap .nspLinks ul.nspList li h4 a {
    font-size: 15px;
  }
  .ts-content-mid .nspLinksWrap {
    padding: 0 !important;
  }
  .t3-sidebar .nspLinksWrap {
    padding: 0 !important;
  }
  .t3-sidebar .nspDark .nspCol1 {
    width: 50%;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev,
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    position: absolute !important;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: -9px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: -8px;
  }
  .nspBg.nspFullslide .nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    margin-top: -90px;
  }
  .trending.nspBg .nspArts .nspArt .nspHeader {
    line-height: 12px;
    padding-bottom: 35px;
  }
  .trending.nspBg .nspArts .nspArt .nspHeader a {
    font-size: 12px;
  }
  .trending.nspBg .nspArts .nspArt .nspInfo {
    padding-bottom: 0;
  }
  .trending.nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
  #back-to-top.affix {
    bottom: 15px;
    right: 25px;
  }
}

@media (max-width: 767px) {
  .title-arrow h3.module-title {
    font-size: 12px;
    padding: 5px 0;
  }
  .title-arrow h3.module-title > span {
    padding: 6px;
  }
  .title-arrow h3.module-title > span:before {
    border-bottom-width: 28px !important;
  }
  .title-arrow .nspTopInterface {
    top: -10px !important;
  }
  .title-arrow .nspTopInterface .nspNext,
  .title-arrow .nspTopInterface .nspPrev {
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .title-arrow.nspBg .nspTopInterface {
    top: -12px !important;
  }
  .nspArts,
  .nspLinksWrap {
    position: inherit !important;
  }
  .nspPrev,
  .nspNext {
    position: relative !important;
  }
  .nspArt img.nspImage {
    height: 100% !important;
  }
  .nspText .nspLinksWrap {
    padding: 0 !important;
  }
  .ts-date {
    top: 13px;
    right: 70px;
  }
  .head-search {
    right: 0;
  }
  .head-search .form-control {
    height: 50px;
    line-height: 50px;
  }
  .head-search .search .fa-search {
    top: 18px;
  }
  .ts-breaking .gkHighlighterWrapper .gkHighlighterItem a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 25px;
    font-size: 10px;
  }
  #btl .btl-panel {
    float: left !important;
  }
  .ts-slideshow .t3-module,
  .ts-showcase .t3-module {
    margin-bottom: 20px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination {
    top: 10px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows {
    top: 25px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-category {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
  .slideMain .sprocket-features.layout-slideshow .sprocket-features-content {
    bottom: -15px;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title {
    line-height: 20px;
    margin: 4px 0;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
    font-size: 16px;
  }
  .rightNewsBlock .nspArt img.nspImage {
    width: 100% !important;
  }
  .rightNewsBlock .nspBg .nspArts .nspTopInterface {
    right: 20px;
  }
  .ts-showcase .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
    padding-right: 15px;
  }
  .ts-showcase .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
    padding-left: 15px;
  }
  .nsp4Block .nspArt img.nspImage {
    width: 100% !important;
  }
  .vina-camera-slider-k2 .camera_caption > div h3 {
    font-size: 16px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev,
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    position: absolute !important;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
    left: 8px;
  }
  .nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
    right: 8px;
  }
  .nspBg.nspFullslide .nspBg .nspArts .nspArt .nspInfo a.nspCategory {
    margin-top: -65px;
  }
  .nspBg.nspFullslide .nspArts .nspArt h4.nspHeader a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 25px;
  }
  .tab-news h3.module-title {
    left: 0;
    font-size: 10px;
    top: 15px;
    padding: 8px 0;
  }
  .tab-news h3.module-title > span {
    margin-left: 10px;
    padding: 8px 6px 5px;
  }
  .tab-news .gkTabsWrap.vertical ol.gkTabsNav li {
    font-size: 10px;
  }
  .tab-news .nspArts {
    width: 100% !important;
  }
  .tab-news .nspArts img.nspImage {
    width: 100% !important;
  }
  .tab-news .nspLinksWrap {
    width: 100% !important;
    padding: 0 !important;
    margin-top: 15px;
  }
  .tab-news .nspLinksWrap .nspLinks {
    margin: 0 !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li {
    clear: both;
    padding: 5px 0 10px !important;
    margin: 5px 0 10px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li h4 {
    margin-top: 0;
  }
  .tab-news .nspText .nspLinkScroll2.nspPages4 a.nspImageWrapper {
    float: none;
    display: block;
    margin-bottom: 15px !important;
  }
  .t3-copyright .pull-right {
    float: left !important;
  }
  .t3-copyright ul li a {
    padding-left: 0;
    font-size: 10px;
  }
  #back-to-top {
    right: 5px;
  }
  .dontMiss .nspArt {
    width: 50%;
  }
  .dontMiss.nspText .nspArts .nspArt h4.nspHeader a {
    font-size: 14px;
  }
  div.itemContainer {
    width: 100% !important;
    padding: 0 !important;
  }
  .entertainment #itemListSecondary .catItemTitle {
    padding-top: 20px;
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 478px) {
  .tab-news .nspArts .nspArt h4.nspHeader a,
  .nspBg .nspArts .nspArt .nspHeader a {
    font-size: 12px;
  }
  .nspText .nspLinks ul li p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 35px;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title {
    line-height: 18px;
    margin: 0;
  }
  .slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
    font-size: 13px;
  }
  .tab-news .gkTabsWrap.vertical ol.gkTabsNav li {
    padding: 0 0 0 6px !important;
  }
  .tab-news .nspLinksWrap .nspLinks ul.nspList li p {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 35px;
  }
  .tab-news .nspLinksWrap.right .nspLinks ul.nspList li {
    padding: 5px 0 !important;
    margin: 5px 0 !important;
  }
  #back-to-top.affix {
    bottom: 65px;
  }
}