/**
* Override CSS file
* @ All rights reserved
* @ Joomla! is Free Software
**/
.t3-header,
.t3-mainbody,
.t3-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ts-feature,
.ts-hotnews {
	padding: 0px;
    margin: 10px 0 10px;
}
.t3-module {
	margin-top: 10px;
	margin-bottom: 10px;
}

.module.nspDark {
	margin-top: 10px;
}
.title-arrow h3.module-title,
div.k2CalendarBlock,
.t3-sidebar .module.nspDark,
.t3-footer .module.nspDark {
	margin-bottom: 10px;
}
.t3-sidebar-right .t3-module {
	margin-top: 0px;
}
.t3-footercontent {
	margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}

.vmiddle {
	display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/**
* News Show Pro GK5 module
**/
.itvTabScroll {
    max-height: 365px;
    overflow: auto;
}
.itvTabScroll.nspText .nspArts .nspArt h4.nspHeader a {
	font-size: 14px;
	line-height: 1;
}
.nspArts .nspArt h4.nspHeader a {
    text-transform: none;
}
.gkTabsItem {
	padding-top: 5px;
}
.itv-hour {
	display: none;
    padding-right: 5px;
    font-weight: bold;
    color: #f80000;
}
.itvTabScroll .itv-hour {
	display: inline;
}
.itvTabScroll.nspText .nspArts .nspArt h4.nspHeader a:hover .itv-hour {
    color: #000000;
}
.layout-slideshow .sprocket-features-img-container img {
	height: 100% !important;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-desc {
	padding: 0px 30px
}
.slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
    text-transform: none;
}

.title-arrow.green.tab-news .gkTabsWrap.vertical .gkTabsContainer {
    border-color: #73ba5d;
}
.title-arrow.green.tab-news .gkTabsWrap.vertical ol.gkTabsNav li.active:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #73ba5d rgba(0, 0, 0, 0);
}

.banner-top {
    padding-top: 0px;
}

/** VideoList module **/
/** Remove video hover effect **/
.gkNspPM-VideoList .gkImageWrap:hover img {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}
.module.nspDark .gkNspPM-VideoList .gkBottomNav {
	top: 0px;
}
.gkNspPM-VideoList figcaption {
	padding-bottom: 5px;
}
.module.nspDark {
    padding: 15px 15px 0px;
}

@media (max-width: 991px) and (min-width: 768px) {
	.banner-top {
		padding-top: 15px;
	}
	.logo a {
		margin: 15px 0;
	}
}
@media (max-width: 767px) {
	.logo a {
		margin: 15px 0px;
	}
	.slideMain .sprocket-features.layout-slideshow .sprocket-features-content {
		bottom: 0px;
	}
}
@media (max-width: 478px) {
	.logo-image img {
		width: auto !important;
	}
	.slideMain .sprocket-features.layout-slideshow .sprocket-features-desc {
		display: none;
	}
}