body {
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	line-height: 1.3;

	&.helix-ultimate-preloader {
		overflow: hidden;
		&:before {
			content: " ";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99998;
			background: rgba(255, 255, 255, .9);
		}
		&:after {
			content: "\f110";
			font-family: "FontAwesome";
			font-size: 36px;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -24px;
			margin-left: -24px;
			width: 48px;
			height: 48px;
			line-break: 48px;
			text-align: center;
			color: #007bff;
			-webkit-animation: fa-spin 2s infinite linear;
			animation: fa-spin 2s infinite linear;
			z-index: 99999;
		}
	}
}

a {
	transition: color 400ms, background-color 400ms;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}
.sppb-btn{
	&:hover, &:focus{
		text-decoration: none;
	}
	&.sppb-btn-link{
		padding: 0;
	}
}
label {
	font-weight: normal;
}

legend {
	padding-bottom: 10px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: filter 0.3s;
}
img.lazyestload {                
	filter: blur(4px);
}
//Topbar

#sp-top-bar {
	padding: 8px 0;
	.sp-module {
		display: inline-block;
		margin: 0 0 0 1.25rem;
	}
	font-size: 0.875rem;
}

ul.social-icons {
	list-style: none;
	padding: 0;
	margin: -5px;
	display: inline-block;
	>li {
		display: inline-block;
		margin: 5px 7px;
		margin-left: 15px;
	}
}

// language switcher
.sp-module-content {
	.mod-languages {
		position: relative;
		display: flex;
		&:before {
			content: "\f0ac";
			font-family: fontawesome;
			margin-right: 7px;
			color: #d2d2d3;
			transition: .3s;
		}
		&:hover{
			form .chzn-container .chzn-single,
			&:before{
				color: $text_color;
			}
		}
		ul.lang-inline {
			margin: 0;
			padding: 0;
			li {
				border: none;
				display: inline-block;
				margin: 0 5px 0 0;
				a {
					padding: 0 !important;
				}
				>a:before {
					display: none;
				}
			}
		}
		form{
			.inputbox.advancedSelect{
				display: none;
			}
			.chzn-container{
				width: 50px !important;
				.chzn-single{
					border: none;
					padding: 0;
					font-size: 12px;
					font-weight: 500;
					color: #d2d2d3;
					letter-spacing: 1.75px;
					text-transform: uppercase;
					height: auto;
					background: none;
					transition: .3s;
					&:hover, &:focus{
						background: none;
						color: $text_color;
					}
					span{
						margin-right: 12px;
					}
					div{
						width: 15px;
					}
				}
				.chzn-drop{
					width: 175px;
					right: 10px;
					left: auto;
					border-radius: 0;
					border: 1px solid #EBEBEB;
					top: calc(100% + 10px);
					padding: 3px;
					text-align: right;
					color: #d2d2d3;
					display: none;
					animation: fadeIn .5s;
					font-size: 12px;
					.chzn-results{
						color: #767676;
						li{
							transition: .3s;
							&:hover, &:focus, &.result-selected{
								color: $link_color;
								background-color: transparent;
							}
						}
					}
				}
				&.chzn-container-active{
					.chzn-drop{
						display: block;
					}
				}
			}
		}
	}

	// Latest Articles
	.latestnews {
		> li {
			> a {
				>span {
					display: block;
					margin-top: 5px;
					font-size: 85%;
				}
			}
		}
	}
}

.sp-contact-info {
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	li {
		display: inline-block;
		margin: 0 10px;
		font-size: 90%;
		white-space: nowrap;
		i {
			margin: 0 3px;
		}
	}
}

// Header
#sp-header {
	height: $header_height;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 101;
	border-top: 1px solid rgba(234,234,234,1);
	border-bottom: 1px solid rgba(234,234,234,1);
	>div.container{
		height: 100%;
		>div.container-inner{
			height: 100%;
			>.row:first-child{
				height: 100%;
			}
		}
	}
	.logo {
		display: inline-block;
		margin: 0;
		align-items: center;
		a {
			font-size: 24px;
			line-height: 1;
			margin: 0;
			padding: 0;
		}
		p {
			margin: 5px 0 0;
		}
	}
	&.header-sticky {
		position: fixed;
		z-index: 9999;
	}
}

//dark variation
$dark_color: #0E0E0E;
$dark_text_color: #4A4A4A;
$dark_border_color: rgba(234, 234, 234, .1);
#sp-header {
	&.dark-bg{
		border-top-color: $dark_border_color;
    border-bottom-color: $dark_border_color;
	}
}
#sp-main-menu{
	&.dark-bg{
		#sp-menu-right{
			border-left-color: $dark_border_color;
		}		
	}
}
.dark-bg{
	.main-megamenu ul.menu{
		background-color: $dark_color;
		border-color: $dark_border_color;
		.menu-child{
			background-color: $dark_color;
			border-color: $dark_border_color;
		}
		li.active>a{
			color: #fff !important;
		}
	}
	.menu-collapse-icon{
		opacity: 0.3;
		&:hover, &:focus{
			span{
				border-bottom-color:rgba(255, 255, 255, 1); 
			}
		}
	}
	.menu-collapse-icon.active span{
		border-bottom-color: rgba(255, 255, 255, 1);
	}
	.menu-collapse-icon span{
		border-bottom-color: rgba(255, 255, 255, 1);
	}
	.sp-module-content .mod-languages form .chzn-container .chzn-single,
	.sp-module-content .mod-languages:before,
	.sp-custom-login-on{
		color: rgba(255, 255, 255, .4) !important;
	}
	.sp-module-content .mod-languages:hover form .chzn-container .chzn-single, .sp-module-content .mod-languages:hover:before {
    color: rgba(255, 255, 255, .4) !important;
	}
	.sp-custom-login-on .form-login-wrap form{
		background-color: $dark_color;
		border: 1px solid $dark_border_color;
	}
	.top-search-wrapper .icon-top-wrapper .search-icon{
		color: rgba(255, 255, 255, .4);
		&:hover, &:focus{
			color: rgba(255, 255, 255, .4);
		}
	}
	.top-search-wrapper .icon-close-wrap .icon-close:before, .top-search-wrapper .icon-close-wrap .icon-close:after{
		background-color: rgba(255, 255, 255, .4);
	}
	.top-search-input-wrap{
		color: $dark_color;
		.popular-tags-wrap ul > li a{
			color: $dark_color !important;
			&:hover, &:focus{
				color: #fff !important;
			}
		}
	}
	.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner{
		background-color: $dark_color;
		border: 1px solid $dark_border_color;
	}
	.sp-vertical-tabs .sp-tab-pane .sp-article-info{
		background-color: transparent;
	}
	.sp-vertical-tabs .sp-tab-content .sp-tab-article:not(:last-child) {
    border-right-color: $dark_border_color;
	}
	.sp-vertical-tabs .sp-tab-btns > li.active > a, .sp-vertical-tabs .sp-tab-btns > li:hover > a {
		background: $link_color;
		color: rgba(255, 255, 255, 1) !important;
	}
	.sp-vertical-tabs .sp-tab-btns > li > a{
		border-bottom-color: $dark_border_color;
		color: rgba(255, 255, 255, .4) !important;
	}
	.sp-vertical-tabs .sp-tab-btns-wrap{
		border-right-color: $dark_border_color;
	}
	.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full .sp-dropdown-inner{
		border-color: $dark_border_color !important;
	}
	.sp-megamenu-parent > li {
		> a{
			color: rgba(255, 255, 255, .4) !important;
		}
		&:hover, &:focus, &.active{
			>a{
				color: #fff !important;
			}
		}
	}
	.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a{
		color: rgba(255, 255, 255, 1) !important;
	}
	.sp-weather{
		color: rgba(255, 255, 255, .4);
		.sp-weather-current .sp-weather-icon-wrap{
			color: rgba(255, 255, 255, .4);
			.sp-weather-icon{
				color: rgba(255, 255, 255, .4);
			}
		}
		.collapse-icon{
			color: rgba(255, 255, 255, .4) !important;
		}
		.sp-weather-forcasts{
			background-color: $dark_color;
			border-color: $dark_border_color;
			.list{
				border-color: $dark_border_color;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.sp-vertical-tabs .sp-tab-pane .sp-article-info .entry-title{
		a{
			color: rgba(255, 255, 255, .4) !important;
			&:hover, &:focus{
				color: rgba(255, 255, 255, 1) !important;
			}
		}
	}
	.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a{
		color: rgba(255, 255, 255, .4) !important;
		&:hover, &:focus{
			color: rgba(255, 255, 255, 1) !important;
		}
	}
	.sp-custom-login .info-text .sppb-btn{
			color: rgba(255, 255, 255, .4) !important;
			&:hover, &:focus{
				color: rgba(255, 255, 255, 1) !important;
			}
	}
	.top-search-input-wrap{
		background-color: rgba(14, 14, 14, .9);
		.sp_search_input input{
			background: #232323;
			border-color: #3e3e3e;
			&:hover, &:focus{
				background: #232323;
				color: #fff;
			}
		}
		.popular-tags-wrap ul > li a{
			background: #232323;
			border: 1px solid #3c3c3c;
			color: rgba(255, 255, 255, .4) !important;
		}
	}
	.main-megamenu ul.menu > li{
		>a{
			color: rgba(255, 255, 255, .4) !important;
		}
		&:hover, &:focus{
			>a{
				color: rgba(255, 255, 255, 1) !important;
			}
		}
	}
	.main-megamenu .menu-child li {
		> a{
			color: rgba(255, 255, 255, .4) !important;
		}
		&:hover, &:focus{
			>a{
				color: rgba(255, 255, 255, 1) !important;
			}
		}
	}
	.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li.active:hover > a{
		color: #fff !important;
	}
	.top-search-input-wrap .input-title{
		color: rgba(255, 255, 255, 0.4) !important;
	}
	.sp-weather{
		.sp-weather-current{
			.sp-weather-icon-wrap{
				&:hover, &:focus, &.active{
					cursor: pointer;
					color: rgba(255, 255, 255, 1) !important;
					.sp-weather-icon,
					.collapse-icon{
						color: rgba(255, 255, 255, 1) !important;
					}
				}
			}
		}
	}
}
#sp-bottom.dark-bg{
	border-bottom-color: $dark_border_color;
	#sp-bottom2, #sp-bottom3, #sp-bottom4{
		border-left-color: $dark_border_color;
	}
	#sp-bottom1{
		color: #4A4A4A;
		.acymailing_module .acy_requiredField input{
			background: transparent;
			border-bottom: 1px solid;
			&:hover, &:focus{
				color: #fff;
			}
		}
		.acymailing_module .acysubbuttons input.btn-primary{
			color: #fff;
		}
	}
	h3.sp-module-title{
		color: #fff;
	}
	ul.menu li > a{
		&:hover, &:focus{
			color: #fff;
		}
	}
}
#sp-footer.dark-bg{
	color: #737373;
	a{
		color: #737373;
		&:hover, &:focus{
			color: #fff;
		}
	}
	#sp-footer2 ul.social-icons li a{
		color: #737373;
		&:hover, &:focus{
			color: #fff;
		}
	}
}
// Page Title

#sp-title {
	min-height: 0;
}

.sp-page-title {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	.sp-page-title-heading, .sp-page-title-sub-heading {
		margin: 0;
		padding: 0;
		color: #fff;
	}
	.sp-page-title-heading {
		font-size: 24px;
		line-height: 1;
	}
	.sp-page-title-sub-heading {
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		margin-top: 10px;
	}
	.breadcrumb {
		background: none;
		padding: 0;
		margin: 10px 0 0 0;
		>.active {
			color: rgba(255, 255, 255, 0.8);
		}
		>span, >li, >li+li:before, >li>a {
			color: #fff;
		}
	}
}


// Body
.body-innerwrapper{
	overflow-x: hidden;
}
.layout-boxed .body-innerwrapper {
	max-width: 1240px;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sp-main-body {
	padding: 30px 0;
}

.com-sppagebuilder #sp-main-body {
	padding: 0;
}

// Login Form

.login {
	img {
		display: inline-block;
		margin: 20px 0;
	}
	.checkbox {
		input[type="checkbox"] {
			margin-top: 6px;
		}
	}
}

.form-links {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}


// Search

.search {
	.btn-toolbar {
		margin-bottom: 20px;
		span.icon-search {
			margin: 0;
		}
		button {
			color: #fff;
		}
	}
	.phrases {
		.phrases-box {
			.controls {
				label {
					display: inline-block;
					margin: 0 20px 20px;
				}
			}
		}
		.ordering-box {
			margin-bottom: 15px;
		}
	}
	.only {
		label {
			display: inline-block;
			margin: 0 20px 20px;
		}
	}
	.search-results {
		dt.result-title {
			margin-top: 40px;
		}
		dt, dd {
			margin: 5px 0;
		}
	}
}

.filter-search {
	.chzn-container-single {
		.chzn-single {
			height: 34px;
			line-height: 34px;
		}
	}
}

.form-search {
	.finder {
		label {
			display: block;
		}
		.input-medium {
			width: 60%;
			border-radius: 4px;
		}
	}
}

.finder {
	.word {
		input {
			display: inline-block;
		}
	}
	.search-results.list-striped {
		li {
			padding: 20px 0;
		}
	}
}

// Blog

.article-list {
	.article {
		margin-bottom: 30px;
		padding: 20px;
		border: 1px solid #f5f5f5;
		border-radius: 3px;

		.article-intro-image,
		.article-featured-video,
		.article-featured-audio,
		.article-feature-gallery {
			margin: -20px -20px 20px -20px;
			border-radius: 3px 3px 0 0;
			border-bottom: 1px solid #f5f5f5;
			overflow: hidden;
			img {
				border-radius: 3px 3px 0 0;
			}
		}

		.article-header {
			h1,
			h2 {
				font-size: 1.375rem;
				margin: 0 0 1.250rem 0;

				a {
					color: $text_color;
					&:hover,
					&:active,
					&:focus {
						color: $link_color;
					}
				}
			}
		}

		.readmore {
			font-size: 0.875rem;
			a {
				color: $text_color;
				font-weight: 500;
				&:hover,
				&:active,
				&:focus {
					color: $link_hover_color;
				}
			}
		}
	}
}

.article-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	>span {
		font-size: 12px;
		color: #9B9B9B;
		letter-spacing: 1.75px;
		text-transform: uppercase;
		+ span::before {
			display: inline-block;
			padding-right: .5rem;
			padding-left: .5rem;
			content: "|";
		}

		a {
			color: #D94D30;
			font-weight: 500;
			&:hover {
				color: $link_hover_color;
			}
		}
	}
}

.article-details {
	.article-header {
		position: relative;
		h1,
		h2 {
			font-size: 2.25rem;
		}
	}

	.link-edit-article {
		position: absolute;
		right: 0;
		top: 10px;
	}

	.article-info {
		margin-bottom: 1rem;
	}
	.article-details-wrapper{
		font-size: 18px;
		line-height: 28px;
		color: #5f5f5f;
	}
	.article-full-image {
		text-align: center;
		img {
			display: inline-block;
		}
		margin-bottom: 2rem;
	}

	.article-featured-video,
	.article-featured-audio,
	.article-feature-gallery {
		margin-bottom: 2rem;
	}

	.article-ratings-social-share {
		padding: 1rem 0;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;
		margin-bottom: 1rem;
	}

	.article-author-information {
		padding-top: 2rem;
		margin-top: 2rem;
		border-top: 1px solid #f5f5f5;
	}
}

.tags {
	list-style: none;
	padding: 0;
	margin: 2rem 0 0 0;
	display: block;
	>li {
		display: inline-block;
		a {
			display: block;
			font-size: 0.875rem;
			padding: 0.5rem 1rem;
			border-radius: 6.25rem;
			&:hover {
				color: #fff;
			}
		}
	}
}

.pager {
	list-style: none;
	padding: 2rem 0 0 0;
	margin: 2rem 0 0 0;
	border-top: 1px solid #f5f5f5;

	&::after {
		display: block;
		clear: both;
		content: "";
	}

	>li {
		display: inline-block;
		&.previous {
			float: left;
		}
		&.next {
			float: right;
		}
		a {
			display: inline-block;
			font-size: 0.785rem;
			padding: 1rem 2.5rem;
			border-radius: 100px;
		}
	}
}

#article-comments {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: 1px solid #f5f5f5;
}

//Article Voting
.article-ratings {
	display: flex;
	align-items: center;
	.rating-symbol {
		unicode-bidi: bidi-override;
		direction: rtl;
		font-size: 1rem;
		display: inline-block;
		margin-left: 5px;
		span.rating-star {
			font-family: "FontAwesome";
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			&.active:before {
				content: "\f005";
				color: #F6BC00;
			}
			&:before {
				content: "\f006";
				padding-right: 5px;
			}
		}

		span.rating-star:hover:before,
		span.rating-star:hover ~ span.rating-star:before {
			content: "\f005";
			color: #E7B000;
			cursor: pointer;
		}
	}

	.ratings-count {
		font-size: 0.785rem;
		color: #999;
	}

	.fa-spinner {
		margin-right: 5px;
	}
}

.newsfeed-category {
	.category {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 5px 0;
		}
	}
	#filter-search {
		margin: 10px 0;
	}
}

.category-module, .categories-module, .archive-module, .latestnews, .newsflash-horiz, .mostread, .form-links, .list-striped {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding: 2px 0;
		h4 {
			margin: 5px 0;
		}
	}
}
//Social and rating
.article-footer-top{
	display: table;
	clear: both;
	width: 100%;
	.post_rating{
		float: left;
	}
}

// contentpane
.contentpane {
	&:not(.com-sppagebuilder) {
		padding: 20px;
	}
}

// Bottom
#sp-bottom {
	padding: 35px 0 30px;
	font-size: 14px;
	line-height: 1.6;
	.sp-module {
		.sp-module-title {
			font-weight: 700;
			margin: 0 0 30px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			> li {
				display: block;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				>a {
					display: block;
				}
			}
		}
	}
}


// Footer
#sp-footer {
	font-size: 14px;
	padding: 0;

	.container-inner {
		padding: 20px 0;
	}

	ul {
		&.menu {
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0 -10px;
			li {
				display: inline-block;
				margin: 0 10px;
				a {
					display: block;
					&:hover {
						background: none;
					}
				}
			}
		}
	}

	#sp-footer2 {
		text-align: right;
	}
}

// Coming soon
html.coming-soon {
	width: 100%;
	height: 100%;
	min-height: 100%;

	body {
		width: 100%;
		height: 100%;
		min-height: 100%;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 40%;
	}

	.coming-soon-logo {
		display: inline-block;
		margin-bottom: 2rem;
	}

	#coming-soon-countdown{
		margin-top: 4rem;

		.coming-soon-days,
		.coming-soon-hours,
		.coming-soon-minutes,
		.coming-soon-seconds{
			margin: 0;
			float: left;
			width: 25%;

			.coming-soon-number{
				width: 100%;
				font-size: 4.5rem;
				letter-spacing: -1px;
				line-height: 1;
			}

			.coming-soon-string{
				font-size: 1.5rem;
				letter-spacing: -1px;
				display: block;
				text-transform: uppercase;
			}
		}
	}

	.coming-soon-position{
		margin-top: 2rem;
	}

	.social-icons {
		margin-top: 4rem;
	}
	.coming-soon-login form{
		display: inline-block;
	}
}

// error
html.error-page {
	width: 100%;
	height: 100%;

	body {
		width: 100%;
		height: 100%;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 40%;
	}

	.error-logo {
		display: inline-block;
		margin-bottom: 2rem;
	}

	.error-code {
		margin: 0 0 1rem;
		font-size: 6rem;
		line-break: 1;
	}

	.error-message {
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}

}

.sp-social-share {
	ul {
		display: block;
		padding: 0;
		margin: 20px -5px 0;
		li {
			display: inline-block;
			font-size: 24px;
			margin: 0 5px;
		}
	}
}

// profile
.profile {
	>div:not(:last-child) {
		margin-bottom: 30px;
	}
}

.dl-horizontal {
	dt {
		margin: 8px 0;
		text-align: left;
	}
}

// page-header
.page-header {
	padding-bottom: 15px;
}

// featured contact
table.category {
	width: 100%;
	thead, tbody {
		>tr {
			border: 1px solid #f2f2f2;
			th, td {
				padding: 10px;
			}
		}
	}
}

//contact from
.contact-form {
	.form-actions {
		background: none;
		border: none;
	}
}

@media print {
	.visible-print {
		display: inherit !important;
	}
	.hidden-print {
		display: none !important;
	}
}

// Preloader
.sp-preloader {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	>div {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
		position: absolute;
		animation: spSpin 0.75s linear infinite;
		&:after {
			content: '';
			position: absolute;
			width: 49px;
			height: 49px;
			top: 1px;
			right: 0;
			left: 0;
			margin: auto;
			border-radius: 50%;
		}
	}
}


// Forms
.control-group {
	margin-bottom: 1rem;
}

select.form-control:not([multiple]),
select.inputbox:not([multiple]),
select:not([multiple]) {
	height: calc(2.25rem + 2px);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
select {
	&:not(.form-control) {
		display: block;
		width: 100%;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.25;
		color: #495057;
		background-color: #fff;
		background-image: none;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 0.25rem;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;

		&:focus {
			color: #495057;
			background-color: #fff;
			border-color: $link_color;
			outline: 0;
		}
	}
}


.chzn-select,
.chzn-select-deselect {
	width: 100%;
}

.chzn-container {
	&.chzn-container-single {
		.chzn-single {
			display: block;
			width: 100%;
			padding: .5rem 0.75rem;
			font-size: 1rem;
			line-height: 1.25;
			height: calc(2.25rem + 2px);
			color: #495057;
			background-color: #fff;
			background-image: none;
			background-clip: padding-box;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: 0.25rem;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
			box-shadow: none;

			div {
				width: 30px;
				background: none;
				>b {
					background: none;
					position: relative;
					&:after {
						content: "\f0dc";
						font-family: FontAwesome;
						font-size: 0.875rem;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
					}
				}
			}
		}

		&.chzn-container-active {
			&.chzn-with-drop {
				.chzn-single {
					border-radius: .25rem .25rem 0 0;
				}
			}
		}

		.chzn-search {
			padding: 0.625rem;
			input[type="text"] {
				display: block;
				width: 100%;
				padding: .5rem 1.429rem .5rem 0.75rem;
				font-size: 0.875rem;
				line-height: 1.25;
				height: calc(2rem + 2px);
				color: #495057;
				background-color: #fff;
				background-image: none;
				background-clip: padding-box;
				border: 1px solid rgba(0,0,0,.15);
				border-radius: 0.25rem;
				transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
				box-shadow: none;
				-webkit-box-shadow: none;

				&:focus {
					border-color: #80bdff;
					outline: 0;
					box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
					-webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
				}
			}

			&:after {
				content: "\f002";
				font-family: FontAwesome;
				font-size: 0.875rem;
				color: rgba(0, 0, 0, .2);
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
		}

		.chzn-drop {
			border-color: rgba(0,0,0,.15);
			border-radius: 0 0 .25rem 0.25rem;
			box-shadow: none;
			-webkit-box-shadow: none;
		}

		.chzn-results {
			li {
				&.highlighted {
					background-image: none !important;
				}
			}
		}
	}

	&.chzn-container-multi {

		.chzn-choices {
			display: block;
			width: 100%;
			padding: 0 0.75rem;
			min-height: calc(2.25rem + 2px);
			line-height: 1.25;
			background-color: #fff;
			background-image: none;
			background-clip: padding-box;
			border: 1px solid rgba(0,0,0,.15);
			border-radius: 0.25rem;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out 0.15s;
			box-shadow: none;
			-webkit-box-shadow: none;

			li {

				&.search-field {
					input[type="text"] {
						font-size: 0.875rem;
						font-weight: normal;
						line-height: 1.25;
						height: calc(2rem + 2px);
						background-color: #fff;
					}
				}

				&.search-choice {
					margin: 5.5px 5px 0 0;
					padding: 5px 20px 5px 5px;
					background-image: none;
					background-color: #f5f5f5;
					border-color: rgba(0,0,0,.1);
					box-shadow: none;
					-webkit-box-shadow: none;

					.search-choice-close {
						background: none;
						top: 5px;
						color: rgba(0, 0, 0, .2);
						&:hover {
							color: rgba(0, 0, 0, .5);
						}
						&:after {
							content: "\f00d";
							font-family: FontAwesome;
							font-size: 0.875rem;
							position: absolute;
							top: 0;
							right: 0;
						}
					}
				}
			}
		}

		&.chzn-with-drop {
			&.chzn-container-active {
				.chzn-choices {
					border-radius: 0.25rem;
				}
			}
			.chzn-drop {
				margin-top: -4px;
				border: none;
				border-radius: 0;
				box-shadow: none;
				-webkit-box-shadow: none;

				.chzn-results {
					&:not(:empty) {
						padding: 0.75rem;
						background: #fff;
						border: 1px solid rgba(0,0,0,.15);
						border-top: 0;
						border-radius: 0 0 0.25rem 0.25rem;
					}

					li {
						&.no-results {
							background: none;
						}
					}
				}
			}
		}
	}
}

// Form control
.form-horizontal {
	.control-label {
		float: left;
		width: auto;
		padding-top: 5px;
		padding-right: 5px;
		text-align: left;
	}

	.controls {
		margin-left: 220px;
	}
}

.card-block {
	padding: 20px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: block;
		li {
			display: block;
		}
	}
}

// Alerts
.alert {
	&.alert-error {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
	}
}

// Cookie
#sp-cookie-consent {
	position: fixed;
	font-size: 16px;
	font-weight: 500;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10001;

	>div {
		padding: 20px;
		position: relative;
	}
}

//Template Related Style
//Popup Login
.modal-backdrop{
	z-index: 10;
}
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
	.modal:before {
			display: inline-block;
			vertical-align: middle;
			content: " ";
			height: 100%;
	}
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
#login{
	.modal-dialog {
		width: calc(100% - 30px);
    max-width: 650px;
	}
.modal-content{
		background: #FFFFFF;
		box-shadow: 0 28px 57px 0 rgba(0,0,0,0.72);
		border-radius: 0;
		text-align: left;
		padding: 70px 85px;
		.modal-header{
				border: none;
				padding: 0 0 43px;
				font-size: 24px;
				font-weight: 400;
				justify-content: center;
				h3{
						font-weight: 700;
						font-size: 24px;
						margin: 0 0 0 16px;
				}
		}
		.modal-body{
				padding: 0;
				input{
						box-shadow: none;
						border: 1px solid #EBEBEB;
						padding: 18px 20px;
						border-radius: 0;
				}
				input[type="text"]{
						margin-bottom: 10px;
				}
				input[type="password"],
				input[type="email"]{
						margin-bottom: 24px;
				}
				input[type="submit"]{
						border: transparent;
						font-size: 16px;
						color: #fff;
						line-height: 50px;
						padding: 0 20px;
						width: 100%;
						display: block;
						margin-bottom: 30px;
						transition: .3s;
						cursor: pointer;
						&:hover,&:focus{
								background: #000;
						}
				}
				.login-button{
					padding: 18px 20px;
					text-transform: uppercase;
					font-weight: 700;
					letter-spacing: 1.75px;
					border-radius: 0;
					cursor: pointer;
					border: none;
					background-color: $link_color;
					&:hover, &:focus{
						background-color: $link_color;
						opacity: 0.7;
					}
				}
				.reg-link a{
					text-transform: uppercase;
					letter-spacing: 1.75px;
					opacity: .5;
					font-weight: 500;
					&:hover, &:focus{
						opacity: 1;
					}
				}
				#form-login-password{
					margin-bottom: 0;
				}
				.remeber-forget-wrap{
					font-weight: 700;
					margin-bottom: 5px;
					#modlgn-remember{
						position: relative;
						margin-right: 10px;
					}
					label{
						font-weight: 700;
					}
				}
				#form-login-submit{
					margin-bottom: 40px;
				}
				.forgot-password{
						a{
								font-weight: 300;
								font-size: 14px;
								color: #A8ACB9;
								text-decoration: underline;
								letter-spacing: 0;
						}
				}
				.create-account{
						margin-top: 24px;
						a{
								font-weight: 300;
								font-size: 14px;
								color: #4F5362;
						}
				}
				p{
						font-size: 12px;
						color: #A8ACB9;
						letter-spacing: 1.2px;
						text-transform: uppercase;
						line-height: 28px;
						margin-bottom: 2px;
						a{
								color: #b5b5b5;
						}
				}
		}
	}
	.modal-header .close{
			position: absolute;
			right: 0;
			top: 0;
			font-size: 20px;
			padding: 0;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			opacity: 1;
			border: 0;
			height: 47px;
			width: 47px;
			margin: 0;
			&:hover,&:focus{
					opacity: 0.6;
			}
			i{
					margin-right: 0;
			}
	}
}
.modal-backdrop.fade.in{
    display: none;
}
.modal-open .modal {
	// background: rgba(0,0,0,.5);
}

//custom login
.sp-custom-login{
	.info-text{
		.sppb-btn{
			color: #d2d2d3;
			text-transform: uppercase;
			letter-spacing: 1.75px;
			font-weight: 500;
			&:hover,&:focus{
				color: $text_color;
			}
			i.fa{
				font-size: 14px;
			}
		}
	}
}
.sp-custom-login-on{
	.icon-wrap{
		font-size: 18px
	}
	.form-login-wrap{
		padding-top: 20px;
		position: absolute;
		right: 12px;
		display: none;
		animation: fadeInDown .5s;
		transition: .3s;
		.login-greeting{
			margin-bottom: 10px;
		}
		form{
			background: #fff;
			padding: 30px;
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			.logout-button{
				cursor: pointer;
			}
		}
	}
	&:hover{
		.form-login-wrap{
			display: block;
		}
	}
}

//sp-menu
body:not(.main-menu-borderless){
	#sp-main-menu{
		border-bottom: 1px solid #EBEBEB;
	}
}
#sp-menu{
	>div{
		display: flex;
	}
}
#sp-menu-right{
	border-left: 1px solid #EBEBEB;
}
.sp-megamenu-wrapper{
	flex: auto;
}
.main-megamenu{
	ul.menu{
		display: none;
		animation: fadeInUp .5s;
		position: absolute;
    top: 50px;
		padding: 20px 0 0;
    background: #fff;
		list-style: none;
		text-transform: uppercase;
    border: 1px solid #EBEBEB;
		border-bottom: 3px solid $link_color;
		font-size: 12px;
		letter-spacing: 1.5px;
		min-width: 260px;
		>li{
			margin-bottom: 15px;
			>a{
				display: inline-block;
				padding: 5px 20px;
			}
		}
		li.active>a{
			color: $link_color;
		}
		&.active{
			display: block;
		}
	}
	.menu-parent{
		position: relative;
		>a{
			// position: relative;
		}
		&:hover{
			>a{
				color: $link_color;
			}
			>.menu-child{
				display: block;
			}
		}
	}
	.menu-child{
		position: absolute;
    left: 100%;
    padding: 20px 0;
    background: #fff;
    border: 1px solid #EBEBEB;
		top: -1px;
		list-style: none;
		display: none;
		animation: fadeInLeft .3s;
		min-width: 260px;
		li{
			margin-bottom: 10px;
			>a{
				padding: 5px 20px;
				display: block;	
			}
		}
	}
	.menu-toggler{
		display: block;
		position: absolute;
		top: 1px;
		right: 20px;
		cursor: pointer;
		z-index: 100;
		font-family: FontAwesome;
		&.active {
			transform: rotateZ(90deg);
		}
		&:after {
			content: "\f105";
			font-size: 18px;
		}
	}
}
.sp-megamenu-main-wrap{
	position: relative;
}
//menu-collapse-icon
.menu-collapse-icon{
	display: inline-block;
	width: 21px;
	height: 16px;
	position: relative;
	cursor: pointer;
	span {
		display: block;
		width: 100%;
		border-bottom: 2px solid #D2D2D3;
		transition: all .3s ease-in-out;
		position: absolute;
		top: 50%;
		left: 0;
		&:first-child {
				-webkit-transform: rotate(0);
				transform: rotate(0);
				top: 0;
		}
		&:nth-child(2) {
				top: 7px;
				left: 0;
		}
		&:last-child {
				-webkit-transform: rotate(0);
				transform: rotate(0);
				bottom: 0;
		}
	}
	&:hover, &:focus{
		span{
			border-bottom-color: #333;
		}
	}
	&.active{
			position: relative;
			span {
					position: absolute;
					top: 50%;
					left: 50%;
					bottom: inherit;
					border-bottom-color: #333;
					&:first-child {
							-webkit-transform: translate(-50%,-50%) rotate(45deg);
							transform: translate(-50%,-50%) rotate(45deg);
					}
					&:nth-child(2) {
							opacity: 0;
							display: none;
					}
					&:last-child {
							-webkit-transform: translate(-50%,-50%) rotate(-45deg);
							transform: translate(-50%,-50%) rotate(-45deg);
					}
			}
	}
}

#sp-logo>.sp-column {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
#sp-logo-left,#sp-logo-right{
	align-self: center;
}
#sp-logo-right{
	>div{
		display: flex;
		justify-content: flex-end;
		>.sp-module:not(:last-child){
			margin-right: 25px;
		}
	}
}

//sp-weather
.sp-weather{
	font-size: 12px;
	padding: 9px 0;
	p.weather_sp1_city{
		font-size: 12px;
		line-height: 1.3;
	}
	img.spw_icon_big {
    height: 50px;
	}
	p.spw_current_temp {
    font-size: 12px;
    margin: -20px 0 0 15px;
	}
	.sp-weather-current{
		display: flex;
		justify-content: space-between;
		.sp-weather-icon-wrap{
			color: #d2d2d3;
			padding-right: 25px;
			transition: .3s;
			.sp-weather-icon{
				text-align: right;
				color: #d2d2d3;
				font-size: 25px;
				line-height: 1;
				margin-right: 5px;
				transition: .3s;
			}
			&:hover, &:focus, &.active{
				cursor: pointer;
				color: $text_color;
				.sp-weather-icon,
				.collapse-icon{
					color: $text_color;
				}
			}
		}
		.sp-weather-current-temp{
			text-align: left;
			font-size: 16px;
			font-weight: 500;
		}
		.media-heading.sp-weather-city{
			font-size: 12px;
		}
	}
	.collapse-icon{
		font-size: 20px;
		margin-left: 15px;
		transition: .3s;
		color: #d2d2d3;
		position: absolute;
    right: 15px;
    top: 50%;
		transform: translateY(-50%);
		transform-origin: 0px 7px;
		transition: .3s;
		&.active{
			color: $text_color;
			transform: rotateX(180deg);
		}
	}
	.sp-weather-icon-wrap{
		cursor: pointer;
	}
	.sp-weather-forcasts{
		position: absolute;
    z-index: 10;
    background: #fff;
    right: 15px;
    padding: 10px;
		border: 1px solid #ebebeb;
		display: none;
		min-width: 270px;
		.grid{
			width: 50% !important;
			margin-bottom: 7px;
		}
		.list:first-child{
			border-top: none;
			padding-top: 0px;
		}
		.list:last-child{
			border: none;
			padding-bottom: 0;
		}
	}
}

//sppb-addon-article
.sppb-addon-article{
	a.article-img-wrap,
	.sppb-img-wrapper{
		margin-bottom: 15px;
		display: block;
	}
	.sppb-meta-category{
		text-transform: uppercase;
    letter-spacing: 1.75px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
	}
	.sppb-article-meta{
		color: #9B9B9B;
		font-size: 12px;
		margin-bottom: 10px;
		.sppb-meta-author{
			text-transform: uppercase;	
			letter-spacing: 1.75px;
		}
	}
	.article-title{
		font-size: 14px;
		margin-bottom: 15px;
		a{
			
		}
	}
}

//sppb-addon-articles-ticker
.sppb-addon-articles-ticker{
	.sppb-articles-ticker{
		overflow: hidden !important;
		max-height: 50px;
	}
	.sppb-articles-ticker-heading{
		padding: 5px 20px;
	}
	.sppb-articles-ticker-text{
		padding: 16px 30px 16px 20px;
		>a{
			font-size: 14px;
			margin-right: 40px;
			line-height: 1.3;
			flex: 0 0 80%;
			max-width: 80%;
		}
	}
	.ticker-date-time-content-wrap.date-wrapper-class{
		flex: 0 0 100px;
		right: auto;
		margin-left: 0;
		.ticker-date-time{
			background: transparent !important;
			color: #B5B5B5;
			border: 1px solid #EBEBEB;
			padding: 2px 10px;
		}
	}
	.sppb-articles-ticker-controller{
		a{
			color: #EBEBEB !important;
			&:hover, &:focus{
				color: $text_color !important;
			}
		}
	}
}

//sppb-addon-articles-slider
.sppb-addon-articles-slider{
	overflow: hidden;
	.sppb-addon-article .sppb-article-meta{
		margin-bottom: 0;
	}
	&.default .article-title{
		overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 21px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
	}
	&.bg_image{
		color: #fff;
		a{
			color: #fff;
			transition: .3s;
			&:hover, &:focus{
				opacity: 0.75;
			}
		}
		.sppb-addon-article.item{
			min-height: 450px;
			display: flex;
			align-items: flex-end;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right:0;
				background-color: #000;
				opacity: 0.4;
			}
		}
		.sppb-article-details{
			padding: 35px;
			max-width: 600px;
			z-index: 5;
			position: relative;
			.sppb-article-meta{
				color: #fff;
			}
			.article-title{
				font-size: 32px;
				font-weight: 700;
			}
			.introtext{
				font-size: 18px;
			}
		}
		.owl-controls{
			margin: 0;
			position: absolute;
			right: 30px;
			bottom: 30px;
			left: auto;
			transform: translate(0);
			.owl-dot{
				span{
					width: 6px;
					height: 6px;
					margin: 0px 5px;
					background-color: #fff !important;
					box-shadow: 0px 0px 0px 0px $link_color;
					transition: .3s;
				}
				&.active span{
					box-shadow: 0px 0px 0px 3px $link_color;
				}
			}
		}
		.customNavigation{
			
		}
	}
	.customNavigation{
		>a{
			position: absolute;
			right: -35px;
			top: 50%;
			transform: translateY(-50%);
			background: #9B9B9B;
			left: inherit;
			color: #fff;
			width: 32px;
			height: 54px;
			z-index: 11;
			font-size: 35px;
			text-align: center;
			line-height: 54px;
			opacity: 0;
			transition: .3s;
			cursor: pointer;
			&.sppbSlidePrev{
				left: -35px;
				right: inherit;
			}
		}
	}
	&:hover{
		.customNavigation{
			>a{
				right: 0;
				opacity: 1;
				&.sppbSlidePrev{
					left: 0;
				}
			}
		}
	}
	.owl-controls{
		margin: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -10px;
		.owl-dots .owl-dot{
			span{
				width: 6px;
				height: 6px;
				margin: 0px 5px;
				background: #bbb;
				box-shadow: 0px 0px 0px 0px $link_color;
				transition: 0.3s;
			}
			&.active>span{
				box-shadow: 0px 0px 0px 3px $link_color;
				background-color: #fff;
			}
		}
	}
	&.default{
		position: relative;
		border: 1px solid #ebebeb;
		.sppb-addon-title{
			padding: 15px;
			margin-bottom: 0;
			text-transform: uppercase;
			letter-spacing: 1.75px;
		}
		.sppb-addon-content{
			padding: 15px;
			border-top: 1px solid #ebebeb;
		}
		.sppb-addon-article.item{
			.sppb-article-img-wrapper{
				margin-bottom: 12px;
			}
			.sppb-meta-category{
				margin-bottom: 10px;
				a{	
					color: $link_color;
				}
			}
		}
		.owl-controls{
			display: none;
		}
	}
	&.creative-slider{
		.sppb-article-details{
			padding: 30px;
			.article-title{
				font-size: 24px;
			}
			.sppb-article-meta{
				>span{
					&:not(:last-child):after{
						content: "|";
						margin-right: 20px;
						padding-left: 20px;
					}
				}
			}
		}
		.customNavigation > a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 32px;
			background-color: $link_color;
			opacity: 0.5;
			&:hover, &:focus{
				opacity: 1;
			}
		}
	}
}
.articles-slider-wrap{
	.customNavigation{
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 10;
		color: #fff;
		font-size: 20px;
		a{
			cursor: pointer;
		}
		.sppbSlideNext{
			margin-left: 15px;
		}
	}
}

//sppb-addon-articles
.sppb-addon-articles{
	margin-bottom: 0;
	.sppb-readmore{
		border: 1px solid;
		padding: 5px 14px;
	}
	.intro-items{
		.nano-content{
			padding: 15px;
		}
	}
	.sppb-article-readmore-wrapper{
		text-align: center;
		margin: 17px 0px;
		a.sppb-btn{
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 2px;
			display: block;
			&.sppb-btn-link{
				color: $link_color;
				&:hover, &:focus{
					opacity: 0.7;
				}
			}
		}
	}
	.sppb-addon-article-title{
		line-height: 1.3;
	}
	.sppb-addon-article .sppb-addon-article-info-wrapper .sppb-article-meta .sppb-meta-author{
		a{
			color: #9b9b9b !important;
			&:hover, &:focus{
				color: $link_color !important;
			}
		}
	}
	&.default{
		.sppb-addon-article {
			border: 1px solid #EBEBEB;
			.article-img-wrap{
				margin-bottom: 0;
			}
			.sppb-addon-article-info-wrapper{
				padding: 15px;
				.sppb-meta-category{
					a{
						color: $link_color;
					}
				}
				.sppb-addon-article-title{
					font-size: 18px;
					margin-bottom: 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					max-height: 45px;
					-webkit-line-clamp: 2;
					line-clamp: 2;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					box-orient: vertical;
				}
				.sppb-article-meta{
					margin-top: 50px;
					>span{
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}
		.sppb-article-readmore-wrapper{
			border: 1px solid #EBEBEB;
			padding: 7px 0;
			margin-top: 0;
		}
	}
	&.latest-stories{
		.sppb-addon-article {
			.article-img-wrap{
				img{
					max-width: 90px;
				}
			}
			.sppb-addon-article-info-wrapper{
				h3.sppb-addon-article-title{
					margin-top: 0;
					font-size: 14px;
					margin-bottom: 5px;
				}
				.sppb-article-meta{
					margin-bottom: 0;
				}
			}
		}
	}
	&.simple{
		&.article-border .sppb-addon-content {
			padding-bottom: 0;
		}
		.leading-item{
			border-right: none !important;
			.sppb-addon-article{
				border-bottom: 1px solid #EBEBEB;
				margin-bottom: 15px;
				.sppb-addon-article-title{
					font-size: 18px;
				}
			}
			.sppb-article-meta{
				display: none;
			}
			.sppb-article-meta.only-leading-item{
				margin-top: 12px;
				display: block;
				span{
					display: block;
				}
			}
		}
		.intro-items{
			border-bottom: 1px solid #EBEBEB;
		}
	}
	&.light-border{
		&.article-border{
			border-color: rgba(235, 235, 235, 0.1);
			.sppb-addon-title{
				border-bottom-color: rgba(235, 235, 235, 0.1);
			}
			.leading-item{
				border-right-color: rgba(235, 235, 235, 0.1);
			}
			.intro-items{
				.sppb-addon-article{
					border-bottom-color: rgba(235, 235, 235, 0.1) !important;
				}
			}
		}
	}
	&.fashion-layout{
		.sppb-addon-content{
			>div>div:first-child{
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
	}
	&.masonry{
		.sppb-addon-content >div.sppb-row{
			margin-left: -5px;
			margin-right: -5px;
			>div{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.intro-items-wrapper{
			display: flex;
			margin: -5px;
			>.sppb-addon-article {
				margin: 5px;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
		.sppb-addon-article {
			color: #fff;
			margin-bottom: 10px;
			display: flex;
			align-items: flex-end;
			padding: 30px;
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right:0;
				opacity: 0.6;
				background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #D10038 98%);
			}
			.sppb-addon-article-info-wrapper{
				position: relative;
				z-index: 10;
				a{
					color: #fff;
					transition: .3s;
					&:hover, &:focus{
						opacity: 0.7;
					}
				}
				.sppb-addon-article-title{
					font-size: 32px;
					font-weight: 700;
					margin-bottom: 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					max-height: 75px;
					-webkit-line-clamp: 2;
					line-clamp: 2;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					box-orient: vertical;
				}
				.sppb-article-meta{
					span{
						color: #fff;
						&:not(:last-child){
							&:after{
								content: "|";
									padding-left: 15px;
									opacity: .7;
									margin-right: 5px;
							}
						}
					}
				}
			}
		}
		.leading-item{
			.sppb-addon-article {
				height: 577px;
			}
		}
		.intro-items{
			.sppb-addon-article {
				height: 284px;
			}
			>.sppb-addon-article {
				height: 283px;
			}
		}
	}
	.leading-item{
		.video-format{
			.sppb-addon-article-info-wrapper{
				max-width: 600px;
				.sppb-article-introtext{
					color: #9b9b9b;
				}
			}
		}
	}
	.intro-items{
		.sppb-addon-article.video-format{
			.sppb-addon-article-info-left{
				margin-right: 0 !important;
			}
			.article-img-wrap{
				.play-icon{
					width: 36px;
					height: 36px;
					&:before{
						border-top: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-left: 10px solid #fff;
					}
				}
			}
		}
	}
	.sppb-addon-article{
		&.video-format{
			flex-direction: column;
			.article-img-wrap{
				position: relative;
				display: inline-block;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left:0;
					right:0;
					background-color: #000;
					opacity: 0.3;
				}
				.play-icon{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 70px;
					height: 70px;
					border: 2px solid #fff;
					border-radius: 50%;
					transition: .3s;
					&:before{
						content: "";
						width: 0;
						height: 0;
						border-top: 12px solid transparent;
						border-bottom: 12px solid transparent;
						border-left: 18px solid #fff;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: .3s;
					}
					&:hover, &:focus{
						&{
							background-color: #fff;
							&:before{
								border-left-color: #333;
							}
						}
					}
				}
			}
		}
	}
	&.modern{
		.sppb-row{
			>div:last-child>div{
				margin-bottom: 0;
			}
		}
		.sppb-addon-article{
			position: relative;
			color: #fff;
			margin-bottom: 15px;
			min-height: 140px;
			background-repeat: no-repeat;
			background-size: cover;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right:0;
				background-color: #000;
				opacity: 0.5;
			}
			.sppb-addon-article-info-wrapper{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				color: #fff;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				a{
					color: #fff;
					transition: .3s;
					&:hover,&:focus{
						opacity: 0.75;
					}
				}
				.sppb-article-meta{
					color: #fff;
					span{
						color: #fff;
					}
				}
				h3{
					font-size: 18px;
					font-weight: 500;
					margin-bottom: 0;
				}
			}
		}
	}
	&.horizontal{
		.sppb-addon-content>div>div:last-child{
			.sppb-addon-article{
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		.sppb-addon-article{
			display: flex;
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 15px;
			margin-bottom: 15px;
			.sppb-addon-article-info-left{
				flex: 0 0 auto;
			}
			.entry-video{
				flex: 0 0 160px;
				min-width: 160px;
			}
			a.article-img-wrap{
				margin-bottom: 0;
			}
			.sppb-addon-article-info-wrapper{
				margin-left: 20px;
				display: flex;
				flex-direction: column;
				width: 100%;
				h3{
					font-size: 18px;
					margin-top: 10px;
				}
				.sppb-article-meta{
					margin-top: 10px;
					.author-name{
						text-transform: uppercase;
						letter-spacing: 1.75px;
					}
					>span{
						color: #9B9B9B;
						font-size: 12px;	
						&.sppb-meta-category:after{
							content: "|";
							padding-left: 22px;
							margin-right: 0;
						}
						&.sppb-meta-date{
							float: right;
						}
					}
					a{
						color: $link_color;
					}
				}
			}
		}
	}
	&.article-border{
		border: 1px solid #ebebeb;
		.leading-item{
			border-right: 1px solid #ebebeb;
		}
		.intro-items{
			.sppb-addon-article{
				margin-bottom: 15px;
				display: flex;
				&:not(:last-child){
					border-bottom: 1px solid #ebebeb;
				}
				.sppb-addon-article-info-left{
					&:empty{
						display: none;
					}
					flex: 0 0 90px;
					margin-right: 20px;
				}
				.sppb-addon-article-title{
					font-size: 14px;
				}
			}
		}
		.sppb-addon-title{
			padding: 15px;
			margin-bottom: 0;
			text-transform: uppercase;
			letter-spacing: 1.75px;
			border-bottom: 1px solid #ebebeb;
		}
		>.sppb-addon-content{
			padding: 15px;
		}
	}
	&.classic{
		>.sppb-addon-content{
			margin: 15px 0;
			padding: 0;
			>div>div:last-child{
				.sppb-addon-article{
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
		.sppb-addon-article{
			margin-bottom: 14px;
			margin-left: 15px;
			margin-right: 15px;
			padding-bottom: 14px;
			border-bottom: 1px solid #ebebeb;
			h3{
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
	&.creative{
		.sppb-addon-content{
			padding-bottom: 0;
		}
		.leading-item{
			border-bottom: 1px solid #ebebeb;
			.sppb-addon-article{
				margin-bottom: 0;
				.sppb-addon-article-info-left{
					margin-bottom: 20px;
				}
				.sppb-addon-article-title{
					margin-bottom: 15px;
					font-size: 24px;
					line-height: 1.3;
				}
			}
		}				
		.subleading-item{
			padding-top: 15px;
			border-right: 1px solid #ebebeb;
		}
		.intro-items{
			padding-top: 15px;
		}
		>.sppb-addon-content>div.sppb-row{
			border-bottom: 1px solid #ebebeb;
		}
	}
	&.standard{
		.sppb-addon-content{
			padding: 0 15px;
			>div.sppb-row{
				border-bottom: 1px solid #ebebeb;
			}
		}
		.leading-item{
			border-right: 1px solid #ebebeb;
			padding-top: 15px;
		}
		.intro-items{
			padding-top: 15px;
			>.sppb-addon-article{
				.sppb-addon-article-title{
					font-size: 14px;
				}
			}
		}
	}
	&.essential{
		.sppb-addon-article{
			margin-bottom: 0;
		}
		.sppb-addon-content{
			padding: 0 15px;
			.leading-item,
			.intro-items{
				padding-top: 15px;
			}
		}
	}
}

//Image Gallery
.sppb-addon-thumb-gallery{
	border: 1px solid #ebebeb;
	.sppb-addon-title{
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.75px;
		padding: 15px;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
	}
	&.border-thumb-gallery{
		border: 1px solid rgba(235, 235, 235, 0.1);
		.sppb-tg-slider,
		#carousel{
			background: transparent;
		}
		.sppb-addon-title{
			border-bottom-color: rgba(235, 235, 235, 0.1);
		}
	}
}
.flexslider.sppb-tg-slider{
	border: 0;
	margin: 0;
	padding: 15px 15px 0px 15px;
	border-radius: 0;
}
#carousel.flexslider{
	border: 0;
	margin: 0;
	border-radius: 0;
	padding: 15px;
	ul.slides{
			li{
				position: relative;
				text-align: center;
				margin-right: 15px;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					transition: .3s;
					height: 100%;
					width: 100%;
					visibility: hidden;
					opacity: 0;
					background-color: #000;
				}
				img{
						// height: 105px;
				}
				&.flex-active-slide{
						&:before{
							visibility: visible;
							opacity: .5;
						}
				}
			}
	}
	.flex-direction-nav {
			a {
					color: #fff;
					text-shadow: none;
					text-indent: -9999px;
					text-align: center;
					background: #000;
					top: 50%;
					&:before {
							font-size: 24px;
							color: #fff;
							text-shadow: none;
							text-indent: 0;
							position: absolute;
							left: 15px;
							top: 4px;
					}
			}
			.flex-next::before {
					left: auto;
					right: 14px;
			}
	}
}

//sp-tweet
.sp-tweet-wrapper{
	border: 1px solid #ebebeb;
	.sppb-addon-title{
		padding: 15px;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
    letter-spacing: 1.75px;
	}
}
.sp-tweet{
	&.nano{
		height: 608px;
		.nano-content{
			padding: 15px;
		}
	}
	.sp-tweet-item {
		padding: 0;
		display: flex;
		border: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ebebeb;
		background: #fff;
		width: 100%;
		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0px solid #000;
		}
		.avater-wrap{
			flex: 0 0 auto;
			margin-right: 20px;
			img{
					padding: 0;
					margin: 0;
					border: 0;
			}
		}
		.sp-tweet-item-info{
			display: flex;
			flex-direction: column;
			.source{
				margin-bottom: 6px;
			}
			.date{
				margin-bottom: 5px;
			}
		}
		.mod-tweet-content-wrap {
				float: left;
				width: 85%;
				padding-left: 20px;
				a{
						color: #15ADEF;
				}
		}
		.twitter-username{
				margin-top: 3px;
				font-size: 16px;
		}
		.date{
				line-height: 1;
				margin-bottom: 18px;
				a{
						font-size: 14px;
						color: #939393;
				}
		}
		.source{
				font-size: 14px;
				color: #939393;
		}
	}
}

//gazette-bordered-addon
.sppb-addon-articles-multiple-slider,
.gazette-bordered-addon{
	border: 1px solid #EBEBEB;
	.sppb-addon-title{
		padding: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.75px;
	}
	>.sppb-addon-content{
		border-top: 1px solid #EBEBEB;
		padding: 15px;
	}
}

//gazette-articles-tab
.gazette-articles-tab{
	border: 1px solid #EBEBEB;
	.sppb-addon-title{
		padding: 15px 15px 15px 25px;
		margin-bottom: 0;
		letter-spacing: 1.75px;
	}
	.sppb-addon-content.sppb-tab{
		border-top: 1px solid #EBEBEB;
		ul.sppb-nav{
			border-bottom: 1px solid #EBEBEB;
			>li{
				>a{
					margin-left: 20px;
					font-weight: 400;
					letter-spacing: 1.5px;
					padding: 12px 13px;
					border: none;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						bottom: 0;
						left:0;
						right:0;
						height: 0;
						background-color: $link_color;
						transition: .3s;
					}
				}
				&.active>a{
					font-weight: 500;
					&:before{
						height: 3px;
					}
				}
			}
		}
		.sppb-tab-content{
			padding: 15px;
			margin: 0;
		}
	}
}

//Nano Scroller
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
	overflow : hidden;
	min-height: 100px;
	> .nano-content {
		position      : absolute;
		overflow      : scroll;
		overflow-x    : hidden;
		top           : 0;
		right         : 0 !important;
		bottom        : 0;
		left          : 0;
	}
	>.nano-content:focus {
		outline: thin dotted;
	}
	> .nano-content::-webkit-scrollbar {
		display: none;
	}
	.has-scrollbar > .nano-content::-webkit-scrollbar {
		display: block;
	}
	> .nano-pane {
		position   : absolute;
		width      : 8px;
		right      : 0;
		top        : 0;
		bottom     : 0;
		visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
		opacity    : .01;
		transition : .2s;
	}
	> .nano-pane > .nano-slider {
		background: rgb(114, 114, 114);
		position  : relative;
		border-radius: 30px;
	}
	&:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
		visibility : visible\9; /* Target only IE7 and IE8 with this hack */
		opacity    : 0.99;
	}
}

//sppb-addon-optin-forms
.sppb-addon-optin-forms{
	.button-wrap button{
		cursor: pointer;
		&:hover, &:focus{
			opacity: 0.7;
		}
	}
}

//sppb-addon-stock-scroller
.sppb-addon-stock-scroller{
	padding-top: 15px;
	padding-bottom: 15px;
}
.stock-scroller-wrap {
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
}
.stock-scroller-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.stock-scroller-wrap ul li {
	border-right: 1px solid #dae1e2;
	margin-right: 30px;
	padding-right: 30px;
	font-size: 12px;
	font-weight: 500;
	.sppb-addon-stock-info-wrap {
    display: flex;
		justify-content: space-between;
		.up{
			color: #07796B;
		}
		.down{
			color:  #E33321;
		}
		.sppb-addon-stock-price-wrap{
			margin-left: 40px;
		}
	}
}
.js-marquee-wrapper {
  margin-left: 0 !important;
}
.stock-scroller-box{
	min-height:15px;
  width:100%;
  overflow:hidden;
	position:relative;
	.stock-scroller-wrap{
		cursor:pointer;
		overflow:hidden;
		position:absolute;
		left:0;
		margin-right:10px;
		top:0;
		.price-icon{
			margin-left: 5px;
		}
		.stock-scroller-panel{
			width: 100%;
			display: flex;
			li{
				
			}
		}
	}
}

//Top Search
.top-search-input-wrap{
	display: none;
	background-color: #F3F3F3;;
	border-bottom: 3px solid $link_color;
	padding: 60px 20px 50px 20px;
	width: 100%;
	position: relative;
	left: 15px;
	.searchwrapper{
		margin-bottom: 10px;
	}
	.input-title{
		font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	.sp_search_input{
		position: relative;
		i.fa{
			position: absolute;
			top: 50%;
			left: 15px;
			pointer-events: none;
			color: #9B9B9B;
			transform: translateY(-50%);
		}
		input{
			border-radius: 0 !important;
			width: 100%;
			border: 1px solid #EBEBEB;
			padding: 14px 20px 14px 40px;
			color: #9B9B9B;
			font-size: 14px;
		}
	}
	.tags-title{
		font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0;
    line-height: 18px;
	}
	.popular-tags-wrap{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			>li{
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 10px;
				a{
					display: inline-block;
					background: #FFFFFF;
					border: 1px solid #EBEBEB;
					font-size: 12px;
					letter-spacing: 1.75px;
					text-transform: uppercase;
					padding: 5px 10px;
					&:hover, &:focus{
						background-color: $link_color;
						border-color: $link_color;
						color: #fff;
					}
				}
			}
		}
	}
}
.top-search-wrapper{
	.icon-top-wrapper{
		.search-icon{
			color: rgb(210, 210, 211);
			cursor: pointer;
			transition: .3s;
			&:hover, &:focus{
				color: $text_color;
			}
		}
	}
	.close-icon{
		display: none;
		width: 13px;
	}
	.icon-close-wrap{
		cursor: pointer;
    animation: zoomIn 0.3s;
    position: absolute;
    right: 15px;
		.icon-close{
			width: 20px;
			height: 20px;
			&:before,
			&:after {
				content: '';
				position: absolute;
				height: 2.4px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background: $text_color;
			}
			&:before{
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after{
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}

//sp-vertical-tabs
.sp-vertical-tabs{
	margin: -21px;
	.sp-tab-btns{
		padding: 0;
	}
}

.menu-article-tabbed-wrap{
    .sp-dropdown-inner{
        padding: 0 !important;
        .sp-module.menu-article-tabbed{
            padding: 0;
        }
    }
}

.sp-vertical-tabs {
	.sp-vertical-tabs-nav{
			width: 15.4%;
			float: left;
	}
	.sp-vertical-tabs-content{
			float: left;
			width: 84.6%;
			padding: 26px;
			background: #f3f3f3;
	}
	.sp-tab-btns-wrap{
		border-right: 1px solid #EBEBEB;
    padding-right: 0;
	}
	.sp-tab-btns {
		font-size: 12px;
    letter-spacing: 1.5px;
		>li {
				display: block;
				border: none;

				&:last-child>a{
						border-bottom: none;
				}
				>a {
						display: block;
						line-height: 18px;
						padding: 13px 10px 13px 20px;
						border-bottom: 1px solid #EBEBEB;
						position: relative;
						color: $text_color;
						&:before{
								display: none;
						}
						&:after{
								content: "";
								opacity: 0;
								-webkit-transition: .3s;
								transition: .3s;
								width: 3px;
								position: absolute;
								left: 0;
								top: 0;
								bottom: 0;
						}
				}

				&.active>a,
				&:hover>a{
						background: #f3f3f3;
						&:after{
								opacity: 1;
						}
				}
		}
	}
	.sp-tab-content{
		padding: 15px 15px 15px 0;
		.sp-tab-article:not(:last-child){
			border-right: 1px solid #EBEBEB;
		}
	}
	.sp-tab-pane {
		display: none;

		&.active {
				display: block;
				animation: fadeIn .5s;
		}
		.sp-article-info{
				padding: 0;
				margin-top: 12px;
				background: #fff;
				.sp-article-date{
					color: #9B9B9B;
					font-size: 12px;
					margin-top: 12px;
				}
				.entry-title{
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						max-height: 54px;
						-webkit-line-clamp: 3;
						line-clamp: 3;
						-webkit-box-orient: vertical;
						-moz-box-orient: vertical;
						-ms-box-orient: vertical;
						box-orient: vertical;
				}
		}
	}
}

//sppb-addon-articles-vertical-slider
.sppb-addon-articles-vertical-slider{
	.sppb-addon-article{
		display: flex;
		.sppb-article-img-wrapper{
			flex: 0 0 auto;
			margin-right: 20px;
		}
		.article-title{
			font-size: 18px;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			max-height: 45px;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;
			a{
				transition: .3s;
			}
		}
		.sppb-article-meta{
			span{
				margin-right: 20px;
			}
		}
	}
	.bx-wrapper .bx-controls-direction{
		opacity: 0;
		transition: .3s;
		a{
			text-indent: 0px;
			line-height: 20px;
			width: 22px;
			height: 22px;
			background: #fff;
			text-align: center;
			font-size: 16px;
			border: 1px solid #EBEBEB;
			top: auto;
			bottom: 40px;
			opacity: 0.7;
			transition: .3s;
			&:hover, &:focus{
				opacity: 1;
			}
			&.bx-prev{
				right: 10px;
				left: auto;
				bottom: 10px;
			}
		}
	}
	&:hover{
		.bx-wrapper .bx-controls-direction{
			opacity: 1;
		}
	}
	&.bg_image{
		.sppb-addon-article{
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			min-height: 141px;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left:0;
				right:0;
				background-color: #000;
				opacity: 0.5;
			}
			.sppb-article-details{
				color: #fff;
				z-index: 100;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.article-title{
					margin-bottom: 0;
				}
				a{
					color: #fff;
					&:hover, &:focus{
						opacity: 0.7;
					}
				}
				.sppb-article-meta{
					span{
						color: #fff;
					}
				}
			}
		}
	}
}

#sp-bottom-top {
	border-bottom: solid 1px #ebebeb;
	border-top: 1px solid #ebebeb;
	padding-top: 20px;
	.sp-scroll-up {
		font-size: 12px;
		font-weight: 500;
		color: $text_color;
		letter-spacing: 1.75px;
		text-transform: uppercase;
		line-height: 30px;
		float: right;
		z-index: 1000;
		&:hover,
		&:active,
		&:focus {
			color: $link_color;
		}
	}
}
#sp-bottom {
	border-bottom: solid 1px #EBEBEB;
	ul.menu {
		li > a {
			color: #4A4A4A;
			&:hover {
				color: $link_color;
			}
		}
		li.active>a{
			color: $link_color;
		}
	}
	h3.sp-module-title {
		color: #1D1F24;
		font-size: 14px;
		letter-spacing: 1.75px;
		text-transform: uppercase;
	}

	#sp-bottom1 {
		.custom {
			p {
				margin-bottom: 0;
			}
		}
	}
	#sp-bottom2,
	#sp-bottom3,
	#sp-bottom4 {
		border-left: solid 1px #EBEBEB;
	}
	.acymailing_module {
		margin-top: 110px !important;
		.acy_requiredField {
			input {
				border-radius: 0;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				padding-left: 0;
				text-transform: capitalize;
			}
		}
		.acysubbuttons {
			text-align: left;
			input.btn-primary {
				font-size: 12px;
				background-color: transparent;
				color: $link_color;
				border: 0;
				padding: 0;
				text-transform: uppercase;
				letter-spacing: 1.75px;
				font-weight: 500;
			}
		}
	}
}
#sp-footer {
	color: #a2a2a2;
	a {
		color: #a2a2a2;
	}
	#sp-footer2 {
		font-size: 18px;
		ul.social-icons {
			li {
				a {
					color: #9B9B9B;
					&:hover {
						color: $link_color;
					}
				}
			}
		}
	}
}

//.sppb-addon-optin-forms
.sppb-addon-optin-forms {
	padding: 25px 20px;
	.sppb-optin-form-details-wrap {
		padding: 0 !important;
		.sppb-addon-title {
			padding: 0;
			width: 90%;
			margin-bottom: 10px;
			padding-bottom: 15px;
			border-bottom: solid 1px #EBEBEB;
		}
		.sppb-optin-form-details {
			width: 70%;
			margin-bottom: 40px;
		}
	}
	.sppb-optin-form-content {
		.email-wrap {
			input{
				border-radius: 0;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				font-size: 14px;
				color: #4A4A4A;
				padding-left: 0;
			}
		}
		.button-wrap {
			.sppb-btn {
				color: $link_color;
			}
		}
	}
}

//.gazette-socail-icons
.gazette-socail-icons {
	border-top: 0;
	ul.sppb-icons-group-list {
		padding: 30px 30px 0 30px;
		li {
			float: none;
			margin-bottom: 25px;
			letter-spacing: 1.75px;
			a {
				.sppb-icons-label-text {
					text-transform: uppercase;
				}
			}
		}
	}
}

//.gazette-poll
.gazette-poll {
	border: solid 1px #EBEBEB;
	.mod-sppoll {
		padding: 0 15px;
		.form-sppoll {
			.sppoll-info-wrap {
				padding: 30px 15px 0 15px;
				h3.sppoll-title {
					font-size: 18px;
					color: $text_color;
					font-weight: 400;
					margin-bottom: 30px;
				}
				.radio {
					margin-bottom: 20px;
					label {
						display: flex;
						width: 80%;
						color: $text_color;
						input {
							margin-right: 15px;
							margin-top: 5px;
						}
					}
				}
			}
			.sppoll-submit-wrap {
				border-top: solid 1px #EBEBEB;
				margin-top: 40px;
				.btn {
					border: 0;
					background: none;
					outline: none;
					&:hover, &:focus{
						background: none;
						outline: none;
					}
				}
				input {
					width: 50%;
					color: #9B9B9B;
					padding: 0;
					height: 48px;
					line-height: 48px;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 1.75px;
					&:hover {
						color: $link_color;
					}
				}
				.btn-poll-result {
					float: right;
					background-color: transparent;
					border: 0;
					color: #9B9B9B;
					border-left: solid 1px #EBEBEB;
					border-radius: 0; 
					letter-spacing: 1.75px;
				}
			}
		}
	}
	.sp-poll-result {
		padding: 30px 15px 0 15px;
		.sp-poll-resul-item {
			margin-bottom: 30px
		}
		.poll-info > span{
			display: block;
			margin-bottom: 10px;
			&.poll-votes{
				float: none;
				margin-bottom: 10px;
			}
		}
	}
}

//.gazette-tags
.gazette-tags {
	border: solid 1px #ebebeb;
	margin-bottom: 30px;
	.sp-module-title {
		padding: 20px;
		font-size: 18px;
		font-weight: 700;
		color: $text_color;
		text-transform: uppercase;
		letter-spacing: 1.75px;
		border-bottom: solid 1px #ebebeb;
	}
	.tagspopulargazette-tags {
		padding: 20px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				margin: 0 10px 10px 0;
				border: solid 1px #ebebeb;
				height: 28px;
				line-height: 28px;
				text-align: center;
				padding: 0 12px;
				font-size: 12px;
				color: $text_color;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 1.75px;
				&:hover{
					background-color: $link_color;
					a {
						color: #fff;
					}
				}
			}
		}
	}
}

//.view-category
.view-category {
	.blog {
		.article-infomation{
			.tags{
				display: none;
			}
		}
		.articles-leading {
			.article {
				.article-info-wrap {
					.article-header {
						h2 {
							font-size: 24px !important;
							max-height: inherit !important; 
						}
					}
					.article-info {
						span.createdby {
							display: block !important;
							margin-right: 25px;
							a {
								color: #9b9b9b;
							}
						}
					}
				}
			}
		}
		.article-list {
			.article {
				border-radius: 0;
				padding: 15px !important;
				.article-intro-image {
					border-radius: 0;
					margin: 0;
					img {
						border-radius: 0;
					}
				}
				.article-info-wrap {
					.article-header {
						h2 {
							font-size: 16px;
							font-weight: 400;
							color: $text_color;
							margin-top: 15px;
							margin-bottom: 10px;
							display: inline-block;
							text-overflow: ellipsis;
							word-wrap: break-word;
							overflow: hidden;
							max-height: 35px;
						}
					}
					.article-info {
						margin-bottom: 0;
						span.published {
							text-transform: capitalize !important;
						}
						span.category-name,
						span.hits,
						span.createdby {
							display: none;
						}
					}
				}
			}
			.article-info > span + span::before {
				display: none;
			}
		}
		.bannergroup {
			margin-bottom: 30px;
		}
		.articles-more {
			ul.list-group {
				margin-bottom: 30px;
				li.list-group-item {
					display: flex;
					padding: 15px;
					.item-image {
						flex: 0 0 auto;
						margin-right: 20px;
						max-width: 120px;
					}
					.item-info {
						margin-top: 15px;
						> a {
							font-size: 18px;
							color: $text_color;
							&:hover, &:focus{
								color: $link_color;
							}

						}
						.article-info {
							padding-top: 20px;
							span.category-name,
							span.hits {
								display: none;
							}
							span.createdby {
								a {
									color: #9B9B9B;
									&:hover, &:focus{
										color: $link_color;
									}
								}
								&:before {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.list-group-item:first-child,
		.list-group-item:last-child {
			border-radius: 0;
		}
	}
}

//.view-article
.view-article {
	.article-details {
		padding: 15px;
		border: solid 1px #ebebeb;
		.article-header h1 {
			font-size: 42px;
			color: $text_color;
			font-weight: 500;
			margin-bottom: 20px;
		}
		.header-bottom {
			padding-bottom: 10px;
			overflow: hidden;
			.article-info {
				float: left;
			}
		}
		.article-social-share {
			float: right;
			.social-share-icon {
				ul {
					padding: 0;
					list-style: none;
					margin: 0;
					li {
						&:not(:last-child) {
							margin-right: 10px;
						}
						display: inline-block;
						a {
							font-size: 1rem;
							text-align: center;
							display: inline-block;
							&:hover,
							&:focus {
								color: $link_color;
							}
						}
					}
				}
			}
		}
		.sppb-article-page-wrapper {
			padding: 0 25px;
			.sppb-addon-testimonial {
				padding: 0 45px;
				.sppb-addon-testimonial-footer {
					.sppb-avatar-circle {
						float: left;
					}.sppb-addon-testimonial-client {
						line-height: initial;
						strong {
							color: #1D1F24;
							font-size: 12px;
							font-weight: 400;
							letter-spacing: 1.75px;
						}
						span {
							color: #C2C2C4;
							font-size: 14px;
						}
					}
				}
			}
		}
		ul.tags {
			li {
				a {
					background-color: transparent;
					border: solid 1px #ebebeb;
					border-radius: 0;
					color: $text_color;
					font-size: 12px;
					font-weight: 500;
					letter-spacing: 1.75px;
					transition: .4s;
					&:hover {
						color: $link_color;
						border-color: $link_color;
					}
				}
			}
		}
	}
	ul.pagenav {
		border: solid 1px #ebebeb;
		padding: 0;
		.previous {
			border-right: solid 1px #ebebeb;
		}
		li {
			width: 50%;
			text-align: center;
			a {
				border: 0;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 2.04px;
				color: $text_color;
				text-transform: uppercase;
				&:hover {
					color: $link_color;
				}
			}
		}
	}
}

//.view-authors
.view-authors {
	#sp-right {
		display: none;
	}
	#sp-component {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.spauthorarchive-departments,
.spauthorarchive-articles {
	.spauthorarchive-department-wrap,
	.spauthorarchive-author-wrap {
		display: flex;
		padding: 15px;
		border: solid 1px #ebebeb;
		margin-bottom: 30px;
		.spauthorarchive-department-img-wrap,
		.spauthorarchive-author-img-wrap {
			flex: 0 0 auto;
			margin-right: 20px;
		}
		.spauthorarchive-department-content,
		.spauthorarchive-author-content {
			text-align: left;
			margin: 0;
			color: #4a4a4a;
			line-height: 21px;
			margin-top: 15px;
			ul.spauthorarchive-author-socials {
				margin: 0 0 5px 0;
				li {
					a {
						color: #9B9B9B;
						margin-right: 10px;
						&:hover {
							color: $link_color;
						}
					}
				}
			}
			h3 {
				font-size: 24px;
				color: $text_color;
				font-weight: 400;
				a{
					color: $text_color;
					&:hover, &:focus{
						color: $link_color;
					}
				}
			}
		}
	}
}

//.spauthorarchive-content
.spauthorarchive-content {
	margin-top: 10px;
	.spauthorarchive-addon-article {
		border: solid 1px #ebebeb;
		a {
			img {
				padding: 15px 15px 0 15px;
			}
		}
		h3,
		.spauthorarchive-article-meta,
		.spauthorarchive-article-introtext {
			padding: 0 15px;
		}
		h3 {
			line-height: 18px;
			margin-top: 15px;
			a {
				font-size: 18px;
				font-weight: 400;
				color: $text_color;
				display: inline-block;
				text-overflow: ellipsis;
				word-wrap: break-word;
				overflow: hidden;
				max-height: 35px;
			}
		}
		.spauthorarchive-article-meta {
			margin-bottom: 10px;
			span {
				margin-right: 15px;
			}
			.spauthorarchive-meta-category {
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 1.75px;
				text-transform: uppercase;
				a {
					color: $link_color;
				}
			}
			.spauthorarchive-meta-date {
				color: #9b9b9b;
				font-size: 12px;
				font-weight: 400;
			}
		}
		.spauthorarchive-article-introtext {
			margin-top: 15px;
			color: #9B9B9B;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
		}
		.read-more {
			text-align: center;
			border-top: solid 1px #EBEBEB;
			height: 45px;
			line-height: 45px;
			margin-top: 20px;
			transition: .4s;
			a.spauthorarchive-readmore {
				font-size: 14px;
				font-weight:500;
				color: $link_color;
				text-transform: uppercase;
				letter-spacing: 2.04px;
			}
			&:hover {
				background-color: $link_color;
				a.spauthorarchive-readmore {
					color:#fff;
				}
			}
		}
	}
}

.pagination-wrapper {
	display: inherit !important;
	background: #ebebeb;
	padding: 20px 25px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	.pagination {
		margin-bottom: 0;
		justify-content: center;
		.page-item{
			&.previous-wrapper{
				position: absolute;
				left: 30px;
			}
			&.next-wrapper{
				position: absolute;
				right: 30px;
				>a.page-link{
					margin-right: 0;
				}
			}
			>a{
				border: none;
				padding: 0;
				margin-right: 25px;
				background: none;
				&:hover, &:focus{
					box-shadow: none;
				}
			}
			&.active>a{
				color: $link_color;
				&:hover, &:focus{
					background: none;
				}
			}
		}
	}
}


//Page title
.sp-page-title {
	padding-top: 45px;
	h2.sp-page-title-heading {
		font-size: 32px;
		font-weight: 700;
		color: #1b1b1b;
		letter-spacing: 3.11px;
		text-transform: uppercase;
		border-bottom: solid 3px $link_color;
		line-height: 50px;
	}
}
.modal-backdrop{
	background-color: transparent;
}
.modal{
	background: rgba(0, 0, 0, 0.8);
}

//member-registration
#member-registration{
	.subform-repeatable{
		.btn-group>a{
			margin-bottom: 10px;
		}
	}
	.icon-plus{
		&:before{
			content: "\f067";
			color: #fff;
			font-family: fontawesome;
		}
	}
	.icon-minus{
		&:before{
			content: "\f00d";
			color: #fff;
			font-family: fontawesome;
		}
	}
	.icon-move{
		&:before{
			content: "\f255";
			font-family: fontawesome;
			color: #fff;
		}
	}
}
.chzn-container-single.chzn-container-single-nosearch .chzn-search {
	position: absolute;
	left: 0;
	display: none;
}