.off-canvas-toggle {
  float: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 0;
}
.off-canvas-toggle:hover,
.off-canvas-toggle:focus {
  background: #856e37 !important;
}
.off-canvas-toggle {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.off-canvas-toggle:focus {
  outline: none;
}
.t3-off-canvas {
  background: #ffffff;
  color: #333333;
}
.t3-off-canvas ul.nav.nav-stacked > li > a {
  font-weight: 700;
}
.t3-off-canvas .t3-off-canvas-header {
  background: #c2c2c2;
  color: #333333;
  padding: 0 0 0 12px;
  height: 35px;
}
.t3-off-canvas .t3-off-canvas-header h2 {
  margin: 0;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.t3-off-canvas .close {
  margin: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  background: #8f8f8f;
  position: absolute;
  top: 0;
  right: 0;
}
.t3-off-canvas .t3-off-canvas-body {
  padding: 24px 12px;
}
.t3-off-canvas .t3-off-canvas-body a {
  color: #333333;
  text-decoration: none;
}
.t3-off-canvas .t3-off-canvas-body a:hover,
.t3-off-canvas .t3-off-canvas-body a:focus {
  color: #856e37;
  text-decoration: none;
}
.t3-off-canvas .t3-off-canvas-body a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .active a {
  background: transparent;
  color: #b79951;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a {
  padding: 5px;
}
.t3-off-canvas .t3-off-canvas-body .t3-module {
  margin-bottom: 20px;
}
.t3-off-canvas .t3-off-canvas-body .module-title {
  margin-bottom: 10px;
}