.sj-videobox .player .title header h1 {
  display: none !important;
}
a:hover {
  text-decoration: none;
}

a.btn.cancel,
.btn.btn-primary {
  font-size: 14px;
  font-weight: 500;
  background: #b79951 !important;
  box-shadow: none;
  margin-top: 10px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
  padding: 8px 20px;
  text-transform: uppercase;
  height: auto !important;
  line-height: normal !important;
  text-shadow: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.btn.cancel:hover,
.btn.btn-primary:hover {
  background: #000 !important;
  color: #fff;
  border: 0;
}
iframe {
  border: 0;
}

.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar.t3-sidebar-right {
  padding-top: 7px;
}
.gkTabsItem {
  padding-bottom: 0 !important;
}
.t3-module {
  margin-bottom: 20px;
}
.t3-sl {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.video-embed iframe,
.sj-video-current iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 !important;
}
.video-embed,
.sj-video-current {
  position: relative;
  padding-top: 57.25%;
  
  height: 0;
  background-color: #000000;
}

body,
p {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  color: #333333;
  line-height: 24px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
.ItemInfoBlock,
.ItemInfo,
.itemToolbar,
.gkHighlighterItem a,
a.itemRelTitle,
.itemNavigation a,
.commentAuthorName a,
#comment-form label,
div.k2LatestCommentsBlock ul li span.lcComment {
  font-family: Roboto Slab, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  color: #333333 !important;
  font-weight: 700;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}

.ts-topbar {
  background: #000;
}
.ts-topbar .t3-module {
  margin: 0;
}
.ts-topbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ts-topbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0 2px 0 0;
  background: none;
}
.ts-topbar ul li.active > a {
  color: #b79951;
}
.ts-topbar ul li a {
  font-family: Roboto Slab, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  padding: 8px 5px;
  font-weight: 700;
  background: none !important;
  color: #fff;
}
.ts-topbar ul li a:hover {
  background: none;
  color: #b79951;
}
.topSocial {
  float: right;
}
.topSocial div.sp_social ul li a {
  width: auto !important;
  height: auto !important;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 13px !important;
}

.t3-header {
  padding-top: 20px;
  padding-bottom: 25px;
  background: #b79951;
}

.logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 35px 0 0;
}

.logo-image span,
.logo-image small {
  display: none;
}

.logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.headNews {
  background: #fff;
  padding: 10px;
}
.headNews.moduletable {
  position: relative;
}
.headNews h3 {
  background: #2b2726;
  color: #fff !important;
  font-size: 16px;
  position: absolute;
  left: -40px;
  padding: 10px 20px;
  top: 50%;
  margin: 0;
  margin-top: -19px;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -ms-backface-visibility: hidden;
}
.headNews .nspArtPage {
  padding-left: 40px;
}
.headNews.nspText .nspArts .nspArt h4.nspHeader {
  line-height: 16px;
}
.headNews.nspText .nspArts .nspArt h4.nspHeader a {
  font-size: 14px;
}
.headNews.nspText .nspArts .nspArt .nspInfo {
  margin: 0;
}
.headNews.nspText .nspArts .nspArt .nspInfo .nspCategory {
  top: 0;
  left: 0;
}
.headNews .title-arrow .nspTopInterface {
  top: -5px !important;
}
.headNews .title-arrow .nspTopInterface .nspNext,
.headNews .title-arrow .nspTopInterface .nspPrev {
  border-radius: 0;
}

.banneritem img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.banner-top {
  float: right;
  padding-top: 5px;
}

.ts-date {
  position: absolute;
  right: 85px;
  color: #fff !important;
  top: 17px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.head-search {
  height: 55px;
  position: absolute;
  top: 0;
  right: 15px;
  margin: 0;
  z-index: 1000;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  background: #977d3e;
  position: relative;
}
.head-search .search .fa-search {
  color: #ffffff;
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  position: absolute;
  left: 20px;
  top: 21px;
}
.head-search .form-control {
  border: 0;
  background: transparent;
  color: #fff;
  height: 55px;
  line-height: 55px;
  position: relative;
  margin: 0;
  padding: 0 15px 0 40px;
  width: 40px;
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
}
.head-search .form-control:hover,
.head-search .form-control:active,
.head-search .form-control:focus {
  color: #ffffff;
  box-shadow: none !important;
  border: 0 !important;
}
.head-search .form-control:active,
.head-search .form-control:focus {
  width: 215px;
}

.ts-breaking {
  background: #2b2726;
  margin: 25px 0;
}
.ts-breaking .t3-module {
  margin: 0;
}
.ts-breaking .gkHighlighterInterface {
  background: #b79951 !important;
  padding: 12px 10px;
  position: relative;
}
.ts-breaking .gkHighlighterInterface:after {
  content: '';
  display: block;
  height: 42px;
  position: absolute;
  width: 20px;
  top: 0;
  right: -20px;
  border-left: 15px solid #b79951;
  border-top: 22px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 19px solid transparent;
}
.ts-breaking .gkHighlighterInterface span.text {
  font-size: 12px;
}
.ts-breaking .gkHighlighterInterface > div {
  display: none;
}
.ts-breaking .gkHighlighterWrapper {
  padding-top: 9px;
}
.ts-breaking .gkHighlighterWrapper .gkHighlighterItem a {
  font-weight: 700;
  color: #fff !important;
}
.ts-breaking .gkHighlighterWrapper .gkHighlighterItem a:hover {
  color: #b79951 !important;
}
#btl {
  background: #b79951;
  padding: 9px 10px;
}
#btl .btl-panel > span {
  background: none !important;
  position: relative;
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 8px !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  margin: 0 !important;
  line-height: 20px !important;
  height: 20px !important;
  font-size: 12px;
  font-weight: 700;
}
#btl .btl-panel > span#btl-panel-login {
  border-right: 1px solid #fff !important;
  padding-right: 12px !important;
}
.btl-content-block {
  padding: 30px;
  border-radius: 0 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btl-content-block h3 {
  background: transparent !important;
  padding: 0px !important;
  text-transform: capitalize;
  font-weight: 700 !important;
}
.btl-content-block #btl-wrap-module {
  padding: 0;
}
.btl-content-block #register-link,
.btl-content-block .btl-field,
.btl-content-block .btl-error-detail,
.btl-content-block .btl-error,
.btl-content-block .btl-note {
  margin: 0 !important;
}
.btl-content-block .btl-field .btl-input > input {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  height: 34px;
}
.btl-content-block input.btl-buttonsubmit,
.btl-content-block button.btl-buttonsubmit {
  font-size: 14px;
  background: #b79951 !important;
  box-shadow: none;
  margin-top: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
  padding: 8px 20px;
  text-transform: uppercase;
  height: auto !important;
  line-height: normal !important;
  text-shadow: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btl-content-block input.btl-buttonsubmit:hover,
.btl-content-block button.btl-buttonsubmit:hover {
  background: #000 !important;
  color: #fff;
}
#btl .btl-panel > #btl-panel-profile {
  padding-right: 25px !important;
  border: 0 !important;
  box-shadow: none;
}
#btl-content-profile {
  padding: 0;
}

.slideMain .sprocket-features.layout-slideshow .sprocket-features-img-list {
  max-height: 361px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-content {
  padding: 10px 0;
  top: auto;
  left: 0;
  width: 100%;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.79)));
  
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
  
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-info {
  color: #fff;
  padding: 0 30px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-info .sprocket-features-date {
  margin-right: 5px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-info .sprocket-features-date,
.slideMain .sprocket-features.layout-slideshow .sprocket-features-info .sprocket-features-hits {
  font-size: 12px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-category {
  text-transform: uppercase;
  background: #b79951;
  color: #fff;
  display: inline-block;
  margin: 5px 0 5px 30px;
  padding: 0 5px;
  height: 22px;
  line-height: 24px;
  font-size: 12px;
}
.slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title {
  display: block;
  line-height: 1em;
  margin: 8px 0;
  text-transform: capitalize;
  font-style: normal;
}
.slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.slideMain .sprocket-features.layout-slideshow h2.sprocket-features-title a:hover {
  text-decoration: none;
  color: #b79951;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-title,
.slideMain .sprocket-features.layout-slideshow .sprocket-features-desc {
  background: none;
  padding: 0;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows {
  position: absolute;
  right: 18px;
  top: 28px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows .arrow {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  color: #fff;
  width: 28px;
  height: 28px;
  line-height: 26px;
  font-size: 18px;
  box-shadow: none;
  border-radius: 2px !important;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows .arrow:hover {
  background: #b79951;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows .arrow.next {
  right: 0;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-arrows .arrow.prev {
  left: -62px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination {
  top: 20px;
  bottom: auto;
  left: 30px;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination li {
  background: transparent;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  padding: 6px;
  opacity: 1;
  border-radius: 50% !important;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination li.active,
.slideMain .sprocket-features.layout-slideshow .sprocket-features-pagination li:hover {
  background: #b79951;
}
.slideMain .sprocket-features.layout-slideshow .sprocket-features-desc a.readon {
  display: none;
}

.ts-showcase .t3-module {
  margin-bottom: 0;
}
.ts-showcase .col-lg-7.col-md-7.col-sm-12.col-xs-12 {
  padding-right: 0;
}
.ts-showcase .col-lg-5.col-md-5.col-sm-12.col-xs-12 {
  padding-left: 0;
}
.vina-camera-slider-k2 {
  padding-right: 1px;
}
.vina-camera-slider-k2 .camera_caption > div {
  background: none !important;
  padding: 10px 30px 30px !important;
}
.vina-camera-slider-k2 .camera_caption > div .camera_cat {
  text-transform: uppercase;
  background: #b79951;
  display: inline-block;
  padding: 0 5px;
  height: 22px;
  line-height: 24px;
  font-size: 12px;
}
.vina-camera-slider-k2 .camera_caption > div .camera_cat a {
  color: #fff;
}
.vina-camera-slider-k2 .camera_caption > div h3 {
  line-height: normal;
  margin-top: 10px;
}
.vina-camera-slider-k2 .camera_caption > div h3 a {
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.vina-camera-slider-k2 .camera_caption > div .info {
  font-size: 12px;
}
.vina-camera-slider-k2 .camera_caption > div .camera_hits {
  margin-left: 5px;
}
.camera_target_content {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.79)));
  
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
}

.nspBg.nspFullslide .nspArts {
  position: inherit;
}
.nspBg.nspFullslide .nspArts .nspTopInterface {
  position: inherit;
  top: auto;
  right: auto;
  overflow: visible;
}
.nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev,
.nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -20px;
  background: none;
  font-size: 52px;
  font-weight: 100;
  color: #999;
}
.nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev:hover,
.nspBg.nspFullslide .nspArts .nspTopInterface .nspNext:hover {
  background: none;
  color: #b79951;
}
.nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev:before,
.nspBg.nspFullslide .nspArts .nspTopInterface .nspNext:before {
  color: inherit;
}
.nspBg.nspFullslide .nspArts .nspTopInterface .nspPrev {
  left: -17px;
}
.nspBg.nspFullslide .nspArts .nspTopInterface .nspNext {
  right: -15px;
}

.rightNewsBlock .nspArts .nspArt .nspHeader {
  padding-bottom: 57px !important;
}
.rightNewsBlock .nspArts .nspArt .nspInfo {
  padding: 10px 20px 25px !important;
}
.rightNewsBlock .nspArts .nspArt .nspInfo a.nspCategory {
  margin-top: -70px !important;
}
.nsp4Block .nspArtPage .nspArt:nth-child(2) {
  padding-right: 0 !important;
}
.nsp4Block .nspArtPage .nspArt:nth-child(4) {
  padding-right: 0 !important;
}
.nsp4Block.nspBg .nspArts .nspArt .nspInfo a.nspCategory {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  top: 0;
  margin-top: -127px;
  left: 0;
}

.tab-news {
  position: relative;
}
.tab-news h3.module-title {
  line-height: 14px;
  position: absolute;
  margin: 0;
  padding: 0 !important;
  top: 14px;
  left: 0;
  border-bottom: 0 !important;
}
.tab-news h3.module-title > span {
  margin-left: 0 !important;
  padding: 12px 10px 11px !important;
}
.tab-news h3.module-title > span:before {
  border-bottom-width: 39px !important;
}
.tab-news h3.module-title > span:after {
  border-left: 15px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  left: -15px;
  top: 0;
  width: 0;
}
.tab-news .gkTabsWrap.vertical ol.gkTabsNav {
  float: right;
  border-bottom: 0;
}
.tab-news .gkTabsWrap.vertical ol.gkTabsNav li {
  position: relative;
  background: none;
  color: #999999;
  text-shadow: none;
  font-family: Roboto Slab, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 0 0 12px !important;
}
.tab-news .gkTabsWrap.vertical ol.gkTabsNav li.active,
.tab-news .gkTabsWrap.vertical ol.gkTabsNav li:hover {
  color: #333333 !important;
}
.tab-news .gkTabsWrap.vertical ol.gkTabsNav li.active:after {
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: 0;
  margin-left: -4px;
  left: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b79951 rgba(0, 0, 0, 0);
}
.tab-news .gkTabsWrap.vertical .gkTabsContainer {
  border-top: 3px solid #b79951;
}
.tab-news .nspArts {
  position: relative;
}
.tab-news .nspArts .nspArt h4.nspHeader {
  line-height: 20px;
}
.tab-news .nspArts .nspArt h4.nspHeader a {
  font-size: 16px;
}
.tab-news .nspArts .nspArt .nspInfo {
  font-size: 11px;
}
.tab-news .nspArts .nspArt .nspInfo a.nspCategory {
  margin-top: -85px !important;
}
.tab-news .nspArts .nspTopInterface {
  left: 20px;
  right: auto;
}
.tab-news .nspLinksWrap .nspLinks {
  padding: 0;
}
.tab-news .nspLinksWrap .nspLinks ul.nspList {
  padding: 0;
  margin: -10px 0 0 0;
}
.tab-news .nspLinksWrap .nspLinks ul.nspList li {
  padding: 0 0 11px !important;
  border-top: 0;
}
.tab-news .nspLinksWrap .nspLinks ul.nspList li h4 a {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.tab-news .nspLinksWrap .nspLinks ul.nspList li h4 a:hover {
  color: #b79951;
}
.tab-news .nspLinksWrap .nspLinks ul.nspList li p {
  margin: 0;
}
.tab-news.aqua {
  border-top: 1px solid #46a28d;
  margin-top: 5px;
}
.tab-news.aqua .gkTabsWrap.vertical .gkTabsContainer {
  border-top: 3px solid #46a28d;
}
.tab-news.aqua .gkTabsWrap.vertical ol.gkTabsNav li.active:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #46a28d rgba(0, 0, 0, 0);
}
.tab-news.pink {
  border-top: 1px solid #c10551;
}
.tab-news.pink .gkTabsWrap.vertical .gkTabsContainer {
  border-top: 3px solid #c10551;
}
.tab-news.pink .gkTabsWrap.vertical ol.gkTabsNav li.active:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #c10551 rgba(0, 0, 0, 0);
}
.tab-news.blue {
  border-top: 1px solid #0175c8;
}
.tab-news.blue .gkTabsWrap.vertical .gkTabsContainer {
  border-top: 3px solid #0175c8;
}
.tab-news.blue .gkTabsWrap.vertical ol.gkTabsNav li.active:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0175c8 rgba(0, 0, 0, 0);
}

.nspArt {
  position: relative;
}
.nspArts {
  padding: 0 !important;
}
.nspArts .nspArt h4.nspHeader a {
  text-transform: capitalize;
}
.nspArts .nspArt h4.nspHeader a:hover {
  color: #cdb987;
}
.nspArts .nspArt .nspInfo .nspHits {
  margin-left: 5px;
}
.nspArts .nspArt .nspInfo .nspHits i {
  margin-right: 2px;
}
.nspArts .nspArt .nspInfo .nspCategory {
  text-transform: uppercase;
}
.nspArts .nspArt .nspInfo i {
  margin-right: 5px;
}
.nspLinks ul li h4 {
  margin-bottom: 5px;
}

.nspBg .nspArts {
  padding: 0;
}
.nspBg .nspArts .nspArtPage {
  position: relative;
}
.nspBg .nspArts .nspArt a.nspImageWrapper {
  position: relative;
}
.nspBg .nspArts .nspArt a.nspImageWrapper::before {
  content: " ";
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.79)));
  
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.79) 100%);
  
}
.nspBg .nspArts .nspArt .nspHeader {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 0 20px 45px;
}
.nspBg .nspArts .nspArt .nspHeader a {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
.nspBg .nspArts .nspArt .nspInfo {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  z-index: 1;
  padding: 10px 20px;
}
.nspBg .nspArts .nspArt .nspInfo a.nspCategory {
  position: absolute;
  top: 50%;
  margin-top: -65px;
  bottom: auto;
  left: 20px;
  padding: 0 6px;
  height: 20px;
  line-height: 21px;
  font-size: 11px;
  background: #b79951;
  color: #fff;
}
.nspBg .nspArts .nspArt .nspInfo a.nspAuthor {
  color: #fff;
}
.nspBg .nspArts .nspTopInterface {
  position: absolute;
  top: 10px !important;
  right: 25px;
  z-index: 2;
}
.nspBg .nspArts .nspTopInterface .nspNext,
.nspBg .nspArts .nspTopInterface .nspPrev {
  border: none;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  margin: 0 2px;
  text-indent: -9999em;
  background: #2b2726;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.nspBg .nspArts .nspTopInterface .nspNext:hover,
.nspBg .nspArts .nspTopInterface .nspPrev:hover {
  background: #b79951;
}
.nspBg .nspArts .nspTopInterface .nspNext:before,
.nspBg .nspArts .nspTopInterface .nspPrev:before {
  text-indent: 0;
  border: none;
  margin: 0;
  font-family: FontAwesome;
  background: none;
  display: inline-block;
  width: 26px;
  text-align: center;
  color: #fff;
  opacity: 1;
}
.nspBg .nspArts .nspTopInterface .nspNext:before {
  content: "\f105";
}
.nspBg .nspArts .nspTopInterface .nspPrev:before {
  content: "\f104";
}
.nspBg .nspArts .nspTopInterface .nspPagination li {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
}
.nspBg .nspArts .nspTopInterface .nspPagination li.active {
  background: #b79951;
}

.tab-news .nspText .nspLinksWrap .nspLinks ul.nspList li {
  padding-bottom: 15px !important;
}
.nspText .nspArts .nspArt {
  position: relative;
}
.nspText .nspArts .nspArt h4.nspHeader {
  margin: 0;
  line-height: 100%;
  padding: 0 0 5px;
}
.nspText .nspArts .nspArt h4.nspHeader a {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}
.nspText .nspArts .nspArt h4.nspHeader a:hover {
  color: #b79951;
}
.nspText .nspArts .nspArt .nspInfo {
  font-size: 13px;
  color: #999999;
}
.nspText .nspArts .nspArt .nspInfo a {
  color: #999999;
}
.nspText .nspArts .nspArt .nspInfo a.nspCategory {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #b79951;
  color: #fff;
  padding: 0 6px;
  height: 20px;
  line-height: 21px;
  font-size: 11px;
  margin-top: auto !important;
}
.nspText.nspRight .nspArts .nspArt .nspInfo a.nspCategory {
  right: 0 !important;
  left: auto !important;
}
.nspText .nspLinksWrap .nspLinks ul.nspList:first-child li {
  margin-right: 5px !important;
}
.nspText .nspLinksWrap .nspLinks ul.nspList li {
  border-top: 0;
  padding: 3px 3px 6px;
  display: inline-block;
}
.nspText .nspLinksWrap .nspLinks ul.nspList li h4 {
  margin-top: 0;
}
.nspText .nspLinksWrap .nspLinks ul.nspList li h4 a {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.nspText .nspLinksWrap .nspLinks ul.nspList li h4 a:hover {
  color: #b79951;
}
.nspText a.nspImageWrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.nspText.dontMiss .nspArtPage .nspArt:first-child {
  padding-right: 10px !important;
}
.nspText.dontMiss .nspArtPage .nspArt:nth-child(2) {
  padding-left: 10px !important;
}
.nspText.dontMiss .nspList {
  opacity: 1;
}

.module.nspDark {
  background: #222;
  padding: 30px 20px 15px;
  color: #fff;
}
.module.nspDark.title-arrow .nspTopInterface {
  top: 10px !important;
  right: 20px !important;
}
.module.nspDark .nspArt .nspInfo {
  margin: 10px 0 0;
  color: #999;
}
.module.nspDark .nspArt .nspInfo a {
  color: #999;
}
.module.nspDark .nspArt .nspInfo a:hover {
  color: #b79951;
}
.module.nspDark .nspArt .nspInfo .nspHits {
  position: absolute;
  top: 0;
  left: 0;
  background: #b79951;
  color: #fff;
  padding: 3px 8px 3px 7px;
  font-size: 14px;
  margin-left: 0;
}
.module.nspDark .nspArt .nspInfo .nspHits i {
  font-weight: 700;
}
.module.nspDark .nspArt .nspInfo .nspCategory {
  text-transform: capitalize;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  line-height: 12px;
  height: 12px;
  display: inline-block;
  padding: 0 5px;
  margin-left: 2px;
}
.module.nspDark .nspArt h4.nspHeader {
  margin: 0;
  line-height: 100%;
  padding: 0;
}
.module.nspDark .nspArt h4.nspHeader a {
  font-size: 16px;
  color: #fff;
}
.module.nspDark .nspArtPage .nspArt:nth-child(2) {
  padding-bottom: 0 !important;
}
.module.nspDark .gkNspPM-VideoList {
  padding-bottom: 10px;
  position: inherit;
}
.module.nspDark .gkNspPM-VideoList .gkItem.video .gkImageWrap:before {
  background: none !important;
}
.module.nspDark .gkNspPM-VideoList .gkItem {
  cursor: auto;
}
.module.nspDark .gkNspPM-VideoList .gkItem:hover figcaption {
  background: rgba(0, 0, 0, 0.15);
}
.module.nspDark .gkNspPM-VideoList figcaption:hover {
  background: rgba(0, 0, 0, 0.15);
}
.module.nspDark .gkNspPM-VideoList figcaption:hover h3 a {
  color: #b79951;
}
.module.nspDark .gkNspPM-VideoList h3 {
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 20px;
}
.module.nspDark .gkNspPM-VideoList h3 a {
  color: #fff;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNav {
  border-top: 0;
  margin: 0 19px;
  position: absolute;
  top: 12px;
  right: 0;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNavPagination {
  padding: 0 40px;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNavNext,
.module.nspDark .gkNspPM-VideoList .gkBottomNavPrev {
  height: auto;
  border: 1px solid #999;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNavNext:hover,
.module.nspDark .gkNspPM-VideoList .gkBottomNavPrev:hover {
  background: #b79951;
  color: #fff;
  border: 1px solid transparent;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNavNext:hover:after,
.module.nspDark .gkNspPM-VideoList .gkBottomNavPrev:hover:after {
  color: #fff;
}
.module.nspDark .gkBigBlock figcaption {
  padding: 0 10px 10px 10px !important;
}
.module.nspDark .gkBigBlock figcaption h3 a {
  font-size: 18px !important;
}
.module.nspDark .gkNspPM-VideoList .gkBottomNavPagination li:hover,
.module.nspDark .gkNspPM-VideoList .gkBottomNavPagination li.active {
  background: #b79951;
}

.ts-content-top .banneritem {
  margin: 12px 0;
}
.ts-content-mid {
  padding: 20px 0 0;
}

.t3-sidebar .nspText .nspArts .nspArt h4.nspHeader,
.t3-footer .nspText .nspArts .nspArt h4.nspHeader {
  line-height: 18px !important;
}
.t3-sidebar .nspText .nspArts .nspArt h4.nspHeader a,
.t3-footer .nspText .nspArts .nspArt h4.nspHeader a {
  font-size: 14px !important;
  font-weight: 700;
}
.t3-sidebar .nspText .nspArts .nspArt .nspInfo,
.t3-footer .nspText .nspArts .nspArt .nspInfo {
  margin: 0;
}
.t3-sidebar .nspText .nspArts .nspArt .nspInfo a.nspCategory,
.t3-footer .nspText .nspArts .nspArt .nspInfo a.nspCategory {
  font-size: 10px !important;
  height: 18px;
  line-height: 18px;
  left: 0;
  top: 0;
}
.t3-sidebar .nspText .nspLinksWrap .nspLinks ul.nspList li h4,
.t3-footer .nspText .nspLinksWrap .nspLinks ul.nspList li h4 {
  margin-bottom: 10px;
}
.t3-sidebar .module.nspDark,
.t3-footer .module.nspDark {
  margin-bottom: 30px;
}
.t3-sidebar .module.nspDark.title-arrow .nspTopInterface,
.t3-footer .module.nspDark.title-arrow .nspTopInterface {
  top: 20px !important;
  right: 20px !important;
}

.tabSidebar .gkTabsWrap.vertical ol {
  margin-left: 15px !important;
  border-bottom: 0 !important;
}
.tabSidebar .gkTabsWrap .gkTabsContainer {
  border-top: 3px solid #b79951;
}
.tabSidebar .gkTabsWrap.vertical > ol li,
.tabSidebar .gkTabsWrap.horizontal > ol li {
  background: #2b2726;
  text-shadow: none;
  color: #fff;
  text-shadow: none !important;
  font-weight: 700;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-family: Roboto Slab, sans-serif;
}
.tabSidebar .gkTabsWrap.vertical ol li:hover,
.tabSidebar .gkTabsWrap.vertical ol li.active,
.tabSidebar .gkTabsWrap.horizontal ol li:hover,
.tabSidebar .gkTabsWrap.horizontal ol li.active {
  background: #b79951;
}

.sj-videobox {
  margin: 0 0 -15px !important;
}
.sj-videobox .sj-video-list .sj-video-list-item {
  padding-bottom: 0 !important;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image .bg-hover,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image .bg-hover {
  height: 40px !important;
  width: 55px !important;
  margin: -20px 0 0 -25px !important;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image .bg-hover:after,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image .bg-hover:after {
  border-width: 12px !important;
  margin-top: -12px !important;
}

div.k2CalendarBlock {
  margin-bottom: 20px;
}
table.calendar tr td.calendarDateLinked a:hover,
table.calendar tr td.calendarToday {
  background: #b79951;
}

div.k2TagCloudBlock a {
  color: #333333;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
div.k2TagCloudBlock a:hover {
  background: #b79951;
  color: #fff;
}

.adSidebar {
  text-align: center;
}
.adSidebar.module {
  margin: -10px 0 35px;
  padding: 20px 10px 25px;
  background: #f2f2f2;
  border: 1px solid #e7e7e7;
}
.adSidebar h3 {
  font-size: 10px;
  color: #999 !important;
  margin: 0 0 10px;
}
.adSidebar img {
  display: inline-block;
  text-align: center;
}

div.k2CategoriesListBlock ul.level0 > li > a {
  color: #333333;
}
div.k2CategoriesListBlock ul li a {
  color: #333333;
}
div.k2CategoriesListBlock ul li a:hover {
  color: #b79951;
}

.t3-footer {
  padding: 60px 0 0;
  background: #2b2726;
  border-top: 1px solid #c2c2c2;
  
}
.t3-footer .module-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
  color: #fff !important;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer .nspText .nspArts .nspArt h4.nspHeader a {
  font-weight: 700;
  color: #c2c2c2;
}
.t3-footer .nspText .nspArts .nspArt h4.nspHeader a:hover {
  color: #b79951;
}

.sp-tweet {
  position: relative;
  z-index: 2;
  margin-top: -10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sp-tweet .sp-tweet-list {
  position: relative;
  margin: 5px -5px;
}
.sp-tweet .sp-tweet-list:before {
  font-family: FontAwesome;
  content: "\f099";
  position: absolute;
  left: 0;
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-top: 0;
  color: #999;
}
.sp-tweet .sp-tweet-list .date a {
  font-size: 12px !important;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.sp-tweet .sp-tweet-list .date a:hover {
  color: #d5c399;
}
.sp-tweet .sp-tweet-list .tweet-user-info img.tweet-avatar {
  display: none;
}
.sp-tweet .sp-tweet-list .bubble-tl,
.sp-tweet .sp-tweet-list .bubble-tr,
.sp-tweet .sp-tweet-list .bubble-tm,
.sp-tweet .sp-tweet-list .bubble-l,
.sp-tweet .sp-tweet-list .bubble-r,
.sp-tweet .sp-tweet-list .bubble-m,
.sp-tweet .sp-tweet-list .bubble-bm,
.sp-tweet .sp-tweet-list .bubble-bl,
.sp-tweet .sp-tweet-list .bubble-br {
  background: none;
}
.sp-tweet .sp-tweet-list .tweet-text {
  font-size: 12px;
  color: #c2c2c2;
  margin-left: 35px !important;
}
.sp-tweet .sp-tweet-list .bubble-m {
  padding: 0;
  line-height: 18px;
}
.sp-tweet .sp-tweet-list .source {
  display: none;
}
.sp-tweet .sp-tweet-item {
  padding: 0;
  margin-top: -25px;
  border-bottom: 0;
}
.sp-tweet .sp-tweet-item .source {
  display: none;
}
.sp-tweet .sp-tweet-item .date {
  position: absolute;
  left: 53px;
  bottom: -35px;
  font-size: 13px;
}
.sp-tweet .sp-tweet-item img.tweet-avatar {
  display: none !important;
}
.sp-tweet .sp-tweet-item:before {
  font-family: FontAwesome;
  content: "\f099";
  position: absolute;
  bottom: -45px;
  left: 0;
  font-size: 16px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #b79951;
  border-radius: 100%;
  margin-right: 5px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
}
a.followme {
  display: none !important;
}

.footer-contact-info {
  margin-top: 20px;
  margin-bottom: -10px;
}
.footer-contact-info p {
  color: #c2c2c2;
  margin-bottom: 5px;
}

.sp_social a {
  color: #999;
  font-size: 16px !important;
}
.sp_social a:hover {
  color: #b79951;
}

.t3-copyright {
  background: #b79951;
  padding: 30px 0 25px;
  margin-top: 20px;
  color: #fff;
}
.t3-copyright a {
  color: #000;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.t3-copyright ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.t3-copyright ul li {
  display: inline-block;
  padding: 0;
  margin: 0 2px 0 0;
  background: none;
}
.t3-copyright ul li a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 5px;
  font-weight: 400;
}
.t3-copyright ul li a:hover {
  background: none;
  color: #fff;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}

#back-to-top {
  right: 40px;
  top: auto;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}
#back-to-top .btn-primary {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
}
#back-to-top.affix {
  bottom: 25px;
}
.ts-main-bottom {
  margin-top: -20px;
  margin-bottom: 20px;
}

.catItemTitle a,
.userItemTitle a,
.tagItemTitle a {
  color: #333333;
}
.catItemTitle a:hover,
.userItemTitle a:hover,
.tagItemTitle a:hover {
  color: #b79951;
}

div.catItemCategory,
.userItemCategory,
.tagItemCategory {
  background: #b79951;
}
div.catItemCategory a,
.userItemCategory a,
.tagItemCategory a {
  color: #fff;
}
.catItemInfo a:hover,
div.k2LatestCommentsBlock ul li span.lcComment:hover {
  color: #b79951 !important;
}

.bt-social-share {
  background: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  padding: 15px 0;
}

.itemRelCat {
  background: #b79951;
}
.itemRelCat a {
  color: #fff;
}
a.itemRelTitle:hover,
.itemNavigation a:hover,
a#comment3:hover,
.commentAuthorName a:hover {
  color: #b79951 !important;
}

.header2 .logo a {
  margin-top: 20px;
}

.title-arrow.module {
  position: relative;
}
.title-arrow h3.module-title {
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 0;
  font-weight: bold;
  border-bottom: 3px solid #b79951;
}
.title-arrow h3.module-title > span {
  background: #b79951;
  position: relative;
  padding: 8px 10px 7px;
  color: #fff;
}
.title-arrow h3.module-title > span:before {
  border-right: 14px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  right: -14px;
  top: 0;
  width: 0;
  border-bottom: 35px solid #b79951;
}
.title-arrow h3.module-title > span:after {
  border-left: 15px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  position: absolute;
  left: -15px;
  top: 0;
  width: 0;
}
.title-arrow.aqua h3.module-title {
  border-bottom: 3px solid #46a28d;
}
.title-arrow.aqua h3.module-title > span {
  background: #46a28d;
}
.title-arrow.aqua h3.module-title > span:before {
  border-bottom: 34px solid #46a28d;
}
.title-arrow.aqua .nspArts .nspArt .nspInfo a.nspCategory {
  background: #46a28d;
}
.title-arrow.aqua .nspArts .nspTopInterface .nspPagination li.active {
  background: #46a28d;
}
.title-arrow.pink h3.module-title {
  border-bottom: 3px solid #c10551;
}
.title-arrow.pink h3.module-title > span {
  background: #c10551;
}
.title-arrow.pink h3.module-title > span:before {
  border-bottom: 34px solid #c10551;
}
.title-arrow.pink .nspArts .nspArt .nspInfo a.nspCategory {
  background: #c10551;
}
.title-arrow.pink .nspArts .nspTopInterface .nspPagination li.active {
  background: #c10551;
}
.title-arrow.blue h3.module-title {
  border-bottom: 3px solid #0175c8;
}
.title-arrow.blue h3.module-title > span {
  background: #0175c8;
}
.title-arrow.blue h3.module-title > span:before {
  border-bottom: 34px solid #0175c8;
}
.title-arrow.blue .nspArts .nspArt .nspInfo a.nspCategory {
  background: #0175c8;
}
.title-arrow.blue .nspArts .nspTopInterface .nspPagination li.active {
  background: #0175c8;
}
.title-arrow.orange h3.module-title {
  border-bottom: 3px solid #f7a834;
}
.title-arrow.orange h3.module-title > span {
  background: #f7a834;
}
.title-arrow.orange h3.module-title > span:before {
  border-bottom: 34px solid #f7a834;
}
.title-arrow.orange .nspArts .nspArt .nspInfo a.nspCategory {
  background: #f7a834;
}
.title-arrow.green h3.module-title {
  border-bottom: 3px solid #73ba5d;
}
.title-arrow.green h3.module-title > span {
  background: #73ba5d;
}
.title-arrow.green h3.module-title > span:before {
  border-bottom: 34px solid #73ba5d;
}
.title-arrow.green .nspArts .nspArt .nspInfo a.nspCategory {
  background: #73ba5d;
}
.title-arrow.gray h3.module-title {
  border-bottom: 3px solid #999;
}
.title-arrow.gray h3.module-title > span {
  background: #999;
}
.title-arrow.gray h3.module-title > span:before {
  border-bottom: 34px solid #999;
}
.title-arrow.gray .nspArts .nspArt .nspInfo a.nspCategory {
  background: #b79951;
}
.title-arrow.nspBg .nspTopInterface {
  top: -8px !important;
}
.title-arrow .nspTopInterface {
  position: absolute;
  top: -8px !important;
  right: -2px !important;
  z-index: 2;
}
.title-arrow .nspTopInterface .nspNext,
.title-arrow .nspTopInterface .nspPrev {
  border: none;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  margin: 0 2px;
  text-indent: -9999em;
  background: #2b2726;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.title-arrow .nspTopInterface .nspNext:hover,
.title-arrow .nspTopInterface .nspPrev:hover {
  background: #b79951;
}
.title-arrow .nspTopInterface .nspNext:before,
.title-arrow .nspTopInterface .nspPrev:before {
  text-indent: 0;
  border: none;
  margin: 0;
  font-family: FontAwesome;
  background: none;
  display: inline-block;
  width: 26px;
  text-align: center;
  color: #fff;
  opacity: 1;
}
.title-arrow .nspTopInterface .nspNext:before {
  content: "\f105";
}
.title-arrow .nspTopInterface .nspPrev:before {
  content: "\f104";
}
.title-arrow .nspBotInterface {
  float: left;
  margin: -10px 0 0 0;
}
.title-arrow .nspBotInterface .nspNext,
.title-arrow .nspBotInterface .nspPrev {
  border: none;
  border-radius: 0;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  margin: 0 2px;
  text-indent: -9999em;
  background: none;
  border: 1px solid #e5e5e5;
  color: #333333;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.title-arrow .nspBotInterface .nspNext:hover,
.title-arrow .nspBotInterface .nspPrev:hover {
  border: 1px solid transparent;
  background: #b79951;
  color: #fff;
}
.title-arrow .nspBotInterface .nspNext:before,
.title-arrow .nspBotInterface .nspPrev:before {
  text-indent: 0;
  border: none;
  margin: 0;
  font-family: FontAwesome;
  background: none;
  display: inline-block;
  width: 26px;
  text-align: center;
  opacity: 1;
}
.title-arrow .nspBotInterface .nspNext:before {
  content: "\f105";
}
.title-arrow .nspBotInterface .nspPrev:before {
  content: "\f104";
}