/* Module Brainymore styles */
.bm_over{position:relative; overflow:hidden; width:100%; height:auto;}
.bm_slider{position:relative; overflow:hidden;white-space:normal; border-radius:5px; width:100%;}
.bm_slider .bm_slider_item{overflow:hidden;white-space:normal; width:100%;}
.bm_slider .bm_slider_item a img{ width: 100%; height: auto }
/** For default layout **/
.bm_slider_default .bm_slider_item .bm_slider_title{position:absolute; left:-100%; top:30px; background: rgba(103, 155, 8, 0.8); white-space:normal; padding:10px; -webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
.bm_slider_default .bm_slider_item .bm_slider_title a{font-weight:bold;color:#fff; font-size:14pt}
.bm_slider_default .bm_slider_item .bm_slider_desc{position:absolute; right:-100%; bottom:20px; color:#fff; background: rgba(103, 155, 8, 0.8); white-space:normal; width:50%; -webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
.bm_slider_default .bm_slider_item .bm_slider_desc .bm_desc_inside{padding:10px;}
.bm_slider_default .bm_slider_item .bm_slider_desc .bm_desc_inside a.bm_readmore_button{color:#fff; font-weight:bold}

.bm_slider_default .bm_cycle_slider_active .bm_slider_title{left:0px;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
.bm_slider_default .bm_cycle_slider_active .bm_slider_desc{right:0px;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}

.bm_over_default .bm_slider_button{position: absolute; bottom:0px; z-index:100; bottom:31px; left:-84px; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out; }
.bm_over_default .bm_slider_button:hover{left:0px;}
.bm_over_default .bm_slider_button div{cursor:pointer; width:42px; height:42px; text-indent:99999px; overflow:hidden; float:left; opacity:0.5}

div.bm_slider_default:hover ~ div.bm_slider_button{left:0px;}
/** End for default layout **/

/** For theme1 layout **/

.bm_slider_theme1 .bm_slider_item{ padding: 4px;}
.bm_slider_theme1 .bm_slider_item:hover{ 
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #dedede;
}
.bm_slider_theme1 .bm_slider_item .bm_slider_title{margin-bottom:5px;margin-top:5px;text-align: center;}
.bm_slider_theme1 .bm_slider_item .bm_slider_title a{ font-size: 13pt;font-weight: bold;}
.bm_slider_theme1 .bm_slider_item .bm_slider_desc{ font-size: 11pt;padding: 0 4px;text-align: left;}
.bm_slider_theme1 .bm_slider_item .bm_slider_desc .bm_desc_inside a.bm_readmore_button{ font-weight:bold}

.bm_over_theme1 .bm_slider_button{z-index:100; width:100%; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out; }
.bm_over_theme1 .bm_slider_button .bm_slider_prev{position:absolute; left:-42px; top:50%; z-index:100; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out; }
.bm_over_theme1 .bm_slider_button .bm_slider_next{position:absolute; right:-42px; top:50%; z-index:100; -webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out; }
div.bm_slider_theme1:hover ~ div.bm_slider_button .bm_slider_prev{left:0px;}
div.bm_slider_theme1:hover ~ div.bm_slider_button .bm_slider_next{right:0px;}
.bm_over_theme1 .bm_slider_button .bm_slider_prev:hover{left:0px;}
.bm_over_theme1 .bm_slider_button .bm_slider_next:hover{right:0px;}

.bm_over_theme1 .bm_slider_button:hover{left:0px;}
.bm_over_theme1 .bm_slider_button div{cursor:pointer; width:42px; height:42px; text-indent:99999px; overflow:hidden; float:left; opacity:0.5}
/** End For theme1 layout **/

.bm_over .bm_slider_button .bm_slider_prev{background:url(../images/sprite-default.png) no-repeat -42px -42px transparent;}
.bm_over .bm_slider_button .bm_slider_prev:hover{opacity:1}
.bm_over .bm_slider_button .bm_slider_next{background:url(../images/sprite-default.png) no-repeat 0px -42px transparent;}
.bm_over .bm_slider_button .bm_slider_next:hover{opacity:1}

/* pager */
.bm_slider_cycle_pager { 
    text-align: center; width: 100%; z-index: 500;  top: 10px; overflow: hidden; position:relative;
}
.bm_slider_cycle_pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.bm_slider_cycle_pager span.bm_slider_cycle_pager_active { color: #679B08;}
.bm_slider_cycle_pager > * { cursor: pointer;}

/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: none repeat scroll 0 0 rgba(103, 155, 8, 0.8); padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.bm_slider .bm_slider_item .bm_slider_desc{ display:none;}
}
